<form class="form-section" [formGroup]="descriptionForm">
    <h3>Description</h3>

    <div class="info-block">
      <div class="info-block-wrapper">
        <div class="block-section pt-[40px]">
          <h4>Full Description<span class="ml-[10px]">(optional)</span></h4>
          <div class="input-section">
            <textarea class="gradient-border-solid" name="" id="" rows="10"
              formControlName="fullDescription"></textarea>
            <span>The text should not contain more than 300 characters</span>
          </div>
        </div>
      </div>
    </div>

</form>