
 <div class="main-block-wrapper">
    <form class="main-block" [formGroup]="transferForm">
        <section class="border-b border-dark-grey">
            <h4 class="marb-16-to-12">{{'header.token' | translate}}</h4>

            <common-dropdown class="marb-16-to-12" [title]="'Select Token'" (selectedToken)="onSelectToken($event)"
                [items]="menuItems"></common-dropdown>

            <span class="padb-16-to-12">{{'header.select_the_token_you_want_to_send' | translate}}</span>
        </section>

        <section class="border-b border-dark-grey">
            <h4 class="marb-16-to-12">To</h4>
            <input formControlName="address" placeholder="Recipient address" type="text"
                (blur)="isAddressValid()">
            <div class="captions-wrapper">
              <span @showMessage class="padb-16-to-12" *ngIf="addressValid">{{'header.enter_the_address_for_the_transfer' | translate}}</span>
              <span @showMessage class="error-message padb-16-to-12" *ngIf="!addressValid">{{'header.incorrect_address' | translate}}</span>
            </div>

        </section>

        <section>
            <div class="flex justify-between items-center marb-16-to-12">
                <h4>{{'header.amount_to_send' | translate}}</h4>
                <span [ngClass]="selectedToken && !addressTouched && addressValid ? 'pointer-events-all !text-yellow': 'pointer-events-none text-light-grey'" class="max-button transition-color cursor-pointer" (click)="onClickMax()">MAX</span>
            </div>
            <div class="relative marb-16-to-12"
                [ngClass]="selectedToken ? 'text-white': 'text-light-grey pointer-events-none'">
                <input
                    formControlName="amount"
                    class="!mb-0 amount-input" type="text"
                    [allowNegativeNumbers]="false"
                    mask="{{maskForAmount}}"
                    decimalMarker="."
                    placeholder="0 Token"
                    (blur)="estimateGas(selectedToken.title, selectedToken.value)">
                <div *ngIf="selectedToken?.title" class="suffix">
                  <div class="token-wrapper mr-[5px]">
                    <span [ngClass]="selectedToken?.title == 'MATIC' ? 'icon-font-MATIC' : 'icon-font-USDC'"></span>
                    <span class="token-background"></span>
                  </div>
                    <!-- <img loading="lazy" class="mr-[5px]" [src]="selectedToken?.title == 'MATIC' ? 'assets/images/matic.webp' : 'assets/images/usdc.webp'" alt=""> -->
                    <p>{{selectedToken?.title}}</p>
                </div>
            </div>

            <div @showGas *ngIf="gasFee" class="flex flex-row gas-fee-wrapper marb-16-to-12">
                <div class="line-info mr-[6px]"></div>
              <span class="gas-fee">{{'header.gas_fee' | translate}}: {{gasFee ? gasFee: '0'}} MATIC </span>
            </div>
            <div class="captions-wrapper">
              <span @showMessage class="!border-0 amount-caption padb-16-to-12" *ngIf="!(ammountError | async)">{{'header.enter_the_number_of_tokens' | translate}}</span>
              <span @showMessage class="error-message padb-16-to-12" *ngIf="ammountError | async">{{'header.you_dont_have_enough_tokens_of_this_type' | translate}}.</span>
            </div>
        </section>
    </form>
</div>

<div class="buttons">
    <button matRipple (click)="onClose()">Cancel</button>
    <button matRipple class="button-2" [disabled]="!amount || !addressValid || addressTouched || (ammountError |async)" (click)="onTransfer()">{{'header.confirm' | translate}}</button>
</div>