@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'styles/scss/variables';


.menu-filter {
    width: auto !important;
}
.dropdown {
    min-width: 100px;
}
.dropdown-menu {
    width: 100%;
}

.line-arrow_down {
    transition: color .3s, background-color .3s;

    &:hover {
        color: $black !important; 
    }
}