<a class="flex flex-col selected-game-card min-w-[180px] max-w-[392px] w-full h-[278px] flex-auto overflow-hidden rounded-[24px] cursor-pointer totem-hover" routerLink="/game/{{game?.id}}">
    <div *ngIf="game?.images?.cardThumbnail" class="img-wrapper h-[180px]">
        <img class="object-cover h-full" loading="lazy" [src]="game?.images?.cardThumbnail" alt="Not found">
    </div>
    <div class="game-card-content py-3 px-4 flex flex-col items-start justify-between h-full w-full">
        <div class="flex flex-col items-start justify-start w-full">
          <p class="font-medium max-w-[220px] w-full text-[20px] leading-[22px] truncate">{{game?.general?.name}}</p>
          <!-- <p class="text-light-grey font-normal text-[16px] leading-[17px] text-ellipsis max-2-lines max-w-[360px] mt-2">{{game?.general?.description}}</p> -->
        </div>
        <div class="flex flex-row items-center justify-between mt-2 w-full">
          <ng-container *ngIf="!(statsLoading$ | async); else statsLoading">
            <div class="flex flex-col items-start justify-start">
              <p class="font-medium text-[16px] leading-[17px]">{{game?.players || 0}}</p>
              <p class="mt-1 font-medium text-[14px] leading-[15px] text-[#8A939B]">Players</p>
            </div>
            <div class="flex flex-col items-start justify-start">
              <p class="font-medium text-[16px] leading-[17px]">{{game?.assets?.items || 0}}</p>
              <p class="mt-1 font-medium text-[14px] leading-[15px] text-[#8A939B]">Items</p>
            </div>
            <div class="flex flex-col items-start justify-start">
              <p class="font-medium text-[16px] leading-[17px]">{{game?.assets?.avatars || 0}}</p>
              <p class="mt-1 font-medium text-[14px] leading-[15px] text-[#8A939B]">Avatars</p>
            </div>
          </ng-container>
          <ng-template #statsLoading>
            <span class="min-h-[17px] w-[20%] totem-skeleton"></span>
            <span class="min-h-[17px] w-[20%] totem-skeleton"></span>
            <span class="min-h-[17px] w-[20%] totem-skeleton"></span>
          </ng-template>
        </div>
    </div>

</a>
