

<div class="item cursor-pointer mx-2 mt-2 rounded">
    <img class="h-80" src="assets/images/item-test.jpg" alt="">

    <div class="p-4">
        <div class="flex justify-between">
            <h4>ID: 1111</h4>
            
            <mat-icon *ngIf="isLiked === false" class="like" [svgIcon]="'line:like'" (click)="onClickLike()"></mat-icon>
            <mat-icon *ngIf="isLiked === true" class="text-yellow" [svgIcon]="'solid:like'" (click)="onClickLike()"></mat-icon>
        </div>

        <div class="flex">
            <div>
                <h5>24.24.2424</h5>
                <span class="text-light-grey">Last time used</span>
            </div>
            <div class="ml-12">
                <h5>566</h5>
                <span class="text-light-grey">Games played</span>
            </div>
        </div>
    </div>

</div>