<!-- Balance -->
<div class="balance"
[ngClass]="mode != 'small' ? 'pl-[12px]': ''">
    <!-- *ngIf="mode != 'small'" -->
    <div class="title" (click)="onToggleDropdown()">
      <h3 *ngIf="mode != 'small'">Balance</h3>
      <h4 *ngIf="mode == 'small'">Balance</h4>
      <div class="balance-preview" [ngStyle]="{'opacity': isDropdownOpened === true ? '0': '1'}">
        <div class="balance-info">
          <div [ngStyle]="{'opacity': balanceFlag ? '1' : '0'}" class="balance-info-item flex flex-row z-2">
            <!-- <img loading="lazy" src="assets/images/usdc.webp" alt="USDC"> -->
            <div class="token-wrapper">
              <span class="icon-font-USDC"></span>
              <span class="token-background"></span>
            </div>
            <p class="truncate balance-value ml-[8px]">{{tokenBalance | currencySuffix : 1}}</p>
            <span class="ml-[2px]">USDC</span>
          </div>
          <div [ngStyle]="{'opacity': !balanceFlag ? '1' : '0'}" class="balance-info-item flex flex-row z-2">
            <!-- <img loading="lazy" src="assets/images/matic.webp" alt="MATIC"> -->
            <div class="token-wrapper">
              <span class="icon-font-MATIC"></span>
              <span class="token-background"></span>
            </div>
            <p class="truncate balance-value ml-[8px]">{{maticBalance}}</p>
            <span class="ml-[2px]">MATIC</span>
          </div>
        </div>
      </div>
      <mat-icon class="z-2" [ngStyle]="{'transform': isDropdownOpened === true ? 'rotate(0deg)': 'rotate(180deg)'}" [svgIcon]="'line:arrow_up'"></mat-icon>
    </div>

  <div class="dropdown" #dropdown>

    <div class="item !pt-[25px]">
      <div class="cursor-pointer token-wrapper mr-[20px]">
        <span class="icon-font-USDC"></span>
        <span class="token-background"></span>
      </div>

      <div class="flex flex-col justify-between">
        <p>USDC</p>
        <span class="truncate text-light-grey">{{tokenBalance}}</span>
      </div>
    </div>

    <div class="item">
      <a class="cursor-pointer token-wrapper mr-[20px]" href="https://mumbaifaucet.com/" target="_blank">
        <span class="icon-font-MATIC"></span>
        <span class="token-background"></span>
      </a>

      <div class="flex flex-col justify-between">
        <p>MATIC</p>
        <span class="truncate text-light-grey">{{maticBalance}}</span>
      </div>
    </div>

    <div class="item">
      <a class="cursor-pointer discord-token-wrapper mr-[20px]">
        <span class="icon-font-discord"></span>
      </a>
      <!-- <img loading="lazy" src="assets/images/social.png" alt=""> -->
      <div class="flex flex-col justify-between">
        <p>Totem</p>
        <span class="truncate text-light-grey">Soon...</span>
      </div>
    </div>

    <div class="button-wrapper w-full flex flex-row pb-[25px] pt-[10px]">
      <button matRipple (click)="onSend()" class="w-full send-button" fxFlex="48%">Send</button>
      <totem-button class="w-full" fxFlex="48%" [disabled]="disableButton" [caption]="'Claim'" [width]="'100%'" (click)="!disableButton ? onClaim() : undefined"></totem-button>
    </div>

  </div>
</div>
