<div *ngIf="game && !pageNotFound" class="wrapper pb-[60px] pt-[50px] sm:py-[60px] lg:py-[40px] relative">

    <div class="z-1 flex gap-[40px] justify-center lg:justify-between flex-wrap-reverse lg:flex-nowrap">
        <game-description class="w-full lg:w-[60%]" [game]="game"></game-description>

        <game-review class="min-w-fit lg:min-w-[550px] w-full lg:w-[40%]" [editInfo]="editInfo" [game]="game"></game-review>
    </div>
</div>


<div *ngIf="!game && !pageNotFound" class="w-full h-[calc(100vh-70px)] flex justify-center items-center">
    <totem-spinner></totem-spinner>
</div>

<not-found class="h-[calc(100vh-70px)]" *ngIf="pageNotFound"></not-found>

