
@import 'styles/scss/variables';

.wrapper {
    width: 100%;
    max-width: 1520px;
    // height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    .img-wrapper {
        max-height: 420px;
        position: relative;
        // height: 100%;
        display: flex;
        border-radius: 4px;
        background: $linear-glass;
        img {
          z-index: 1;
            object-fit: cover;
            border-radius: 4px;
            min-height: 180px;
            // height: 100%;
            border-radius: 4px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
  //       &::before {
  //         content: '';
  //         position: absolute;
  //         border-radius: 4px;
  //         bottom: 15px;
  //         right: 15px;
  //         left: 15px;
  //         top: 15px;
  //         background-color: $grey;
  // }
    }
}

.promo-video {
    position: relative;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    height: 598px;
    // max-width: 1164px;
    width: 100%;
    border-radius: 4px;
    @media (max-width: 999px) {
      height: 600px;
    }
    @media (max-width: 767px) {
      height: 350px;
    }
    @media (max-width: 490px) {
      height: 200px;
    }
    .totem-video {
      height: inherit;
      width: 100%;
      border: none;
      border-radius: 4px;
    }
    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 1;
      inset: 0;
      padding: 1px;
      border-radius: 4px 4px 4px 4px;
      background: $linear-light;
      -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      transition: opacity 0.33s ease-out;
    }
  }
