<div class="totem-sidebar-wrapper" (click)="close(); $event.stopPropagation()"
  [ngStyle]="{'pointer-events': sidebarIsOpen ? 'all' : 'none'}" [ngClass]="{'opened-bar': sidebarIsOpen}">
  <div class="totem-sidebar" (click)="$event.stopPropagation()" #sidebar
    [ngStyle]="{'transform': sidebarIsOpen ? 'translateX(0px)' : ''}" fxLayout="column" fxLayoutAlign="start center">
    <ng-container *ngIf="sidebarType === 'nav'">
      <div class="totem-sidebar-bg">
        <span style="--i: -2s;" class="first-circle"></span>
        <span style="--i: -3s;" class="second-circle"></span>
        <span style="--i: -4s;" class="third-circle"></span>
        <span style="--i: -5s;" class="fourth-circle"></span>
        <span style="--i: -6s;" class="fifth-circle"></span>
      </div>
      <div class="button-wrap" (click)="close()">
        <mat-icon class="close-button" [svgIcon]="'line:arrow_right'"></mat-icon>
      </div>

      <!-- Authenticated User -->
      <ng-container *ngIf="userData; else unauthblock">
        <a class="user-image" fxLayout="column" fxLayoutAlign="center center"
        (click)="close()" routerLink="/profile">
          <img [src]="userData?.profileImage || 'assets/images/user-icon.png'" alt="user-icon">
        </a>
        <ng-container *ngIf="userData?.name?.length">
          <div class="user-name">
            {{userData?.name}}
            <span class="tooltiptext">{{userFullName}}</span>
          </div>
          <div [cdkCopyToClipboard]="wallet || ''" [cdkCopyToClipboardAttempts]="2"
            (cdkCopyToClipboardCopied)="notify()" fxLayout="row" fxLayoutAlign="center end" class="user-id">
            {{walletNumber}}
            <mat-icon class="copy-icon" fontSet="material-icons-round">content_copy</mat-icon>
            <!-- <img [cdkCopyToClipboard]="wallet" [cdkCopyToClipboardAttempts]="2" class="copy-icon" src="assets/icons/copy_icon.svg" alt="copy-icon"> -->
          </div>
        </ng-container>
        <ng-container *ngIf="!userData?.name?.length">
          <div [cdkCopyToClipboard]="wallet || ''" [cdkCopyToClipboardAttempts]="2"
            (cdkCopyToClipboardCopied)="notify()" fxLayout="row" fxLayoutAlign="center end" class="user-name">
            {{walletNumber}}
            <mat-icon class="copy-icon" fontSet="material-icons-round">content_copy</mat-icon>
          </div>
        </ng-container>

        <!-- Balance -->
        <balance></balance>

        <!-- Nav Links -->
        <div class="sidenav" fxLayout="column" fxLayoutAlign="start start">
          <a (click)="close()" routerLinkActive="active-route" routerLink="/profile">Profile</a>
          <a (click)="close()" routerLinkActive="active-route" routerLink="/">Home</a>
          <a (click)="close()" routerLinkActive="active-route" routerLink="/items">Items</a>
          <a (click)="close()" routerLinkActive="active-route" routerLink="/avatars">Avatars</a>
          <a (click)="close()" routerLinkActive="active-route" routerLink="/games">Games</a>
          <a>Help</a>
          <a (click)="onLogout(); close()" routerLink="/">Sign out</a>
        </div>
      </ng-container>

      <!-- Unauthorized user -->
      <ng-template #unauthblock>
        <div class="unauth-nav-content" fxLayout="column" fxLayoutAlign="space-between">
          <div class="sidenav mtop-60px" fxLayout="column" fxLayoutAlign="start start">
            <a (click)="logIn()">Profile</a>
            <a (click)="close()" routerLinkActive="active-route" routerLink="/">Home</a>
            <a (click)="close()" routerLinkActive="active-route" routerLink="/items">Items</a>
            <a (click)="close()" routerLinkActive="active-route" routerLink="/avatars">Avatars</a>
            <a (click)="close()" routerLinkActive="active-route" routerLink="/games">Games</a>
            <a>Help</a>
          </div>
          <div>
            <totem-button (click)="logIn()" [caption]="'Login'"
              [width]="'100%'"></totem-button>
          </div>
        </div>
      </ng-template>


    </ng-container>
    <ng-container *ngIf="sidebarType === 'filter'">
      <div class="button-wrap" (click)="close()">
        <mat-icon class="close-button" [svgIcon]="'line:arrow_right'"></mat-icon>
      </div>
      <totem-search-filter class="sidenav-filter" (routingEvent)="close()" [focusState]="'true'"></totem-search-filter>
      <div class="totem-sidebar-filter-bg">
        <span style="--i: -2s;" class="first-circle"></span>
        <span style="--i: -3s;" class="second-circle"></span>
        <span style="--i: -4s;" class="third-circle"></span>
        <span style="--i: -5s;" class="fourth-circle"></span>
        <span style="--i: -6s;" class="fifth-circle"></span>
      </div>
    </ng-container>
  </div>
</div>
