@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

:host {
  min-width: 120px;
}

.line-arrow_left, .line-arrow_right, * {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $light-grey;
  transition: color 0.33s ease-out;
}

.pagination-wrapper {
  width: inherit;
  height: 100%;

  .pagination-value {
    cursor: default;
  }
  .nav-buttons {
    width: 50px;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    place-content: space-between;

    &-button {
      width: 20px;
      height: 20px;
      display: flex;
      place-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        .line-arrow_left, .line-arrow_right {
          color: #fff;
        }
      }

      .line-arrow_left, .line-arrow_right {
        width: auto;
        font-size: 12px;
      }
    }

  }
}
