@import 'styles/scss/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 20px 100px 20px;

    h1 {
        padding-bottom: 20px;
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    span {
        max-width: 750px;
        text-align: center;
        color: $light-grey;
    }

    .items {
        width: 100%;
        max-width: 1150px;
        padding-bottom: 60px;
        column-gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        color: $dark-grey;

        .item-wrapper {
            position: relative;

            .item {
                width: 100%;
                max-width: 330px;
                max-height: 460px;
                margin-top: 40px;
                margin-bottom: 0;
                background-color: $transparent-light;
                padding: 20px;
                z-index: 3;
            }
        }
    }

    .top-wrapper {
        padding: 15px;
        border-radius: 4px;
        border: 1px dashed $light-grey;
        // color: $dark-grey;
        transition: color .8s ease-in-out;
        .top {
            display: flex;
            flex-direction: column;
            max-width: 340px;
            // color: $dark-grey;
            // max-height: 236px;
            width: 100%;
            padding: 20px;
    
            .mat-icon {
                max-width: 260px;
                width: 100%;
                height: auto;
                margin: auto;
                margin-top: 30px;
            }
        }
    }

    .bottom {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h3 {
            text-align: center;
        }
        
    }
    .moving-circle-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateY(100px);
        .moving-circle {
            opacity: 0;
        }
    }

    .circle-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity .8s .2s ease-in-out;
    }
}