<form class="form-section" [formGroup]="contactForm">
    <h3>{{'profile.сontact' | translate}}</h3>

    <div class="info-block">
        <div class="info-block-wrapper">

            <div class="block-section pt-[10px] sm:pt-[40px]">
                <h4>{{'profile.mail' | translate}}</h4>
                <div class="input-section">
                    <input type="text" formControlName="email" (blur)="saveValue()">
                    <span @showMessage class="error-message" *ngIf="emailErrors('required')">{{'profile.required_field' | translate}}</span>
                    <span @showMessage class="error-message" *ngIf="emailErrors('email')">{{'profile.invalid_email' | translate}}</span>
                    <span>{{'profile.write_reliable_email' | translate}}</span>
                </div>
            </div>

            <div class="block-section pt-[10px] sm:pt-[40px]">
                <h4>Discord<span class="pl-[10px]">({{'profile.optional' | translate}})</span></h4>
                <div class="input-section">
                    <input type="text" formControlName="discord" (blur)="saveValue()">
                    <span>{{'profile.dont_have_discord' | translate}}? <a class="!text-yellow cursor-pointer" href="https://discord.com/invite/totem-gdn" target="_blank">Join the Totem community</a></span>
                </div>
            </div>

        </div>
    </div>
</form>
