<div class="totem-footer" fxLayout="column" fxLayoutAlign="center">
  <div class="totem-footer-wrapper" fxLayout="column" fxLayoutAlign="start">
    <div class="footer-contact-block" fxLayout="row" fxLayoutAlign="space-between center">

      <div class="subscribe-block" fxLayout="column" fxLayoutAlign="start">
        <div class="title">Get the latest update</div>
        <div class="email-cta" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="email-form">
            <totem-email-sub></totem-email-sub>
          </div>
          <button class="submit-button" mat-raised-button>Submit</button>
        </div>
      </div>

      <div class="contact-block" fxLayout="column" fxLayoutAlign="start">
        <div class="join-cta title">Join</div>
        <div class="join-icon-links" fxLayout="row" fxLayoutAlign="start">
          <img src="assets/images/forward-icon.png" alt="icon">
          <img src="assets/images/forward-icon.png" alt="icon">
          <img src="assets/images/forward-icon.png" alt="icon">
          <img src="assets/images/forward-icon.png" alt="icon">
          <img src="assets/images/forward-icon.png" alt="icon">
        </div>
      </div>

    </div>
    <div class="footer-info-block" fxLayout="row" fxLayoutAlign="space-between start">

      <div class="totem-company-info" fxLayout="column" fxLayoutAlign="start">
        <div>
          <img src="assets/icons/nav/totem-logo.svg" alt="TOTEM">
        </div>
        <div class="company-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam
        </div>
      </div>

      <div class="totem-content" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutAlign="start">
          <div class="title marb-10">Explore</div>
          <a>Items</a>
          <a>Avatars</a>
          <a>Games</a>
        </div>
        <div fxLayout="column" fxLayoutAlign="start">
          <div class="title marb-10">Account</div>
          <a>Profile</a>
          <a>Favorites</a>
          <a>Settings</a>
        </div>
        <div fxLayout="column" fxLayoutAlign="start">
          <div class="title marb-10">Resources</div>
          <a>Help</a>
          <a>Blog</a>
        </div>
        <div fxLayout="column" fxLayoutAlign="start">
          <div class="title marb-10">Company</div>
          <a>About</a>
        </div>
      </div>

    </div>
    <div class="footer-copyright-block" fxLayout="row" fxLayoutAlign="space-between center">

      <div>
        @ 2022 - 2025 Totem, Inc
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <a class="privacy-link">Privacy Policy</a>
        <a class="terms-link">Terms</a>
      </div>

    </div>
  </div>
</div>
