<div class="game-dropdown" (clickOutside)="onClick($event)">
  <div class="dropdown-toggle" (click)="toggleList()" [ngClass]="menuActive ? 'appear': ''">
    <span>{{title || 'Game Name'}}</span>
    <div class="line-arrow_down" [ngClass]="menuActive ? 'rotate-x-180': ''"></div>
  </div>

  <div #dropdown class="menu w-[200px] sm:w-[300px]" [ngClass]="menuActive ? 'appear': ''">
      <!-- Search -->
      <search-field (filter)="filterGames($event)" [reset]="resetSearch"></search-field>
      <!-- Items -->
      <div #menuItems class="menu-items">
          <div
          class="menu-item"
          *ngFor="let game of games"
          (click)="onChangeInput(game)"
          [ngClass]="(game.general?.name === title) ? 'checked': ''"
          [ngStyle]="{'--game-image': 'url('+ game.images?.smallThumbnail + ')'}">
                <p class="truncate w-full">{{game.general?.name}}</p>
                <span class="truncate w-full">{{game && game?.general?.genre?.[0]}}</span>
          </div>

          <span class="h-[50px] no-found" *ngIf="games?.length === 0 && !searchGames">No Games Found</span>

          <div *ngIf="searchGames" class="flex m-auto items-center h-[50px]">
              <totem-spinner></totem-spinner>
          </div>
      </div>
      <!-- View All -->
      <div class="view-all">
          <div class="content" (click)="onClickViewAll()">
              <div class="text-center bottom-rectangle">View all</div>
          </div>
      </div>
  </div>
</div>
