
@import 'styles/scss/variables';

:host {
  min-height: 60vh;
}
.line-arrow_left, .line-arrow_right, * {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $light-grey;
  transition: color 0.33s ease-out;
}
.nav-buttons {
  width: 50px;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  place-content: space-between;

  &-button {
    width: 20px;
    height: 20px;
    display: flex;
    place-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      .line-arrow_left, .line-arrow_right {
        color: #fff;
      }
    }

    .line-arrow_left, .line-arrow_right {
      width: auto;
      font-size: 12px;
    }
  }

}

.tab-wrapper {
  button {
    padding: 6px 10px;
    background-color: $dark-grey;
    color: $yellow;
    border-radius: 4px;
    transition: background-color 0.33s ease-out, color 0.33s ease-out;
    font-weight: 500;
  }

  .active-tab {
    background-color: $yellow;
    color: $dark;
  }
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    .title {
      font-size: 24px;
      font-weight: 500;
    }

    .game-row {
      background-color: $dark-grey;
      border-radius: 4px;
    }

    .img-wrapper {
        border-radius: 4px;
        background: $linear-glass;
        overflow: hidden;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    p {
      font-size: 18px;
    }

    .cta-button {
      display: flex;
      align-items: center;
      place-content: center center;
      height: 40px;
      width: 100px;
      background-color: $yellow;
      font-weight: 700;
      font-size: 16px;
      color: $black;
      border-radius: 4px;
      transition: background-color 0.33s;
      &:hover {
        background-color: #ffe066;
      }
    }

}
