<div class="search-card-body h-full w-full" fxLayout="column" fxLayoutAlign="space-between start">
  <div class="cta-button flex-row px-[10px]" fxLayoutAlign="space-between center">
    <div>
      {{'specific.your_game_name' | translate}}
    </div>
    <div class="line-arrow_down h-[6px]"></div>
  </div>
  <div class="preview-content w-full p-[6px] mt-[10px]" fxLayout="column" fxLayoutAlign="center start">
    <div class="search-block flex-row px-[12px] w-full" fxLayoutAlign="start center">
      <div class="line-search"></div>
      <div class="ml-[10px]">
        {{'items.filter' | translate}}...
      </div>
    </div>

    <div class="image-preview-block flex-row px-[6px] mt-[18px] w-full" fxLayoutAlign="start center">
      <div class="img-preview">
        <div *ngIf="!imageUrl && !existingImageUrl" class="preview-placeholder" fxLayout="column" fxLayoutAlign="center center">
          <div class="solid-no-image"></div>
        </div>
        <img loading="lazy" *ngIf="imageUrl" [src]="imageUrl" alt="preview">
        <img loading="lazy" *ngIf="!imageUrl && existingImageUrl" [src]="existingImageUrl" alt="preview">
      </div>
      <div class="ml-[10px]" fxLayout="column" fxLayoutAlign="center start">
        <div class="game-name">
          {{'specific.your_game_name' | translate}}
        </div>
        <div class="game-type">
          {{'specific.search_preview' | translate}}
        </div>
      </div>
    </div>

    <div class="fake-image-preview-block flex-row px-[6px] mt-[9px] w-full" fxLayoutAlign="start center">
      <div class="img-preview"></div>
      <div class="ml-[10px]" fxLayout="column" fxLayoutAlign="center start">
        <div>
          {{'specific.other_game_name' | translate}}
        </div>
        <div>
          Arcade
        </div>
      </div>
    </div>
    <div class="fake-image-preview-block flex-row px-[6px] py-[7px] mt-[8px] w-full" fxLayoutAlign="start center">
      <div class="img-preview"></div>
      <div class="ml-[10px]" fxLayout="column" fxLayoutAlign="center start">
        <div>
          {{'specific.other_game_name' | translate}}
        </div>
        <div>
          {{'specific.shooter' | translate}}
        </div>
      </div>
    </div>
    <div class="fake-image-preview-block flex-row px-[6px] mt-[9px] w-full" fxLayoutAlign="start center">
      <div class="img-preview"></div>
      <div class="ml-[10px]" fxLayout="column" fxLayoutAlign="center start">
        <div>
          {{'specific.other_game_name' | translate}}
        </div>
        <div>
          {{'specific.sandbox' | translate}}
        </div>
      </div>
    </div>
    <div class="view-all-button mt-[20px] w-full" fxLayout="column" fxLayoutAlign="center center">
      <div class="view-all-cta">{{'nav.view_all' | translate}}</div>
    </div>
    <div class="fake-scroll"></div>
  </div>
</div>
