<div *ngIf="assets" class="flex flex-col">
    <div class="flex flex-col flex-wrap pb-[30px]">
        <div class="flex flex-col">
            <div class="flex">
                <h3 class="text-yellow">Matic Balance: </h3><h3 class="text-white pl-2">{{maticBalance}}</h3>
            </div>
            <div class="flex">
                <h3 class="text-yellow">USDC Balance:</h3><h3 class="text-white pl-2">{{tokenBalance}}</h3>
            </div>
        </div>

        <div class="flex py-[30px]">
            <a class="button-style-1 mr-5 flex" href="https://mumbaifaucet.com/" target="_blank">Get Matic</a>
            <button class="button-style-1" (click)="onGetTokens()" [disabled]="!maticBalance || +maticBalance === 0">Get USDC</button>
        </div>
    </div>

    <div class="flex flex-col gap-[20px]">
        <div *ngFor="let asset of assets">
            <div class="flex flex-wrap">
                <avatar-card [width]="'340px'" *ngIf="asset.type === 'avatar'"></avatar-card>
                <game-card [width]="'340px'" *ngIf="asset.type === 'gem'"></game-card>
                <item-card [width]="'340px'" *ngIf="asset.type === 'item'"></item-card>

                <div class="flex flex-col m-auto">
                    <h3 class="pb-2 text-yellow uppercase">{{asset.type}}</h3>
                    <h4 class="py-2 text-light-grey">{{asset.paymentInfo.price}} USDC</h4>
                    <button class="button-style-1" 
                    [disabled]="!maticBalance || !tokenBalance || +tokenBalance === 0 || +tokenBalance === 0"
                    (click)="onBuyItem(asset.paymentInfo.address, asset.paymentInfo.price)">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<loading-spinner class="flex justify-center" *ngIf="assets.length === 0"></loading-spinner>