<div class="totem-event" *ngIf="eventBanner">
  <div class="totem-event-wrapper flex-wrap lg:flex-nowrap">
    <div class="timer-container">
      <div class="title font-totem"
      [ngStyle]="{
        'font-size': eventBanner.data?.titleSizes![fontSizeNumber] + 'px',
        'line-height': eventBanner.data?.titleSizes![fontSizeNumber] + 'px'
      }"
      >{{eventBanner.data?.title || 'GameJam+'}}</div>

      <div class="timer-block" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{days | number: '2.0-0'}}</span>
          <div class="timer-caption">{{'home.day' | translate}}</div>
        </div>
        <span class="font-totem totem-color timer-dots">:</span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{hours | number: '2.0-0'}}</span>
          <div class="timer-caption">{{'home.hrs' | translate}}</div>
        </div>
        <span class="font-totem totem-color timer-dots">:</span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{minutes | number: '2.0-0'}}</span>
          <div class="timer-caption">{{'home.mins' | translate}}</div>
        </div>
        <span class="font-totem totem-color timer-dots">:</span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{seconds | number: '2.0-0'}}</span>
          <div class="timer-caption">{{'home.sec' | translate}}</div>
        </div>
      </div>
      <!-- <div class="description">{{eventBanner.data?.description || ('home.totem_is_joining_as' | translate)}}</div> -->
      <!-- <div class="join-cta-block"><totem-button (clicked)="goToEventPage($event)" [customId]="'eventButton'" [caption]="'home.join_the_event' | translate"></totem-button></div> -->
      <div class="join-cta-block"><button class="totem-primary-button h-[48px] text-[20px] leading-[22px] font-medium !px-7" (click)="goToEventPage($event)">Join the event</button></div>
    </div>


    <div class="slider-wrapper">
      <!-- <div class=""></div> -->
      <slider-wireframe [padding]="18" [gap]="32" [type]="'event'" [assets]="eventArr"></slider-wireframe>
    </div>
  </div>
</div>
