
<div class="w-440px">
    <div class="menu-filter">
        <span>Game name</span>
        <mat-icon [svgIcon]="'line:arrow_down'"></mat-icon>
    </div>
    <br>
    <div class="rounded p-2 items-center flex text-base border border-light-grey">
        <mat-icon [svgIcon]="'line:search'"></mat-icon>
        <input class="w-full ml-3 bg-transparent" type="text" placeholder="Search...">
    </div>

    <div class="">
        <div class="p-2 w-9 h-9 bg-linear-light">

        </div>

        <input class="w-6 h-6 bg-transparent " type="checkbox">
    </div>
</div>