<div class="desc-form">
  <form class="form-section" [formGroup]="connectionsForm">

    <h3>{{'specific.сonnections_and_links' | translate}}</h3>

    <div class="info-block">
      <div class="info-block-wrapper">
        <div class="block-section flex-wrap !border-0">
          <h4>{{'specific.official_web_page' | translate}}</h4>
          <div class="input-section">
            <input type="text" formControlName="webpage" (change)="updateForm()">
            <span>{{'specific.enter_URL_marketplace' | translate}}, https://Creators.itch.io/game</span>
            <span @showMessage class="error-message" *ngIf="webPageErrors">{{'profile.required_field' | translate}}</span>
          </div>
        </div>
      </div>

      <div class="info-block-wrapper">
        <div class="block-section flex-wrap !border-0">
          <h4>{{'specific.asset_renderer_URL' | translate}}<span class="pl-[10px]">({{'profile.optional' | translate}})</span></h4>
          <div class="input-section">
            <input type="text" formControlName="assetRenderer" (change)="updateForm()">
            <span>{{'specific.enter_URL_custom_asset' | translate}}</span>
            <span @showMessage class="error-message" *ngIf="assetRendererErrors">Input must be a url</span>
          </div>
        </div>
      </div>

      <div class="info-block-wrapper">
        <div class="block-section flex-wrap !border-0">
          <h4>{{'specific.promo_video_link' | translate}}<span class="pl-[10px]">({{'profile.optional' | translate}})</span></h4>
          <div class="input-section">
            <input type="text" formControlName="promoVideo" (change)="updateForm()">
            <span>{{'specific.share_promo_video' | translate}}, https://twitter.com</span>
            <span @showMessage class="error-message" *ngIf="promoVideoErrors">Input must be a url</span>
          </div>
        </div>
      </div>

      <div class="info-block-wrapper">
        <div class="block-section flex-wrap !border-b !border-b-dark-grey">
          <h4>{{'specific.social_links' | translate}}<span class="pl-[10px]">({{'profile.optional' | translate}})</span></h4>
          <div class="input-section" formArrayName="socialLinks">

            <ng-container [formArrayName]="i" *ngFor="let socialLink of socialLinksForm.controls; index as i">
              <div [formGroup]="socialLink" class="social-link flex-wrap lg:flex-nowrap">
                  <form-dropdown
                  #dropdown
                  @showInput
                  (selectedTag)="onSelectTag($event, i)"
                  class="!max-w-[180px] w-full mb-[15px] mr-[20px]"
                  [inputType]="'radio'"
                  [title]="'Select type'"
                  [setTitle]="socialLink.get('type')?.value"
                  [setItems]="setItems"
                  [items]="dropdownLinks"></form-dropdown>

                  <div @showInput class="flex w-full items-center">
                    <input type="text" [formControlName]="'url'" (blur)="matchUrl(socialLink, i); updateForm()">
                    <div class="line-trash trash-icon"  (click)="onRemoveLink(i)"></div>
                  </div>
              </div>
            </ng-container>

            <div class="flex">
              <div class="!max-w-[0px] lg:!max-w-[180px] w-full"></div>
              <span class="pl-0 lg:pl-[20px]">{{'specific.where_does_this_link_go' | translate}} https://twitter.com</span>
            </div>

          </div>
        </div>
        <totem-button class="ml-auto" [height]="'40px'" [width]="'140px'" [caption]="'Add Link'" (click)="onAddLink()"></totem-button>
      </div>

    </div>

    <div class="py-[80px] flex justify-center">
      <!-- <totem-button class="flex" [caption]="'Continue'"></totem-button> -->
      <totem-button [disabled]="submitDisabled" class="flex ml-[20px]" [caption]="'Submit Game'" (click)="submitGameInfo()"></totem-button>
    </div>


  </form>
</div>
