<div class="profile-stats-wrapper">
  <div class="profile-stats px-[15px] xs:px-[30px]" fxLayout="row">
    <div class="stats-block" fxLayout="column" fxLayoutAlign="space-between start">
      <div>All :</div>
      <div class="data-caption">{{total ? total: '--'}}</div>
    </div>
    <div class="stats-block" fxLayout="column" fxLayoutAlign="space-between start">
      <div>Rare :</div>
      <div class="data-caption">123</div>
    </div>
    <div class="stats-block" fxLayout="column" fxLayoutAlign="space-between start">
      <div>Unique :</div>
      <div class="data-caption">1</div>
    </div>
    <!-- <div class="stats-block" fxLayout="column" fxLayoutAlign="space-between start">
      <div>Popular Items:</div>
      <div class="data-caption">1241</div>
    </div> -->
  </div>
</div>

