@import 'styles/scss/variables';

:host {
  width: 100%;
}

a, span, div {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $light-grey;
}

.profile-stats-wrapper {
  width: 100%;
  // max-width: 1500px;
  background-color: $transparent-light;
  border-radius: 4px;

  .profile-stats {
    max-width: 340px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
    .stats-block {
      height: 100%;
      display: flex;
      white-space: nowrap;

      .data-caption {
        margin-top: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
      }
    }
  }
}
