<div class="profile-stats-wrapper">
  <div class="profile-stats" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="stats-block" fxLayout="column" fxLayoutAlign="space-between start">
      <div>All Items:</div>
      <div class="data-caption">{{totalItems}}</div>
    </div>
    <div class="stats-block" fxLayout="column" fxLayoutAlign="space-between start">
      <div>Rare Items:</div>
      <div class="data-caption">123</div>
    </div>
    <div class="stats-block" fxLayout="column" fxLayoutAlign="space-between start">
      <div>Unique Items:</div>
      <div class="data-caption">1</div>
    </div>
    <div class="stats-block" fxLayout="column" fxLayoutAlign="space-between start">
      <div>Popular Items:</div>
      <div class="data-caption">1241</div>
    </div>
  </div>
</div>

