
<div [ngClass]="isDropupOpen ? 'blur-background lg:hidden': ''" (click)="onCloseMenu()"></div>

<div class="dropup-menu lg:!static lg:!p-0 lg:!max-h-[fit-content] lg:!rounded" #dropupMenu>

    <div class="handler-wrapper lg:!hidden" (click)="toggleMenu()">
        <div class="rectangle"></div>
    </div>

    <div class="content">
        <div class="title lg:!hidden pt-[10px]">
            <h3>{{'items.filters' | translate}}</h3>
        </div>

        <div class="py-[45px] lg:py-0">
            <filter-menu [title]="'Game Name'" [inputType]="'radio'" [items]="games"></filter-menu>

            <!-- <filter-menu [title]="'Game name'" [inputType]="'radio'"></filter-menu> -->

            <filter-menu [title]="'Genre'" [searchType]="null" [items]="genres"></filter-menu>
        </div>

        <div class="dropup-buttons lg:!hidden">
            <button class="button-style-1" (click)="onClickClear()">{{'items.clear_all' | translate}}</button>
            <button class="button-style-1" (click)="onClickApply()">{{'items.apply' | translate}}</button>
        </div>
    </div>
</div>