<div class="flex flex-col wrapper" (onResize)="onResize()">
    <div class="grid-container" #grid>
        <div #tagWrapper *ngFor="let _ of [].constructor(24)" class="item-tag" (mouseover)="onOver()">
            <h4 class="truncate">24.05.22</h4>
            <p class="truncate">Last usedebstenrtn</p>
        </div> 
    </div>
    <!-- View All -->
    <div *ngIf="showViewAll" [attr.offsetWidth]="offset()" class="view-all" (click)="onClickViewAll()">
        <span class="text-center">{{toggle ? 'View less': 'View all'}}</span>
        <mat-icon class="!h-[2px] !w-full absolute bottom-0" [svgIcon]="'solid:bottom_rectangle'"></mat-icon>
    </div>
    
</div>