<div class="desc-form">

  <general-description [editMode]="editMode"
  [selectedJsonFiles]="jsonFiles"
  [deletedJsonFiles]="deletedJsonFiles"
  (formValid)="checkFormValidity($event)"
  (onJsonFileSelected)="onJsonFileSelected($event)"
  (onJsonFileDelete)="onJsonFileDelete($event)"
  ></general-description>
  <game-details [editMode]="editMode" (formValid)="checkFormValidity($event)"></game-details>
  <contact-form [editMode]="editMode" (formValid)="checkFormValidity($event)"></contact-form>
  <totem-button class="my-[80px] flex justify-center" [caption]="'Continue'" [disabled]="!buttonDisabled" (clicked)="onNextTab()"></totem-button>

</div>
