@import 'styles/scss/variables';
@import 'styles/scss/totem-variables';

.wrapper {
    padding: 8px;
    border: 1px solid $totem-divider-grey;
    border-radius: 16px;
    position: relative;
    border-radius: 4px;
    width: 100%;

    .history {
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        .history-grid {
            border-bottom: 1px solid $totem-divider-grey;
            display: grid;
            grid-template-columns: 60px minmax(150px, 2fr) minmax(240px, 1fr) minmax(240px, 1fr) minmax(200px, 1fr)  minmax(40px, calc(1fr/2));
            min-width: 950px;
    
    
        }
    //         &::after {
    //     content: '';
    //     position: absolute;
    //     display: block;
    //     bottom: -50px;
    //     height: 50px;
    //     left: 0;
    //     background-color: red;
    //     right: 0;
    // }
    // &::before {
    //     content: '';
    //     position: absolute;
    //     display: block;
    //     bottom: -50px;
    //     height: 50px;
    //     left: 0;
    //     right: 0;
    //     background-color: red;

    // }
    }
}



span {
    font-weight: 400;
}
.wallet {
    cursor: pointer;
}

.transaction {
    margin: 5px 0;
    padding: 7px;
    background-color: $totem-dark-grey;
    border-radius: 8px;
    font-size: 14px;
    height: 55px;
    color: white;
    align-items: center;

    img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    .line-open_new {
        position: relative;
        &::after {
            content: '';
            position: absolute;
             top: -50%;
            left: -50%;
             width: 200%;
            height: 200%;
        }
    }
}