<div class="totem-crop-dialog px-[18px] py-[20px]">
  <div class="totem-crop-dialog-wrapper" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="crop-workbench w-full p-[18px]">
      <div class="crop-workbench-cropground w-full transition-opacity" [ngStyle]="{'opacity': !(loading$ | async) ? 1 : 0}">
        <!-- <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          format="webp"
          [maintainAspectRatio]="true"
          [aspectRatio]="aspectRatio"
          [alignImage]="'center'"
          [backgroundColor]="'#2A2D33'"
          [allowMoveImage]="true"
          [resizeToWidth]="widthToResize"
          [transform]="{scale: 1}"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
          [transform]="tranformOptions"
          [imageQuality]="100"
        ></image-cropper> -->
          <img class="max-w-full block" #image [src]="imageBase64">
      </div>
      <div class="crop-workbench-loader" fxLayout="column" fxLayoutAlign="center center" *ngIf="(loading$ | async)">
        <totem-spinner></totem-spinner>
      </div>

    </div>
    <div class="crop-footer w-full pl-[18px]" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="crop-tools" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="crop-tools-zoom mr-[20px]" fxLayout="column" fxLayoutAlign="start start">
          <div class="crop-tools-zoom-state" fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{'specific.size' | translate}}</div>
            <div>{{scaleValue}}</div>
          </div>
          <div class="crop-tools-zoom-slider w-full" [formGroup]="sliderGroup">
            <input type="range" min="-1" max="1" step="0.1" formControlName="tick">
          </div>
        </div>
        <div class="crop-tools-rotate" (click)="rotateImage()">
          <div class="line-refresh"></div>
        </div>
      </div>
      <div class="crop-cta-buttons" fxLayout="row">
        <div class="close-wrapper">
          <button matRipple [mat-dialog-close]>{{'nav.cancel' | translate}}</button>
        </div>

        <div class="ml-[30px]">
          <!-- <button mat-raised-button color="primary">Save</button> -->
          <totem-button class="flex justify-center" [width]="'102px'" [height]="'40px'" [caption]="'Save'" [mat-dialog-close]="croppedImage"></totem-button>
        </div>
      </div>
    </div>
  </div>
</div>
