@import 'styles/scss/variables';

img {
  width: unset;
}

.close-wrapper {
  button {
    display: flex;
    align-items: center;
    place-content: center center;
    height: 40px;
    width: 102px;
    background-color: $dark-grey;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.33s;
  }
}

.totem-crop-dialog {
  height: 100%;
  width: 100%;

  &-wrapper {
    height: 100%;
    width: 100%;
    position: relative;

    .crop-workbench {
      border: 1px dashed $light-grey;
      max-height: 630px;
      height: 100%;
      border-radius: 4px;

      &-cropground {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        place-content: center center;
        align-items: center;
        display: flex;

        image-cropper {
          //width: 100%;
          //height: 100%;
        }

      }

      &-loader {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }

    }

    .crop-footer {
      height: 40px;

      .crop-tools {
        max-width: 412px;
        width: 100%;
        margin-right: 20px;
        color: #fff;

        &-zoom {
          max-width: 340px;
          width: 100%;
          &-state {
            width: 100%;
          }
        }
        &-rotate {
          cursor: pointer;
          padding-top: 16px;
        }
      }
    }

  }
}
