
<div class="flex items-center h-full max-w-1500px m-auto">

    <!-- Logo -->
    <div class="w-130px h-30px">
        <img src="assets/images/Logo.png" alt="">
    </div>

    <!-- Search -->
    <div class="ml-24 p-2 bg-dark-grey/38 rounded items-center flex text-base w-96">
        <mat-icon [svgIcon]="'line:search'"></mat-icon>
        <input class="w-full ml-3 bg-transparent" type="text" placeholder="Search...">
    </div>

    <ul class="flex gap-3 ml-auto">
        <li><span routerLink="/home">Home</span></li>
        <li><span routerLink="/items">Items</span></li>
        <li><span routerLink="/avatars">Avatars</span></li>
        <li><span routerLink="/games">Games</span></li>
        <li><span>Help</span></li>
    </ul>

    <div class="ml-24 w-10 h-10">
        <mat-icon class="!w-10 !h-10" [svgIcon]="'line:user'"></mat-icon>
    </div>

</div>