@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';

.wrapper {
    background-color: $black;
    border-radius: 4px;

    p {
        // margin-bottom: 10px;
        line-height: 1;
    }
    span {
        white-space: nowrap;
    }
    .img-wrapper {
        position: relative;
        max-width: 100px;
        max-height: 100px;
        min-width: 80px;
        min-height: 80px;
        width: 100%;
        height: 100%;
        padding: 8px;
        img {
           margin:auto;
           position: absolute; 
           top: 0;
           bottom: 0;
           left: 0;
           right: 0;
           padding: 8px;
        }
        .placeholder {
            width: 100%;
            margin-top: 100%;
        }
    }

    .asset-preview {
        background-color: $grey;
        border-radius: 4px;
        display: flex;
        margin-bottom: 15px;
        padding-left: 15px;

        @media screen and (max-width: 480px) {
            p {
                font-size: 13px !important;
            }
            span {
                font-size: 13px !important;
            }
            padding-left: 10px;
        }

        .attributes {
            margin-top: 8px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            .attribute {
                width: 100%;
                max-width: 150px;
                justify-content: space-between;
                // margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .balance {
        padding: 15px;
        border-radius: 4px;
        border: 1px solid $dark-grey;
        margin-bottom: 15px;

        .token-wrapper {
            align-items: center;
            // padding-bottom: 15px;
            display: flex;
            gap: 10px;
        }
    }
    .price {
        margin-bottom: 15px;
        padding: 10px 15px;
        display: flex;
        border-radius: 4px;
        border: 1px solid $dark-grey;
        justify-content: space-between;

        .icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            margin-right: 5px;
        }
    }
    .gas-fee {
        display: flex;
        .icon {
            color: $light-grey;
            width: 20px;
            height: 20px;
            font-size: 20px;
            margin-right: 5px;
        }
    }

    .icon {
        height: 36px;
        width: 36px;
        font-size: 36px;
    }
}