<div class="main-block-wrapper">
    <div class="wrapper px-[10px] py-[25px] sm:p-[25px]">
        <h3 class="mb-[10px]">Purchase</h3>
        <p class="mb-[15px]">You are about to purchase:</p>
    
        <div class="asset-preview">
            <div class="flex w-full">
                <!-- Atrributes -->
                <div class="attributes">
                    <!-- ID  -->
                    <div class="attribute mb-[10px]">
                        <p class="mt-[5px]">ID: {{asset?.tokenId}}</p>
                    </div>
                    <!-- Rarity, Games  -->
                    <div class="attribute flex">
                        <div class="flex flex-col">
                            <p>{{asset?.rarity}}</p>
                            <span class="text-light-grey">Rarity</span>
                        </div>
                        <div class="flex flex-col pl-[10px]">
                            <p>{{asset?.games}}</p>
                            <span class="text-light-grey">Games Played</span>
                        </div>
                    </div>
                </div>
                <!-- Image -->
                <div class="img-wrapper">
                    <img loading="lazy" [src]="asset?.rendererUrl" alt="">
                    <div class="placeholder"></div>
                </div>
            </div>
        </div>
    
        <div class="balance">
            <p class="text-light-grey mb-[10px]">Your balance: </p>
            <div class="flex flex-col">
    
                <div class="token-wrapper pb-[15px]">
                    <div class="icon icon-font-USDC"></div>
                    <div class="flex flex-col overflow-hidden">
                        <span>USDC</span>
                        <span class="text-light-grey truncate">{{balance.usdc ? balance.usdc : '--'}}</span>
                    </div>
                </div>
                <div class="token-wrapper">
                    <div class="icon icon-font-MATIC"></div>
                    <div class="flex flex-col overflow-hidden">
                        <span>MATIC</span>
                        <span class="text-light-grey truncate">{{balance.matic ? balance.matic : '--'}}</span>
                    </div>
                </div>
    
            </div>
        </div>
    
        <div class="price">
            <span class="text">Price: <span class="text-light-grey">{{asset?.price ? asset?.price : '--'}}</span></span>
            <div class="flex">
                <div class="icon icon-font-USDC"></div>
                <span>USDC</span>
            </div>
        </div>
        <div class="gas-fee">
            <div class="line-info icon"></div>
            <span>Gas fee: <span class="text-light-grey">{{gasFee ? gasFee : '--'}}</span></span>
        </div>
    </div>
</div>

<div class="buttons">
    <button matRipple (click)="onClose()">Cancel</button>
    <button matRipple class="button-2" [disabled]="true">Confirm</button>
</div>