<!-- <ng-container *ngIf="info?.type == 'transfer'">
    <div class="flex w-full">
        Atrributes
        <div class="attributes">
            ID 
            <div class="attribute mb-[10px]">
                <p class="mt-[5px]">ID: {{info?.assetInfo?.tokenId}}</p>
            </div>
            Rarity, Games 
            <div class="attribute flex">
                <div class="flex flex-col">
                    <p>{{info?.assetInfo?.rarity}}</p>
                    <span class="text-light-grey">{{'nav.rarity' | translate}}</span>
                </div>
                <div class="flex flex-col pl-[10px]">
                    <p>{{info?.assetInfo?.games}}</p>
                    <span class="text-light-grey">{{'nav.games' | translate}} {{'nav.played' | translate}}</span>
                </div>
            </div>
        </div>
        Image
        <div class="img-wrapper">
            <img loading="lazy" [src]="info?.assetInfo?.rendererUrl" alt="">
            <div class="placeholder"></div>
        </div>
    </div>
</ng-container> -->

<ng-container>
    <div class="flex w-full">
        <!-- Atrributes -->
        <div class="attributes flex flex-col justify-center">
            <!-- ID  -->
            <div class="attribute mb-[10px]">
                <p class="leading-4">Type: {{capitalize(info?.type)}}</p>
            </div>
            <!-- Rarity, Games  -->
            <div class="attribute flex">
                <span class="text-light-grey leading-5">You purchase a unique randomly generated item</span>
            </div>
        </div>
        <!-- Image -->
        <div #wrapper class="img-preview" (onResize)="onResize()">
            <div class="circle-wrapper">
                <bg-circle [width]="'60px'" class="top-[30px] left-[0px]" [background]="'#3A23C9'"></bg-circle>
                <bg-circle [width]="'80px'" class="bottom-[0px] right-[0px]" [background]="'#00BC6D'"></bg-circle>
                <bg-circle [width]="'80px'" class="right-[0px] top-[0px]" [background]="'#8023C9'"></bg-circle>
            </div>

            <div class="img-wrapper">
                <div *ngIf="info?.type == 'avatar'" class="item solid-buy-avatar"></div>
                <div *ngIf="info?.type == 'item'" class="item solid-buy-item"></div>
                <div *ngIf="info?.type == 'gem'" class="item solid-buy-gem"></div>
            </div>
            <div class="placeholder"></div>
        </div>
    </div>
</ng-container>