<div class="profile-info h-full w-full flex flex-col shrink-0 items-center px-4 py-6">
  <div class="profile-info-wrapper h-full w-full flex flex-col items-center justify-start">
    <div class="user-info flex flex-row w-full items-center justify-start px-3 cursor-pointer" (click)="onNavigateProfile()">
      <div class="img-wrapper h-12 w-12 flex shrink-0 rounded-full overflow-hidden">
        <img class="w-full h-full object-cover" [src]="user?.profileImage || 'assets/icons/nav/account_circle.svg'" alt="profile-icon" (error)="updateProfileImage()">
      </div>
      <div class="user-name flex flex-col items-start justify-center ml-3">
        <p class="text-[20px] leading-[22px] font-semibold">{{user?.slicedName ? user?.slicedName : user?.name || user?.slicedWallet}}</p>
        <p class="text-[16px] leading-[17px] font-normal mt-1 t-col-light-grey">View profile</p>
      </div>
    </div>
    <div class="px-3 w-full mt-6">
      <p class="text-[16px] leading-[17px] font-medium">Connected</p>
    </div>
    <div class="user-wallet w-full px-4 py-[13.5px] flex flex-col items-start mt-2">
      <p class="text-[20px] leading-[22px] font-medium flex items-center cursor-pointer" [cdkCopyToClipboard]="user?.wallet || ''" [cdkCopyToClipboardAttempts]="2" (cdkCopyToClipboardCopied)="copied()">
          {{user?.slicedWallet || '0xasfasgas'}} <mat-icon class="!h-[18px] !w-[18px] ml-1" [svgIcon]="'mat_outline:content_copy'"></mat-icon>
      </p>
      <p *ngIf="!(user?.name && user?.email)" class="text-[16px] leading-[17px] font-normal t-col-light-grey mt-[2px]">Balance: $ {{balance}}</p>
      <p *ngIf="(user?.name && user?.email)" class="text-[16px] leading-[17px] font-normal t-col-light-grey mt-[2px]">Wallet address</p>
    </div>
    <div class="w-full mt-4 flex flex-col items-center justify-start">
      <div class="navigation-item w-full flex flex-row items-center justify-start py-3 px-3 cursor-pointer rounded-[12px]" (click)="onNavigateMessages()">
        <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:mail'"></mat-icon>
        <p class="ml-4">Messages</p>
      </div>
      <div class="navigation-item w-full flex flex-row items-center justify-start py-3 px-3 cursor-pointer rounded-[12px]" (click)="logOut()">
        <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:logout'"></mat-icon>
        <p class="ml-4">Logout</p>
      </div>
    </div>
  </div>
</div>
