<div class="wrapper w-full lg:max-w-[456px]">

    <div class="pb-[40px]">
        <h2>ID: {{item?.tokenId}}</h2>
    </div>

    <div class="flex pb-[18px] items-center">
        <p class="text-light-grey">{{'modules.current_owner' | translate}}: </p>
        <!-- <a class="text-white pl-[10px] text-xl" href="https://mumbai.polygonscan.com/address/0x9a4A58D9C4bB6999C93fdb330bEAF32b1BfECbA3" target=”_blank”>{{wallet}}</a> -->
        <!-- <p class="text-white pl-[10px] text-xl truncate w-[200px]">{{item?.owner}}</p> -->
        <div
        fxLayout="row"
        fxLayoutAlign="center center"
        [cdkCopyToClipboard]="item?.owner"
        [cdkCopyToClipboardAttempts]="2"
        (cdkCopyToClipboardCopied)="walletCopied()"
        class="user-id"
        >
        <p class="user-id">{{item?.owner?.slice(0, 6) + '...' + item?.owner?.slice(-4)}}</p>
        <div class="line-copy_small !ml-[7px] !mb-[6px]"></div>
      </div>
    </div>

    <!-- Icons -->
    <div class="icon-wrapper">
        <div class="icon-set">
            <div class="icon !pl-0">
                <div *ngIf="item?.isLiked === false" class="like line-like !w-[18px]"
                    (click)="$event.stopPropagation(); onClickLike()"></div>
                <div *ngIf="item?.isLiked === true" class="text-yellow solid-like cursor-pointer !w-[18px]"
                    (click)="$event.stopPropagation(); onClickLike()"></div>
                <p>{{item?.likes ? item?.likes : '0'}}</p>
            </div>
            <div class="icon">
                <div class="line-eye"></div>
                <p>{{item?.views ? item?.views : '0'}}</p>
            </div>
        </div>
        <div class="icon-set">
            <div class="icon">
                <div class="line-share"></div>
                <p>{{'modules.share' | translate}}</p>
            </div>
            <div class="icon">
                <div class="line-refresh"></div>
                <p>{{'modules.refresh' | translate}}</p>
            </div>
        </div>
    </div>

    <div class="game-dropdown">
        <game-dropdown [title]="'Game Name'"></game-dropdown>
    </div>

    <div class="play !mb-[40px] lg:!mb-[0px]" #playContainer>
            <div class="flex flex-wrap gap-[13px]">
                <div class="item-tag">
                    <h4 *ngIf="item?.lastUsed || item?.lastUsed == 0">{{item?.lastUsed}}</h4>
                    <h4 *ngIf="!item?.lastUsed">--</h4>
                    <p>{{'asset_card.last_used' | translate}}</p>
                </div>
                <div class="item-tag">
                    <h4>{{item?.rarity ? item.rarity : '--'}}</h4>
                    <p>{{'nav.rarity' | translate}}</p>
                </div>
                <div class="item-tag">
                    <h4>{{item?.games || item?.games == 0 ? item?.games : '--'}}</h4>
                    <p>{{'asset_card.games_used' | translate}}</p>
                </div>
        </div>

        <totem-button (click)="onClickBuy()"
        [disabled]="true" class="pt-[20px]" [caption]="item?.owner == myWallet ? ('modules.you_owner' | translate) : ('modules.buy_item' | translate)" [width]="'100%'"></totem-button>

    </div>


</div>
