@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

.wrapper {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    img {
        width: 60px;
        height: 60px;
    }

    .play {
        margin: 20px 0 0 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border: 1px solid $light-grey;
    }
}

.icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $light-grey;
    color: $light-grey;
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 20px;

    .icon-set {
        display: flex;
        gap: 20px;
        .icon {
            gap: 10px;
            display: flex;         
        }
    }
}

.game-dropdown {
    margin-bottom: 20px;
}

.user-id {
    margin-left: 5px;
    cursor: pointer;
}
.copy-icon {
    margin-left: 4px;
    height: 18px;
    width: 18px;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 4px;
}

.item-tag {
    flex-grow: 1;
    max-width: unset;
}