<div class="table-wrapper">
  <div class="table-wrapper-content">
    <div class="table-head" fxLayout="row" fxLayoutAlign="space-between center">
      <div  fxLayout="row" fxLayoutAlign="start center">
        <div class="check-all-button" fxLayoutAlign="space-between center" (clickOutside)="onClickOutside($event)">
          <input type="checkbox" class="custom-checkbox" id="checkall" #masterCheckbox [checked]="master" (change)="master=masterCheckbox.checked">
          <label for="checkall" class="icon-font-checkbox"></label>

          <div class="mark-dropdown" (click)="openSelection()">
            <div class="line-arrow_down"></div>
            <span class="tooltiptext">{{'profile.select' | translate}}</span>
          </div>

          <div #dropdown class="dropdown-menu backdrop-blur-xl" [ngClass]="selectionActive ? 'appear': ''">
              <div class="menu-items">
                  <div class="menu-item" (click)="checkWithParams('all')">
                      <span class="">{{'home.all' | translate}}</span>
                  </div>
                  <div class="menu-item" (click)="checkWithParams('none')">
                      <span class="">{{'nav.none' | translate}}</span>
                  </div>
                  <div class="menu-item" (click)="checkWithParams('read')">
                      <span class="">{{'nav.read' | translate}}</span>
                  </div>
                  <div class="menu-item" (click)="checkWithParams('unread')">
                      <span class="">{{'nav.unread' | translate}}</span>
                  </div>
              </div>
          </div>
        </div>

        <div [ngClass]="atLeastOneChecked() ? 'view-unread' : ''" class="unread-wrapp" fxLayoutAlign="center center" (click)="markAsReaded()">
          <span class="icon-font-unread"></span>
          <span class="tooltiptext">{{'nav.mark_message_read' | translate}}</span>
        </div>
      </div>

      <div class="right-side-setting">
        <div class="refresh-button" (click)="getMessages()">
          <div class="line-refresh"></div>
          <span class="tooltiptext">{{'modules.refresh' | translate}}</span>
        </div>
        <totem-pagination *ngIf="total" fxHide.xs [totalValue]="total" (paginationEvent)="pageEvent($event)"></totem-pagination>
      </div>

    </div>

    <div class="w-full h-full flex flex-col items-center justify-center mt-[100px]" *ngIf="loading$ | async">
      <totem-spinner class="flex items-center h-full"></totem-spinner>
    </div>

    <div class="w-full h-full flex flex-col items-center justify-center mt-[100px]" *ngIf="!(loading$ | async) && !(messageList | async)?.length">
      <span>No messages found</span>
    </div>

    <div class="toolbar-titles" fxHide.xs *ngIf="!(loading$ | async) && (messageList | async)?.length">
      <div class="col-name type-caption">{{'profile.type' | translate}}</div>
      <div class="col-name subj-caption">{{'profile.subject' | translate}}</div>
      <div class="col-name date-caption">{{'modules.date' | translate}}</div>
    </div>
    <div class="message-table" fxLayout="column" *ngIf="!(loading$ | async) && (messageList | async)?.length">

      <div
        *ngFor="let message of messageList | async"
        class="message-item"
        fxLayout="column"
        fxLayoutAlign="start center"
        long-press
        (longpress)="checkMessage(message.id)"
        (touchend)="checkToUncheck($event)"
        [ngClass]="{'selected-item' : message.isOpened}"
        (click)="message.isOpened = !message.isOpened; markAsReadSingle(message)"
      >

        <div class="visible-info w-full" fxLayout="row" fxLayoutAlign="start center">
          <div class="type-col" fxLayout="row" fxLayoutAlign="start center">
            <div class="checkbox-wrapper" fxHide.xs>
              <input
                type="checkbox"
                class="custom-checkbox"
                id="checkthis{{message.id}}"
                [checked]="message.isChecked"
              >
              <label
                for="checkthis{{message.id}}"
                class="icon-font-checkbox"
                (click)="checkMessage(message.id); $event.preventDefault(); $event.stopPropagation()"
              >
              </label>
            </div>

            <div class="type-icon" [ngStyle]="message.isRead ? {'background-color' : '#202225'} : {}" fxHide.xs>
              <ng-container [ngSwitch]="message.type">
                <ng-container *ngSwitchCase="messageType.NOTIF">
                  <span class="icon-font-notification" [ngStyle]="message.isRead ? {'color':'#8A939B'} : {}"></span>
                </ng-container>
                <ng-container *ngSwitchCase="messageType.ACCOUNT">
                  <span class="icon-font-locked" [ngStyle]="message.isRead ? {'color':'#8A939B'} : {}"></span>
                </ng-container>
                <ng-container *ngSwitchCase="messageType.SETTINGS">
                  <span class="icon-font-settings" [ngStyle]="message.isRead ? {'color':'#8A939B'} : {}"></span>
                </ng-container>
                <ng-container *ngSwitchCase="messageType.UPDATE">
                  <span class="icon-font-star" [ngStyle]="message.isRead ? {'color':'#8A939B'} : {}"></span>
                </ng-container>
              </ng-container>
            </div>
            <div class="type-icon" [ngStyle]="message.isChecked ? {'background-color' : '#fff'} : message.isRead ? {'background-color' : '#202225'} : {}" fxHide fxShow.xs>
              <ng-container *ngIf="!message.isChecked; else checkedMobile" [ngSwitch]="message.type">
                <ng-container *ngSwitchCase="messageType.NOTIF">
                  <span class="icon-font-notification" [ngStyle]="message.isRead ? {'color':'#8A939B'} : {}"></span>
                </ng-container>
                <ng-container *ngSwitchCase="messageType.ACCOUNT">
                  <span class="icon-font-locked" [ngStyle]="message.isRead ? {'color':'#8A939B'} : {}"></span>
                </ng-container>
                <ng-container *ngSwitchCase="messageType.SETTINGS">
                  <span class="icon-font-settings" [ngStyle]="message.isRead ? {'color':'#8A939B'} : {}"></span>
                </ng-container>
                <ng-container *ngSwitchCase="messageType.UPDATE">
                  <span class="icon-font-star" [ngStyle]="message.isRead ? {'color':'#8A939B'} : {}"></span>
                </ng-container>
              </ng-container>
              <ng-template #checkedMobile>
                <span class="icon-font-check" [ngStyle]="message.isRead ? {'color':'#8A939B'} : {}"></span>
              </ng-template>
            </div>
          </div>

          <div class="msg-col" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="row-border-bottom" [ngStyle]="message.isOpened ? {'opacity' : '1'} : {'opacity' : '0'}"></div>
            <div class="message-title" fxLayout="column" fxLayoutAlign="center start">
              <div>{{message.subject}}</div>
              <div fxHide fxShow.xs class="date-caption">{{getDate(message.date) | date:'MMM d, YYYY, h:m a'}}</div>
            </div>
            <div class="date-col" fxLayout="column" fxLayoutAlign="center start" fxHide.xs>
              <div>{{getDate(message.date) | date:'MMM d, YYYY, h:m a'}}</div>
            </div>
            <div class="mark-dropdown" fxHide fxShow.xs>
            <div class="line-arrow_down" [ngStyle]="message.isOpened ? {'transform':'scaleY(-1)', 'color':'#fff'} : {}"></div>
            </div>
          </div>

          <div class="hide-button-wrapper" fxLayout="row" fxLayoutAlign="flex-end center" fxHide.xs>
            <div fxHide.sm class="hide-button" [ngStyle]="message.isOpened ? {'opacity' : '1'} : {'opacity' : '0'}">Hide</div>
            <div class="mark-dropdown">
              <div class="line-arrow_down" [ngStyle]="message.isOpened ? {'transform':'scaleY(-1)', 'color':'#fff'} : {}"></div>
            </div>
          </div>

        </div>

        <div class="message-text-wrapper">
          <div class="message-text-content" fxLayout="column" fxLayoutAlign="start start">
              <!-- <div class="message-subtitle w-full">
                {{message.text}}
              </div> -->
              <div class="message-heading w-full">
                {{message.subject}}
              </div>
              <!-- <div class="message-subheading w-full">
                {{message.text}}
              </div> -->
              <div class="message-text w-full">
                {{message.message}}
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
