
@import 'styles/scss/variables';

.wrapper {
    border-radius: 4px;
    padding: 9px;
    align-items: center;
    border: 2px solid $light-grey;
    transition: border 0.5s;
    background-color: $transparent-light;

    input {        
        outline: none;
    }

    
}


