<div class="totem-landing w-full h-full flex flex-col items-center justify-start px-8">
  <div class="totem-landing-wrapper max-w-[1520px] w-full h-full">
    <totem-start-screen-cards></totem-start-screen-cards>
    <totem-entity-slider [caption]="'Showing assets in: '" [withGameSelector]="true" [assetTypeSelected]="'item'"></totem-entity-slider>
    <totem-entity-slider [caption]="'Legacy Events'" [assetTypeSelected]="'legacy'"></totem-entity-slider>
    <div class="mt-12" *ngIf="promoGame">
      <totem-promo-game [game]="promoGame"></totem-promo-game>
    </div>
    <totem-entity-slider [caption]="'The most popular Avatars'" [assetTypeSelected]="'avatar'"></totem-entity-slider>
    <totem-entity-slider [caption]="'The most popular Items'" [assetTypeSelected]="'item'"></totem-entity-slider>
    <div class="mt-12" *ngIf="eventBanner">
      <totem-event-counter [eventBanner]="eventBanner"></totem-event-counter>
    </div>
    <totem-entity-slider [caption]="'The most popular Games'" [assetTypeSelected]="'game'"></totem-entity-slider>
    <div class="my-12" *ngIf="promoVideo">
      <totem-explorer-video [promoVideo]="promoVideo"></totem-explorer-video>
    </div>
  </div>
</div>

