@import 'styles/scss/variables';

:host {
  display: flex;
  position: relative;
  width: 100%;
  flex: 1;
}

.totem-landing {

}
.widget-background {
  background: linear-gradient(180deg, #111216 58.97%, rgba(17, 18, 22, 0) 100%);
}
