<div class="cols-wrapp" fxLayout="row" fxLayoutAlign="space-between end">
  <div *ngFor="let item of items" class="item-col" [ngStyle]="{'height': item.amountOfItems + 'px', 'background': item.isInRange ? '#ffd013' : ''}"></div>
</div>
<div class="range-slider relative">
    <div #sliderTrackMin class="slider"></div>
    <input #sliderThumbMin class="ml-auto cursor-pointer h-1 w-full" type="range" min="0" max="1000" value="100"
        (input)="update()">

    <div #sliderTrackMax class="slider"></div>
    <input #sliderThumbMax class="cursor-pointer h-1 w-full" type="range" min="0" max="1000" value="200"
        (input)="update()">
</div>

<div class="mt-3 flex w-full">
    <span>Range: {{minValue}}-{{maxValue}}</span>
</div>
