
<div class="dropdown" (clickOutside)="onClick($event)">
    <div class="menu-filter bg-grey" (click)="onClickMenu()" 
    [ngClass]="menuActive ? 'gradient-border-solid': ''">
        <span class="whitespace-nowrap">{{title}}</span>
        <div class="line-arrow_down" [ngClass]="menuActive ? 'rotate-x-180': ''"></div>
    </div>

    <div #dropdown class="dropdown-menu backdrop-blur-xl gradient-border-solid" [ngClass]="menuActive ? 'appear': ''"
    >
        <div class="menu-items">
            <div class="menu-item" (click)="onSort('latest')">
                <span class="">Newest</span>
            </div>
            <div class="menu-item" (click)="onSort('popular')">
                <span class="">Most popular</span>
            </div>
        </div>
    </div>
</div>