<div #item class="bg-grey mx-2 mt-2 overflow-hidden rounded item flex flex-col cursor-pointer">

    <div class="flex flex-1 relative overflow-hidden">
        <img class="absolute" src="assets/images/item-test.jpg" alt="">
    </div>

    <div class="p-4">
        <div class="flex justify-between pb-3">
            <div class="flex flex-col">
                <h4>Weapon</h4>
                <span class="text-light-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</span>
            </div>

            <mat-icon *ngIf="isLiked === false" class="like" [svgIcon]="'line:like'" (click)="onClickLike()"></mat-icon>
            <mat-icon *ngIf="isLiked === true" class="text-yellow" [svgIcon]="'solid:like'" (click)="onClickLike()"></mat-icon>
        </div>

        <div class="flex justify-between">
            <div class="flex flex-col">
                <h5>1000</h5>
                <span class="text-light-grey">Players</span>
            </div>
            <div>
                <h5>1000</h5>
                <span class="text-light-grey">Items</span>
            </div>
            <div>
                <h5>1000</h5>
                <span class="text-light-grey">Avatars</span>
            </div>
            <div class="flex items-center">
                <h4 class="text-light-grey pr-2">+</h4>
                <span class="text-light-grey text-center">More <br>Details</span>
            </div>
        </div>
    </div>
</div>