<div class="totem-buy-asset w-full flex flex-row items-center h-fit justify-between px-16">
  <div class="flex flex-row w-full items-center justify-between">
    <div class="buy-asset-cards flex flex-row items-center justify-between max-w-[784px] w-full mr-6">
      <div class="asset-card h-[518px] w-[368px] rounded-[24px] flex flex-col items-center justify-start p-6 mr-6">
        <div class="image-wrapper h-[398px] w-full flex flex-col items-center justify-center p-5">
          <div class="flex flex-col items-center mt-9">
            <h2 class="font-totem uppercase text-3xl sm:text-4xl xl:text-5xl text-white">{{assets[0].type}}</h2>
          </div>
          <div *ngIf="assets[0].type === 'item'" class="!text-[200px] icon solid-buy-item flex"></div>
        </div>
        <div class="w-full flex flex-row items-center justify-between mt-6">
          <p class="text-[24px] leading-[26px] font-medium">{{assets[0].paymentInfo?.price}} USDC</p>
          <button class="h-12 !px-9 totem-primary-button text-[20px] leading-[22px] font-semibold cursor-pointer" matRipple>Purchase</button>
        </div>
      </div>
      <div class="asset-card h-[518px] w-[368px] rounded-[24px] flex flex-col items-center justify-start p-6">
        <div class="image-wrapper h-[398px] w-full flex flex-col items-center justify-center p-5">
          <div class="flex flex-col items-center mt-9">
            <h2 class="font-totem uppercase text-3xl sm:text-4xl xl:text-5xl text-white">{{assets[1].type}}</h2>
          </div>
          <div *ngIf="assets[1].type === 'avatar'" class="!text-[200px] icon solid-buy-avatar flex"></div>
        </div>
        <div class="w-full flex flex-row items-center justify-between mt-6">
          <p class="text-[24px] leading-[26px] font-medium">{{assets[1].paymentInfo?.price}} USDC</p>
          <button class="h-12 !px-9 totem-primary-button text-[20px] leading-[22px] font-semibold cursor-pointer" matRipple>Purchase</button>
        </div>
      </div>
    </div>
    <div class="buy-asset-text flex flex-col items-start justify-center max-w-[624px] w-full">
      <p class="text-[64px] leading-[68px] font-semibold">Create the Unique Totem Item!</p>
      <p class="text-[24px] leading-[26px] font-medium mt-10">Choose the item type to mint</p>
      <p class="text-[16px] leading-[20px] font-normal mt-6">Minting of Totem Items may take time. After you transfer the USDC to the Totem's address, your transaction needs to get confirmed. It may take several seconds. After confirmation of your transaction Totem mints the Totem Asset on the smart contract. Confirmation of this transaction also may take several seconds. Overall process may take up to a minute. Please ensure that you have enough USDC on your account and have enough MATIC to transfer USDC.</p>
    </div>
  </div>
</div>

