<div *ngIf="_item && notFound == false" class="relative py-[40px] lg:py-[60px] px-[20px] flex flex-col relative max-w-[1400px] m-auto">

    <div class="flex flex-col max-w-[1160px] m-auto w-full">
        <div class="blur-md">
            <bg-circle class="top-[-100px] left-0" [width]="'350px'" [background]="'#FFD011'"></bg-circle>
            <bg-circle class="top-[100px] left-[25%]" [width]="'200px'" [background]="'#00BC58'"></bg-circle>
            <bg-circle class="top-[-100px] left-[90%]" [width]="'250px'" [background]="'rgb(189 41 184)'"></bg-circle>
        </div>

        <div class="flex flex-col justify-center">
            <div class="flex flex-col lg:flex-row lg:flex-nowrap justify-center">
                <!-- Main Image -->
                <div class="img-wrapper gradient-border-solid m-auto lg:m-0">
                    <div class="flex relative">
                        <img loading="lazy" *ngIf="_item?.tokenId"
                        [src]="assetRendererUrl + '/' + type + '/' + _item?.tokenId + '?width=470&height=470'"
                        alt=""
                        (error)="updateUrl()">
                        <div class="w-[100%] mt-[100%]"></div>
                    </div>
                </div>

                <item-desc [type]="type" [item]="_item" class="px-[0] lg:px-[30px] mt-[60px] lg:mt-0 min-w[unset] lg:min-w-[400px]"></item-desc>
            </div>

            <!-- Tabs -->
            <div class="flex w-full justify-center max-w-[500px] m-auto lg:m-0">
                <div class="flex tabs-wrapper">
                    <div class="tab sm:!text-base sm:!p-[10px]"
                        [ngClass]="activeTab === 'properties' ? 'bg-black !text-white': ''"
                        (click)="onChangeTab('properties')">{{'modules.properties' | translate}}</div>

                    <div class="tab sm:!text-base sm:!px-[10px]"
                        [ngClass]="activeTab === 'legacy' ? 'bg-black !text-white': ''" (click)="onChangeTab('legacy')">
                        {{'modules.legacy' | translate}}</div>

                    <div class="tab sm:!text-base sm:!px-[10px]"
                        [ngClass]="activeTab === 'history' ? 'bg-black !text-white': ''"
                        (click)="onChangeTab('history')">
                        {{'modules.ownership_history' | translate}}</div>
                </div>
            </div>

        </div>


        <div>
            <item-properties [properties]="properties" *ngIf="activeTab === 'properties'"></item-properties>
            <item-legacy *ngIf="activeTab === 'legacy'"></item-legacy>
            <item-history [type]="type" [asset]="_item" *ngIf="activeTab === 'history'"></item-history>
        </div>
    </div>

    <horizontal-carousel class="mt-[70px]" [title]="'History view'" [menuTitle]="null" [itemType]="type"
        [items]="assets">
    </horizontal-carousel>
</div>

<div class="flex w-full min-h-screen h-[calc(100vh-70px)]" *ngIf="!_item && notFound == false">
    <totem-spinner class="m-auto"></totem-spinner>
</div>

<not-found class="h-[calc(100vh-70px)]" *ngIf="notFound == true"></not-found>
