@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';

:host {
  height: 100%;
  width: 100%;
}

* {
  user-select: none;
  pointer-events: none;
  font-weight: 500;
}

.search-card-body {
  overflow: hidden;

  .cta-button {
    max-width: 200px;
    width: 100%;
    height: 50px;
    background-color: $grey;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(95, 99, 105, 0.5);
    border-radius: 4px;

    mat-icon {
      width: 12px;
      height: auto;
      margin-right: 6px;
    }
  }

  .preview-content {
    background-color: $grey;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(95, 99, 105, 0.5);
    border-radius: 4px;
    position: relative;

    .fake-scroll {
      position: absolute;
      top: 88px;
      right: 0;
      width: 5px;
      height: 45px;
      border-radius: 4px;
      background-color: rgba(95, 99, 105, 0.5);
    }

    .search-block {
      box-sizing: border-box;
      height: 40px;
      border: 1px solid rgba(95, 99, 105, 0.5);
      border-radius: 4px;

      mat-icon {
        width: 15px;
        height: auto;
        color: rgba(95, 99, 105, 0.5);
      }
    }

    .image-preview-block {
      background: rgba(53, 56, 64, 0.5);
      border-radius: 4px;
      height: 50px;
      font-size: 14px;
      line-height: 16px;
      .img-preview {
        height: 36px;
        width: 36px;
        flex-shrink: 0;
        border-radius: 4px;
        overflow: hidden;
        .preview-placeholder {
          background-color: $yellow;
          height: 100%;
          width: 100%;
          mat-icon {
            width: 30px;
            height: auto;
            color: $grey;
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .game-name {
        color: #fff;
      }
      .game-type {
        color: $light-grey;
      }

    }

    .fake-image-preview-block {
      font-size: 14px;
      line-height: 16px;
      .img-preview {
        height: 36px;
        width: 36px;
        background-color: $dark-grey;
        border-radius: 4px;
      }
    }

    .view-all-button {
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      height: 18px;
      .view-all-cta {
        position: relative;
        height: 100%;
        &::before {
        content: '';
          width: calc(100% + 8px);
          height: 4px;
          background-color: rgba(95, 99, 105, 0.5);
          position: absolute;
          border-radius: 25px 25px 0 0;
          top: 22px;
          right: 0px;
          left: -4px;
        }
      }

    }

  }

}
