<div class="totem-footer" fxLayout="column" fxLayoutAlign="center center">
  <div class="totem-footer-wrapper" fxLayout="column" fxLayoutAlign="start">
    <div class="footer-contact-block" fxLayout="row" fxLayoutAlign="space-between center">

      <div class="subscribe-block" fxFlex.lt-md="60%" fxFlex.lt-sm="100%" fxLayout="column" fxLayoutAlign="start">
        <div class="title">Get the latest update</div>
        <div class="email-cta" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="email-form">
            <totem-email-sub></totem-email-sub>
          </div>
          <!-- <button class="submit-button" mat-raised-button>Submit</button> -->
          <totem-button class="submit-button-block" [customId]="'emailButton'" [width]="'100'" [height]="'40'" [caption]="'Submit'"></totem-button>
        </div>
      </div>

      <div class="contact-block">
        <div class="join-cta title">Join</div>
        <div class="join-icon-links" fxLayout="row" fxLayoutAlign="start">
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <img src="assets/images/discord.png" alt="icon">
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <img src="assets/images/discord.png" alt="icon">
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <img src="assets/images/discord.png" alt="icon">
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <img src="assets/images/discord.png" alt="icon">
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <img src="assets/images/discord.png" alt="icon">
          </div>
        </div>
      </div>

    </div>
    <div class="footer-info-block" fxLayout="row wrap" fxLayoutAlign="space-between start">

      <div fxFlex="32%" fxFlex.lt-md="32%" fxFlex.lt-sm="100%" class="totem-company-info" fxLayout="column" fxLayoutAlign="start">
        <div>
          <img src="assets/icons/nav/totem-logo.svg" alt="TOTEM">
        </div>
        <div class="company-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam
        </div>
      </div>

      <div fxFlex="40%" fxFlex.lt-md="60%" fxFlex.lt-sm="100%" class="bottom-info" fxLayout="column" fxLayoutAlign="start">
        <div class="totem-content w-full" fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="title marb-10">Explore</div>
            <a>Items</a>
            <a>Avatars</a>
            <a>Games</a>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="title marb-10">Account</div>
            <a>Profile</a>
            <a>Favorites</a>
            <a>Settings</a>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="title marb-10">Resources</div>
            <a>Help</a>
            <a>Blog</a>
            <a class="hidden-about">About</a>
          </div>
          <div class="visible-about">
            <div class="title marb-10">Company</div>
            <a>About</a>
          </div>

        </div>
        <div class="contact-block">
          <div class="join-cta title">Join</div>
          <div class="join-icon-links" fxLayout="row wrap" fxLayoutAlign="start">
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <img src="assets/images/discord.png" alt="icon">
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <img src="assets/images/discord.png" alt="icon">
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <img src="assets/images/discord.png" alt="icon">
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <img src="assets/images/discord.png" alt="icon">
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <img src="assets/images/discord.png" alt="icon">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-copyright-block" fxLayout="row" fxLayoutAlign="space-between center">

      <div>
        @ 2022 - 2025 Totem, Inc
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <a class="privacy-link">Privacy Policy</a>
        <a class="terms-link">Terms</a>
      </div>

    </div>
  </div>
</div>
