<div class="totem-footer" fxLayout="column" fxLayoutAlign="center center">
  <div class="totem-footer-wrapper" fxLayout="column" fxLayoutAlign="start">
    <div class="footer-contact-block" fxLayout="row" fxLayoutAlign="space-between center">

      <div class="subscribe-block" fxFlex.lt-md="60%" fxFlex.lt-sm="100%" fxLayout="column" fxLayoutAlign="start">
        <div class="title">{{'footer.get_the_latest_updates' | translate}}</div>
        <div class="email-cta" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="email-form">
            <totem-email-sub></totem-email-sub>
          </div>
          <!-- <button class="submit-button" mat-raised-button>Submit</button> -->
          <!-- <totem-button class="submit-button-block" [customId]="'emailButton'" [width]="'102px'" [height]="'40px'" [caption]="'Subscribe'"></totem-button> -->
          <button class="!ml-3 h-10 totem-primary-button text-[20px] leading-[22px] font-medium">Subscribe</button>
        </div>
      </div>

      <div class="contact-block" fxFlex="30%">
        <div class="join-cta title">{{'footer.join' | translate}}</div>
        <div class="join-icon-links" fxLayout="row" fxLayoutAlign="start">
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <a aria-label="discord-link" title="Discord" href="https://discord.gg/Uj7XCuZu" target="_blank">
              <!-- <img src="assets/images/discord.png" alt="icon"> -->
              <span class="icon-font-discord"></span>
            </a>
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <a aria-label="facebook-link" title="Facebook" href="https://www.facebook.com/totem.explorer/" target="_blank">
              <!-- <img src="assets/images/Facebook.png" alt="icon"> -->
              <span class="icon-font-facebook"></span>
            </a>
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <a aria-label="twitter-link" title="Twitter" href="https://twitter.com/TotemExplorer" target="_blank">
              <!-- <img src="assets/images/Twitter.png" alt="icon"> -->
              <span class="icon-font-twitter"></span>
            </a>
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <a aria-label="instagram-link" title="Instagram" href="https://www.instagram.com/" target="_blank">
              <span class="icon-font-instagram"></span>
            </a>
            <!-- <img src="assets/images/Instagram.png" alt="icon"> -->
          </div>
        </div>
      </div>

    </div>
    <div class="footer-info-block" fxLayout="row wrap" fxLayoutAlign="space-between start">

      <div fxFlex="32%" fxFlex.lt-md="32%" fxFlex.lt-sm="100%" class="totem-company-info" fxLayout="column" fxLayoutAlign="start">
        <div class="text-white h-full flex flex-row items-center cursor-pointer" aria-label="Totem logo" href="/" routerLink="/">
          <mat-icon class="shrink-0 !w-[129px] !h-auto" [svgIcon]="'feather:totem'"></mat-icon>
          <div class="shrink-0 ml-[6px] min-h-[0px] h-[22px] w-[22px] pb-[1px]">
            <img class="rounded min-h-[0px] h-full w-full" src="assets/favicons/logo-192.png" alt="logo">
          </div>
        </div>
        <!-- <div>
          <a aria-label="Totem logo" href="/" routerLink="/"><img loading="lazy" src="assets/icons/nav/totem-logo.svg" alt="TOTEM"></a>
        </div> -->
        <div class="company-description">
          {{'footer.about_totem' | translate}}
        </div>
      </div>

      <div fxFlex="30%" fxFlex.lt-md="60%" fxFlex.lt-sm="100%" class="bottom-info" fxLayout="column" fxLayoutAlign="start">
        <div class="totem-content w-full" fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="title mb-[6px]">{{'footer.explore' | translate}}</div>
            <a routerLinkActive="active-route" href="/items" routerLink="/items">{{'nav.items' | translate}}</a>
            <a routerLinkActive="active-route" href="/avatars" routerLink="/avatars">{{'nav.avatars' | translate}}</a>
            <a routerLinkActive="active-route" href="/games" routerLink="/games">{{'nav.games' | translate}}</a>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="title mb-[6px]">{{'footer.account' | translate}}</div>
            <a routerLinkActive="active-route" routerLink="/profile">{{'nav.profile' | translate}}</a>
            <a routerLinkActive="active-route" routerLink="/profile/favorites">{{'footer.favorites' | translate}}</a>
            <a routerLinkActive="active-route" routerLink="/profile">{{'footer.settings' | translate}}</a>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="title mb-[6px]">{{'footer.resources' | translate}}</div>
            <a routerLinkActive="active-route" routerLink="/help">{{'nav.help' | translate}}</a>
            <a routerLinkActive="active-route" routerLink="/terms-and-policy">{{'footer.blog' | translate}}</a>
            <a routerLinkActive="active-route" routerLink="/terms-and-policy" class="hidden-about">{{'footer.about' | translate}}</a>
          </div>
          <!-- <div class="visible-about">
            <div class="title marb-10">Company</div>
            <a>About</a>
          </div> -->

        </div>
        <div class="contact-block">
          <div class="join-cta title">Join</div>
          <div class="join-icon-links" fxLayout="row wrap" fxLayoutAlign="start">
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <a aria-label="discord-link" title="Discord" href="https://discord.gg/Uj7XCuZu" target="_blank">
                <!-- <img src="assets/images/discord.png" alt="icon"> -->
                <span class="icon-font-discord"></span>
              </a>
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <a aria-label="facebook-link" title="Facebook" href="https://www.facebook.com/totem.explorer/" target="_blank">
                <!-- <img src="assets/images/Facebook.png" alt="icon"> -->
                <span class="icon-font-facebook"></span>
              </a>
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <a aria-label="twitter-link" title="Twitter" href="https://twitter.com/TotemExplorer" target="_blank">
                <!-- <img src="assets/images/Twitter.png" alt="icon"> -->
                <span class="icon-font-twitter"></span>
              </a>
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <a aria-label="instagram-link" title="Instagram" href="https://www.instagram.com/" target="_blank">
                <span class="icon-font-instagram"></span>
              </a>
              <!-- <img src="assets/images/Instagram.png" alt="icon"> -->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-copyright-block" fxLayout="row wrap-reverse" fxLayoutAlign="space-between center">

      <div class="inc-info">
        <span>{{'footer.copyright' | translate}}. </span><span class="reserved-caption">{{'footer.all_rights_reserved' | translate}}</span>
      </div>

      <div class="co-links">
        <a routerLinkActive="active-route" routerLink="/terms-and-policy" class="privacy-link">{{'footer.privacy_policy' | translate}}</a>
        <a routerLinkActive="active-route" routerLink="/terms-and-policy" class="terms-link">{{'footer.terms_of_service' | translate}}</a>
      </div>

    </div>
  </div>
</div>
