<div class="totem-footer" fxLayout="column" fxLayoutAlign="center center">
  <div class="totem-footer-wrapper" fxLayout="column" fxLayoutAlign="start">
    <div class="footer-contact-block" fxLayout="row" fxLayoutAlign="space-between center">

      <div class="subscribe-block" fxFlex.lt-md="60%" fxFlex.lt-sm="100%" fxLayout="column" fxLayoutAlign="start">
        <div class="title">Get the latest updates</div>
        <div class="email-cta" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="email-form">
            <totem-email-sub></totem-email-sub>
          </div>
          <!-- <button class="submit-button" mat-raised-button>Submit</button> -->
          <totem-button class="submit-button-block" [customId]="'emailButton'" [width]="'102px'" [height]="'40px'" [caption]="'Subscribe'"></totem-button>
        </div>
      </div>

      <div class="contact-block" fxFlex="30%">
        <div class="join-cta title">Join</div>
        <div class="join-icon-links" fxLayout="row" fxLayoutAlign="start">
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://discord.gg/Uj7XCuZu" target="_blank"><img src="assets/images/discord.png" alt="icon"></a>
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://www.facebook.com/totem.explorer/" target="_blank"><img src="assets/images/Facebook.png" alt="icon"></a>
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://twitter.com/TotemExplorer" target="_blank"><img src="assets/images/Twitter.png" alt="icon"></a>
          </div>
          <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
            <img src="assets/images/Instagram.png" alt="icon">
          </div>
        </div>
      </div>

    </div>
    <div class="footer-info-block" fxLayout="row wrap" fxLayoutAlign="space-between start">

      <div fxFlex="32%" fxFlex.lt-md="32%" fxFlex.lt-sm="100%" class="totem-company-info" fxLayout="column" fxLayoutAlign="start">
        <div>
          <a href="/"><img src="assets/icons/nav/totem-logo.svg" alt="TOTEM"></a>
        </div>
        <div class="company-description">
          Totem is an indie game development collective that unites creators and players around a universe of interconnected game experiences. Totem Web Explorer is developed and maintained by IT-Dimension with support and supervising from Totem Foundation. Totem Web Explorer is a third-party software, it is recommended for usage by Totem but is not a part of Totem's core infrastructure.
        </div>
      </div>

      <div fxFlex="30%" fxFlex.lt-md="60%" fxFlex.lt-sm="100%" class="bottom-info" fxLayout="column" fxLayoutAlign="start">
        <div class="totem-content w-full" fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="title mb-[6px]">Explore</div>
            <a routerLinkActive="active-route" routerLink="/items">Items</a>
            <a routerLinkActive="active-route" routerLink="/avatars">Avatars</a>
            <a routerLinkActive="active-route" routerLink="/games">Games</a>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="title mb-[6px]">Account</div>
            <a>Profile</a>
            <a>Favorites</a>
            <a>Settings</a>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="title mb-[6px]">Resources</div>
            <a>Help</a>
            <a>Blog</a>
            <a class="hidden-about">About</a>
          </div>
          <!-- <div class="visible-about">
            <div class="title marb-10">Company</div>
            <a>About</a>
          </div> -->

        </div>
        <div class="contact-block">
          <div class="join-cta title">Join</div>
          <div class="join-icon-links" fxLayout="row wrap" fxLayoutAlign="start">
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <a href="https://discord.gg/Uj7XCuZu" target="_blank"><img src="assets/images/discord.png" alt="icon"></a>
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <a href="https://www.facebook.com/totem.explorer/" target="_blank"><img src="assets/images/Facebook.png" alt="icon"></a>
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <a href="https://twitter.com/TotemExplorer" target="_blank"><img src="assets/images/Twitter.png" alt="icon"></a>
            </div>
            <div class="contact-link" fxLayout="column" fxLayoutAlign="center center">
              <img src="assets/images/Instagram.png" alt="icon">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-copyright-block" fxLayout="row wrap-reverse" fxLayoutAlign="space-between center">

      <div class="inc-info">
        <span>© 2022 IT-Dimension LLC. </span><span class="reserved-caption">All Rights Reserved</span>
      </div>

      <div class="co-links">
        <a class="privacy-link">Privacy Policy</a>
        <a class="terms-link">Terms of service</a>
      </div>

    </div>
  </div>
</div>
