@import 'styles/scss/variables';

.totem-footer {
  background: rgba(53, 56, 64, 0.37);
  //border-bottom: 1px solid $dark-grey;
  position: relative;
  height: auto;
  width: 100%;
  &-wrapper {
    max-width: 1440px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    .footer-contact-block {
      width: 100%;
      border-top: 1px solid $dark-grey;
      padding-top: 57px;
      padding-bottom: 32px;
      .subscribe-block {
        width: 32%;

        .email-cta {
          margin-top: 24px;
          width: 100%;
          .email-form {
            width: 76%;
          }
          .submit-button-block {
            margin-left: 12px;
          }
          .submit-button {
            width: 102px;
            height: 40px;
            margin-left: 8px;
            border-radius: 4px !important;
            background: $yellow;
            color: #111;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            outline: 1px solid transparent;
            transition: all 0.33s ease-in-out;
            &:hover {
              background: $grey;
              color: $yellow;
            }
            &:focus {
              outline: 1px solid $yellow;
            }
          }
        }
      }
      .contact-block {
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: stretch flex-start;
        align-items: stretch;
        @media (max-width: 960px) {
          display: none;
        }
        .join-icon-links {
          margin-top: 18px;

          .contact-link {
            width: 46px;
            height: 46px;
            flex-shrink: 0;
            background-color: $dark;
            border-radius: 50%;
            transition: background-color 0.33s ease-out;
            cursor: pointer;
            &:hover {
              background-color: $dark-grey;
            }
            &:not(:last-child) {
              margin-right: 22px;
            }
            img {
              padding: 11px;
              width: 100%;
              height: auto;
            }
          }
        }
        //width: 260px;
      }
    }

    .footer-info-block {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 80px;
      border-top: 1px solid $dark-grey;
      .totem-company-info {
        width: 32%;
        div img {
          width: 129px;
          height: 30px;
        }
        .company-description {
          margin-top: 25px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #8A939B;
        }
      }
      .bottom-info {
        .contact-block {
          flex-direction: column;
          box-sizing: border-box;
          display: none;
          place-content: stretch flex-start;
          align-items: stretch;
          @media (max-width: 960px) {
            display: flex;
          }
          .join-cta {
            margin-top: 36px;
            //margin-left: 8px;
          }
          .join-icon-links {
            margin-top: 10px;

            .contact-link {
              width: 46px;
              height: 46px;
              flex-shrink: 0;
              background-color: $dark;
              border-radius: 50%;
              margin-top: 8px;
              transition: background-color 0.33s ease-out;
              cursor: pointer;
              &:hover {
                background-color: $dark-grey;
              }
              &:not(:last-child) {
                margin-right: 22px;
              }
              img {
                padding: 11px;
                width: 100%;
                height: auto;
              }
            }
          }
          //width: 260px;
        }
      }
      .totem-content {
        @media (max-width: 600px) {
          margin-top: 40px;
        }
        width: 100%;
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $light-grey;
          margin-top: 26px;
          transition: color 0.33s ease-out;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }
        a.active-route {
          color: #fff;
        }
      }

      //.hidden-about {
      //  display: none;
      //  @media (max-width: 600px) {
      //    display: block;
      //  }
      //}
      //.visible-about {
      //  flex-direction: column;
      //  box-sizing: border-box;
      //  display: flex;
      //  place-content: stretch flex-start;
      //  align-items: stretch;
      //  @media (max-width: 600px) {
      //    display: none;
      //  }
      //}
    }

    .footer-copyright-block {
      width: 100%;
      height: 70px;
      border-top: 1px solid $dark-grey;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      @media (max-width: 479px) {
        height: 88px;
        .inc-info {
          margin-top: 20px;
        }
      }
      .terms-link {
        margin-left: 43px;
      }
      .co-links {
        width: 100%;
        max-width: 177px;
        flex-direction: row;
        display: flex;
        place-content: center space-between;
        align-items: center;

        a {
          cursor: pointer;
        }

        @media (max-width: 479px) {
          flex: 1 1 100%;
          max-width: 100%;
          place-content: center start;
          align-items: center;
          margin-top: 4px;
          .terms-link {
            margin-left: 50px;
          }
        }
      }
    }

  }
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.marb-10 {
  margin-bottom: 10px;
}
