
@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';

.totem-file-input {
  width: 40px;
  height: 40px;
  background-color: $dark;
  border-radius: 50%;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0px;
    height: 0px;
  }

  .line-edit {
    font-size: 26px;
    width: 40px;
    height: 40px;
    color: $light-grey;
    transition: color 0.33s ease-out;
    cursor: inherit;
    &::before {
      display: flex;
      align-items: center;
      place-content: center center;
    }
  }
  &:hover {
    .line-edit {
      color: #fff;
    }
  }
}

.flex-all-center {
  display: flex;
  align-items: center;
  place-content: center center;
}
