@import 'styles/scss/variables';
@import 'styles/scss/placeholders';

.menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: $transparent-light;
    
    @extend %gradient-border-solid;
    
    .solid-more {
        height: 28px;
        width: 28px;
        font-size: 28px;
        color: $light-grey;
    }
}