<div class="pnf-wrapper w-full h-full" fxLayout="row wrap-reverse" fxLayoutAlign="row center">

    <div class="content-wrapper" fxFlex="100%">
      <p fxHide.xs class="title-caption font-totem">{{'specific.page_not_found' | translate}} {{'specific.oops' | translate}}</p>
      <p fxHide.gt-xs class="title-caption-mob font-totem">{{'specific.oops' | translate}}</p>
      <p fxHide.gt-xs class="title-caption-mob-light font-totem mt-[14px]">{{'specific.page_not_found' | translate}}</p>
      <p class="subcaption">{{'specific.page_looking_for_might' | translate}}</p>
      <div class="button-wrapper">
        <totem-button routerLink="/" [width]="'220px'" [height]="'50px'" [caption]="'GO TO HOMEPAGE'"></totem-button>
      </div>
    </div>

    <div class="image-wrapper">
      <img loading="lazy" src="assets/images/not-found-image.webp" alt="">
    </div>
</div>
