<div class="p-[20px] my-[40px] flex flex-col relative">

    <!-- <div class="flex"> -->
        <filter-nav></filter-nav>

        <div class="flex justify-center w-full">

            <div class="filters-wrapper w-0 lg:w-[340px]">
                <item-filters></item-filters>
            </div>

            <div class="flex flex-wrap">
                <item-card class="m-[10px] flex grow justify-center" *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0,0]"></item-card>
            </div>

        </div>
    <!-- </div> -->

</div>