<div class="desc-form">
  <form class="form-section" [formGroup]="connectionsForm">

    <h3>Connections and links</h3>

    <div class="info-block">
      <div class="info-block-wrapper">
        <div class="block-section flex-wrap !border-0">
          <h4>Official Web-page</h4>
          <div class="input-section">
            <input type="text" formControlName="webPage" (change)="updateForm()">
            <span>Enter the URL of the marketplace page on which your game is located, for example, https://Creators.itch.io/game</span>
            <span @showMessage class="error-message" *ngIf="webPageErrors">Required field</span>
          </div>
        </div>
      </div>

      <div class="info-block-wrapper">
        <div class="block-section flex-wrap !border-0">
          <h4>Asset renderer URL<span class="pl-[10px]">(Optional)</span></h4>
          <div class="input-section">
            <input type="text" formControlName="rendererUrl" (change)="updateForm()">
            <span>Enter the URL of your custom asset renderer Web-service</span>
          </div>
        </div>
      </div>

      <div class="info-block-wrapper">
        <div class="block-section flex-wrap !border-0">
          <h4>Promo video link<span class="pl-[10px]">(Optional)</span></h4>
          <div class="input-section">
            <input type="text" formControlName="videoUrl" (change)="updateForm()">
            <span>Share promo video. Enter the full URL, for example, https://twitter.com</span>
          </div>
        </div>
      </div>

      <div class="info-block-wrapper">
        <div class="block-section flex-wrap !border-b !border-b-dark-grey">
          <h4>Social Links<span class="pl-[10px]">(Optional)</span></h4>
          <div class="input-section" formArrayName="socialLinks">

            <ng-container [formArrayName]="i" *ngFor="let socialLink of socialLinksForm.controls; index as i">
              <div class="social-link flex-wrap lg:flex-nowrap">
                  <form-dropdown @showInput (selectedTag)="onSelectTag($event, i)" class="!max-w-[180px] w-full mb-[15px] mr-[20px]" [inputType]="'radio'" [title]="'Select type'" [items]="dropdownLinks"></form-dropdown>

                  <div @showInput class="flex w-full items-center">
                    <input type="text" [formControlName]="1" (blur)="updateForm()">
                    <!-- <span @showInput class="prefix-wrapper">
                      <span class="prefix-span" [ngClass]="socialLink.value != '' && socialLink.value ? '!text-white':''">https://</span>
                    </span> -->
                    <mat-icon class="trash-icon" [svgIcon]="'line:trash'" (click)="onRemoveLink(i)"></mat-icon>
                  </div>
              </div>
            </ng-container>

            <div class="flex">
              <div class="!max-w-[0px] lg:!max-w-[180px] w-full"></div>
              <span class="pl-0 lg:pl-[20px]">Where does this link go? Enter the full URL, for example https://twitter.com</span>
            </div>

          </div>
        </div>
        <totem-button class="ml-auto" [height]="'40px'" [width]="'140px'" [caption]="'Add Link'" (click)="onAddLink()"></totem-button>
      </div>

    </div>

    <div class="py-[80px] flex justify-center">
      <totem-button class="flex" [caption]="'Continue'"></totem-button>
      <totem-button class="flex ml-[20px]" [caption]="'Submit Game'" (click)="submitGameInfo()"></totem-button>
    </div>


  </form>
</div>
