@import 'styles/scss/variables';

img {
    border-radius: 4px;
    object-fit: contain;
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 810px;
}

.image-wrapper {
  border: 1px solid $light-grey;
  transition: opacity .2s;
}

.hl-image-blurred {
  filter: blur(10px) brightness(80%);
  transform: scale(1.1);
  object-fit: cover;
}

.dropdown-wrapper {
    padding-bottom: 35px;

    .dropdown-button {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 10px;
        cursor: pointer;

        .line-arrow_down {
            transition: transform .5s ease-in-out;
            transform: rotateX(0deg);
        }
    }
    .dropdown-table-wrapper {
        overflow: hidden;
        transition: max-height .5s ease-in-out;
        max-height: 1px;
        .dropdown-table {
            // border-radius: 4px;
            transition: border-radius .5s ease-in-out;
            border: 1px solid $light-grey;
            padding: 12px;

            p {
                font-weight: 500;
            }
            span {
                -webkit-line-clamp: 2;
                line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .row {
                display: flex;
                border-bottom: 1px solid $light-grey;

                div {
                    display: flex;
                    align-items: center;
                }
                div:first-child {
                    font-weight: 500;
                    width: 130px;
                    min-width: 130px;
                    height: 60px;
                    padding-left: 12px;
                    border-right: 1px solid $light-grey;
                }
                div:last-child {
                    padding-left: 12px;
                    width: 100%;
                    max-height: 60px;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

/* .hl-image {
    backdrop-filter: blur(5px);
    transition: backdrop-filter .2s;
} */
/* .image-bg {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: opacity .2s;
} */

/* .hl-image {
    transition: opacity .2s;
    border: 1px solid $light-grey;
} */

.tags {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    column-gap: 6px;
    row-gap: 8px;
    .tag {
        background-color: $grey;
        padding: 10px;
        border-radius: 4px;
        color: $light-grey;
    }
}
p {
    white-space: pre-wrap;
}

.links {
    display: flex;
    gap: 16px;
    // justify-content: center;
    .link {
        display: flex;
        justify-content: center;
        width: 46px;
        height: 46px;
        background-color: $black;
        border-radius: 9999px;
        font-size: 24px;
    }
}


