@import 'styles/scss/variables';

:host {
  width: 100%;
}

a, span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $light-grey;
}

.submission-nav-wrapper {
  width: 100%;
  max-width: 1500px;
  height: 31px;
  border-bottom: 1px solid $dark-grey;
  .submission-nav {
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 360px;
    justify-content: space-between;
    height: inherit;
    .nav-block {
      padding-left: 5px;
      padding-left: 5px;
      height: inherit;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      cursor: pointer;

      a {
        white-space: nowrap;
        position: relative;
        transition: color 0.33s ease-out;
        &:hover {
          color: #fff;
        }
      }

      a::before {
        content: '';
        width: 0px;
        height: 4px;
        background-color: $yellow;
        position: absolute;
        border-radius: 25px 25px 0 0;
        top: 28px;
        right: 0px;
        left: -4px;
        opacity: 0;
        transition: width 0.26s ease-out, opacity 0.26s ease-out;
      }

      a.active-tab {
        color: #fff;

        &::before {
          width: calc(100% + 8px);
          opacity: 1;
        }
      }

    }
  }

}
