<div class="submission-nav-wrapper">
  <div class="submission-nav mx-[0px] sm:mx-[25px]">
    <div class="nav-block" (click)="goToTab('basic-information')">
      <a [ngClass]="activeTab === 'basic-information' ? 'active-tab': ''">{{'profile.general_information' | translate}}</a>
    </div>
    <div #detailsTab class="nav-block" (click)="goToTab('details')">
      <a [ngClass]="activeTab === 'details' ? 'active-tab': ''">{{'profile.artwork' | translate}}</a>
    </div>
    <div #linksTab class="nav-block" (click)="goToTab('links')">
      <a [ngClass]="activeTab === 'links' ? 'active-tab': ''">{{'profile.links' | translate}}</a>
    </div>
  </div>
</div>

