
@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';

.item-gradient {
    background: $item-gradient;
}


.demo-border {
    & input:checked {
        border: 1px solid $yellow;
        border-radius: 4px;
    }
}

.square {
  min-width: 36px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  overflow: hidden;
}

.menu-filter {
    width: 200px;
}

