<div class="totem-sidenav min-w-[256px] w-[256px] h-full flex flex-col relative items-center justify-start px-2 py-8">
  <div class="totem-sidenav-content w-full h-full flex flex-col items-start justify-start">
    <ng-container *ngIf="selectedGame$ | async; else selectedGameLoading">
      <p class="pl-2 text-[20px] font-semibold leading-[22px]">Selected Game</p>
      <ng-container *ngTemplateOutlet="selectedGameTemplate; context: { selectedGame: selectedGame$ | async }"></ng-container>
    </ng-container>
    <ng-container *ngIf="(games$ | async)!.length else gamesLoading">
      <p class="mt-4 mb-5 text-[16px] font-medium leading-[17px] t-col-light-grey">Games</p>
      <div class="items-wrapper w-full max-h-full h-full overflow-auto flex flex-col items-start justify-start">
        <ng-container *ngFor="let game of games$ | async; trackBy: trackByFn">
          <div
            class="game-card h-[56px] w-full rounded-12 p-2 flex flex-row items-center justify-start cursor-pointer"
            [ngClass]="{'t-bg-black game-card-selected': game.checked, 'no-renderer-game': !game.connections?.assetRenderer}"
            (click)="selectGame(game)"
            >
            <div class="w-[40px] h-[40px] rounded-12 overflow-hidden shrink-0">
              <img class="w-full h-full object-cover" [src]="game.images?.smallThumbnail" alt="Thumb">
            </div>
            <div class="flex flex-col h-full items-start justify-center ml-2">
              <p class="text-[16px] font-normal leading-[17px]">{{game.general?.name}}</p>
              <p class="text-[14px] font-medium leading-[15px] t-col-light-grey">{{game.general?.genre![0]}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #selectedGameTemplate let-game="selectedGame">
  <div class="selected-game-card h-[91px] w-full p-2 flex flex-row items-center justify-start rounded-12 mt-4">
    <div class="w-[75px] h-[75px] rounded-12 overflow-hidden shrink-0">
      <img class="w-full h-full object-cover" [src]="game.images?.smallThumbnail" alt="Thumb">
    </div>
    <div class="flex flex-col h-full items-start justify-center ml-[10px]">
      <p class="text-[16px] font-medium leading-[17px]">{{game.general?.name}}</p>
      <p class="text-[14px] font-normal leading-[15px] t-col-light-grey mt-[2px]">{{game.general?.genre![0]}}</p>
      <p class="text-[14px] font-normal leading-[15px] mt-2">Players: {{game.players}}</p>
    </div>
  </div>
</ng-template>

<ng-template #selectedGameLoading>
  <span class="ml-2 min-h-[22px] w-[60%] totem-skeleton"></span>
  <span class="min-h-[91px] w-full mt-4 totem-skeleton"></span>
</ng-template>

<ng-template #gamesLoading>
  <span class="mt-4 mb-5 min-h-[17px] w-[30%] totem-skeleton"></span>
  <span class="mt-2 min-h-[h-[56px] w-full totem-skeleton"></span>
  <span class="mt-2 min-h-[h-[56px] w-full totem-skeleton"></span>
  <span class="mt-2 min-h-[h-[56px] w-full totem-skeleton"></span>
  <span class="mt-2 min-h-[h-[56px] w-full totem-skeleton"></span>
  <span class="mt-2 min-h-[h-[56px] w-full totem-skeleton"></span>
  <span class="mt-2 min-h-[h-[56px] w-full totem-skeleton"></span>
</ng-template>
