@import "styles/scss/totem-variables";

:host {
  display: flex;
  position: relative;
  flex: 0;
  min-height: calc(100vh - 80px);
}

.totem-sidenav {
  background-color: $totem-dark-grey;
  border-right: 1px solid $totem-divider-grey;
  &-content {
    overflow: hidden;
    position: sticky;
    top: 112px;
    // min-height: calc(100vh - 136px);
    // height: 100%;
    // max-height: calc(100vh - 136px);

    .items-wrapper {
      padding-right: 8px;
      border-radius: 0 0 24px 24px;
      overflow: auto;
    }
  }
}

.selected-game-card {
  position: relative;
  border: 1px solid $totem-light-violet;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    inset: 0;
    background: $totem-select-gradient;
    z-index: -1;
  }
  //background: $totem-main-gradient;
}

.rounded-12 {
  border-radius: 12px;
}

.game-card {
  position: relative;
  border: 1px solid transparent;
  transition: border 0.22s ease-out, background-color 0.22s ease-out;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    inset: 0;
    background: $totem-select-gradient;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.22s ease-out;
    will-change: opacity;
  }
  &:hover {
    background-color: $totem-black;
  }
}

.game-card-selected {
  border: 1px solid $totem-light-violet;
  &:before {
    opacity: 1;
  }
}

.no-renderer-game {
  opacity: 0.75;
}
