<div [ngStyle]="{'background': customBackground ? customBackground : ''}" class="card-item gradient-border" (click)="onNavigate()">
    <div class="menu"><div class="solid-more"></div></div>

    <div [ngStyle]="{'background': customBackground ? customBackground : ''}" class="img-wrapper" *ngIf="_asset?.tokenId">
        <img loading="lazy" *ngIf="type != 'gem'" [src]="_asset?.rendererUrl" alt="" (error)="updateUrl()">
        <img loading="lazy" *ngIf="type == 'gem'" src="{{'https://asset-renderer.totem-explorer.com' + '/' + type + '/' + (+_asset?.tokenId % 11 + 1)}}" alt="" (error)="updateUrl()">
    </div>

    <div class="attributes">

        <div class="top">
            <h3 *ngIf="!_asset?.tokenId && !_asset?.id?.tokenId">ID: 1111</h3>
            <h3 *ngIf="_asset?.tokenId">ID: {{_asset?.tokenId}}</h3>
            <h3 *ngIf="_asset?.id?.tokenId">ID: {{_asset?.id?.tokenId}}</h3>

            <div *ngIf="_asset?.isLiked === false" class="like line-like"
                (click)="$event.stopPropagation(); onLike()"></div>
            <div *ngIf="_asset?.isLiked === true" class="!text-yellow like solid-like"
                (click)="$event.stopPropagation(); onLike()"></div>
        </div>

        <div class="bottom">
            <div>
                <h4 *ngIf="!_asset?.updatedAt && !_asset?.timeLastUpdated">24.24.24</h4>
                <h4 *ngIf="_asset?.updatedAt">{{_asset?.updatedAt | date:'dd.MM.yy'}}</h4>
                <h4 *ngIf="_asset?.timeLastUpdated">{{_asset?.timeLastUpdated | date:'dd.MM.yy'}}</h4>

                <p class="text-light-grey">Last used</p>
            </div>
            <div>
                <h4>{{_asset?.rarity || _asset?.rarity == 0 ? _asset?.rarity : '--'}}</h4>
                <p class="text-light-grey">Rarity</p>
            </div>
            <div>
                <h4 *ngIf="!_asset?.games && _asset?.games != 0">--</h4>
                <h4 *ngIf="_asset?.games || _asset?.games == 0">{{_asset?.games}}</h4>

                <p class="text-light-grey">Games used</p>
            </div>
        </div>
    </div>

</div>
