@import 'styles/scss/variables';

.slider {
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    // gap: 15px;
    // position: absolute;
    // top: 0;
    // right: 0;
    // left: 0;
    padding-bottom: 25px;


}

.slide {
    // flex: 0 0 calc(33.33% - 7.5px);
    // max-width: calc(33.33% - 7.5px);
    flex: 0 0 33.33%;
    max-width: 33.33%;
    // padding-right: 15px;

    img {
        padding-right: 15px;
        border-radius: 4px;
        border: 1px solid $light-grey;
    }
    // &:last-child {
    //     margin-right: 0 !important;
    // }
    &:first-child {
        // margin-right: 0 !important;
    }
}

.arrows-wrapper {
    position: relative;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    mat-icon {
        width: 8px !important;
        position: absolute;
        &.left-arrow {
            bottom: 0;
            left: 0;
        }
        &.right-arrow {
            bottom: 0;
            right: 0;
        }
    }
}


.wrapper::-webkit-scrollbar-thumb {
    background-color: $light-grey;
    border: none !important;
    border-radius: 4px;
    width: 5px;
}

.wrapper::-webkit-scrollbar {
    padding-left: 40px !important;
    padding-right: 40px !important;
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0);
}