<div class="wrapper">
    <div #slider class="slider">
        <ng-container *ngIf="_images">
            <div class="slide" *ngFor="let image of _images">
    
                <img *ngIf="!image" src="assets/images/game-info/game_slide_top.png" alt="">
                <img [src]="image" alt="">
            </div>
        </ng-container>
        <ng-container *ngIf="!_images">
            <div class="slide" *ngFor="let _ of [].constructor(10)">
    
                <img src="assets/images/game-info/game_slide_top.png" alt="">
            </div>
        </ng-container>
    </div>

    <div class="arrows-wrapper">
        <mat-icon class="left-arrow" [svgIcon]="'line:arrow_left'" (click)="onClickPrev()"></mat-icon>
        <mat-icon class="right-arrow" [svgIcon]="'line:arrow_right'" (click)="onClickNext()"></mat-icon>
    </div>
</div>