<div @fade-in-out *ngIf="showPopup" class="overlay">

    <div class="wrapper">
        <div class="main-block-wrapper">
            <form class="main-block" [formGroup]="transferForm">
                <section class="border-b border-dark-grey">
                    <h3>Token</h3>

                    <common-dropdown class="mb-[15px]" [title]="'Select Token'" (selectedToken)="onSelectToken($event)"
                        [items]="menuItems"></common-dropdown>

                    <span>Select the token you want to send</span>
                </section>
                <section class="border-b border-dark-grey">
                    <h3>To</h3>
                    <input formControlName="address" placeholder="Recipient address" type="text"
                        (blur)="isAddressValid()">

                    <span>Write the address for the transfer</span>
                    <span @showMessage class="error-message" *ngIf="!addressValid">Incorrect address</span>
                </section>

                <section>
                    <div class="flex justify-between items-center">
                        <h3>Amount</h3>
                        <span [ngClass]="selectedToken && !addressTouched && addressValid ? 'pointer-events-all !text-yellow': 'pointer-events-none text-light-grey'" class="transition-color cursor-pointer" (click)="onClickMax()">Max</span>
                    </div>
                    <div class="relative mb-[15px]"
                        [ngClass]="selectedToken ? 'text-white': 'text-light-grey pointer-events-none'">
                        <input formControlName="amount" class="!mb-0 amount-input" type="number"
                            (input)="onInputChange($event)" placeholder="0"
                            (blur)="estimateGas(selectedToken.title, selectedToken.value)">

                        <div *ngIf="selectedToken?.title" class="suffix">
                            <img loading="lazy" class="mr-[5px]" [src]="selectedToken?.title == 'MATIC' ? 'assets/images/matic.webp' : 'assets/images/usdc.webp'" alt=""> 
                            <p>{{selectedToken?.title}}</p>
                        </div>

                        <span class="gas-fee">Gas fee: {{gasFee ? gasFee: '0'}} MATIC </span>
                    </div>
                    <span class="!border-0">Write the number of tokens to transfer</span>
                </section>
            </form>
        </div>

        <div class="buttons">
            <button matRipple (click)="onClose()">Cancel</button>
            <button matRipple class="button-2" [disabled]="!amount || !addressValid || addressTouched" (click)="onTransfer()">Confirm</button>
        </div>
    </div>

</div>