<div @fade-in-out *ngIf="showPopup" class="overlay">

    <div class="wrapper">
        <div class="main-block-wrapper">
            <form class="main-block" [formGroup]="transferForm">
                <section class="border-b border-dark-grey">
                    <h4 class="marb-16-to-12">Token</h4>

                    <common-dropdown class="marb-16-to-12" [title]="'Select Token'" (selectedToken)="onSelectToken($event)"
                        [items]="menuItems"></common-dropdown>

                    <span class="padb-16-to-12">Select the token you want to send</span>
                </section>
                <section class="border-b border-dark-grey">
                    <h4 class="marb-16-to-12">To</h4>
                    <input formControlName="address" placeholder="Recipient address" type="text"
                        (blur)="isAddressValid()">

                    <span class="padb-16-to-12">Enter the address for the transfer</span>
                    <span @showMessage class="error-message" *ngIf="!addressValid">Incorrect address</span>
                </section>

                <section>
                    <div class="flex justify-between items-center marb-16-to-12">
                        <h4>Amount to send</h4>
                        <span [ngClass]="selectedToken && !addressTouched && addressValid ? 'pointer-events-all !text-yellow': 'pointer-events-none text-light-grey'" class="max-button transition-color cursor-pointer" (click)="onClickMax()">MAX</span>
                    </div>
                    <div class="relative"
                        [ngClass]="selectedToken ? 'text-white': 'text-light-grey pointer-events-none'">
                        <input 
                            formControlName="amount" 
                            class="!mb-0 amount-input" type="text" 
                            [allowNegativeNumbers]="false" 
                            mask="{{maskForAmount}}"
                            (input)="onInputChange($event)" placeholder="0 Token"
                            (blur)="estimateGas(selectedToken.title, selectedToken.value)">
                            <span @showMessage class="error-message" *ngIf="ammountError | async">You don't have enough tokens of this type.</span>
                        <div *ngIf="selectedToken?.title" class="suffix">
                          <div class="token-wrapper mr-[5px]">
                            <span [ngClass]="selectedToken?.title == 'MATIC' ? 'icon-font-MATIC' : 'icon-font-USDC'"></span>
                            <span class="token-background"></span>
                          </div>
                            <!-- <img loading="lazy" class="mr-[5px]" [src]="selectedToken?.title == 'MATIC' ? 'assets/images/matic.webp' : 'assets/images/usdc.webp'" alt=""> -->
                            <p>{{selectedToken?.title}}</p>
                        </div>

                    </div>
                    <div @showGas *ngIf="gasFee" class="flex flex-row gas-fee-wrapper mt-[8px]">
                      <mat-icon class="mr-[6px]" [svgIcon]="'line:info'"></mat-icon>
                      <span class="gas-fee">Gas fee: {{gasFee ? gasFee: '0'}} MATIC </span>
                    </div>
                    <span class="!border-0 amount-caption mart-16-to-12 padb-16-to-12">Enter the number of tokens</span>
                </section>
            </form>
        </div>

        <div class="buttons">
            <button matRipple (click)="onClose()">Cancel</button>
            <button matRipple class="button-2" [disabled]="!amount || !addressValid || addressTouched" (click)="onTransfer()">Confirm</button>
        </div>
    </div>

</div>
