
<!-- <div class="overlay">

   <div class="wrapper">
        <div class="main-block-wrapper">
            <div class="main-block">
                <section>
                    <h3>Token</h3>

                    <common-dropdown class="mb-[15px]" [title]="'Select Token'" [items]="menuItems"></common-dropdown>

                    <span>Select the token you want to send</span>
                </section>
                <section>
                    <h3>To</h3>
                    <input type="text">
                    <span>Write the address for the transfer</span>
                </section>
                <section>
                    <h3>Amount</h3>
                    <input type="text">
                    <span>Write the number of tokens to transfer</span>
                </section>
            </div>
        </div>
        
        <div class="buttons">
            <button>Cancel</button>
            <button>Confirm</button>
        </div>
   </div>

</div> -->