@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

.img-upload-dialog {
  height: 100%;
  width: 100%;
  padding: 16px;
  @media (max-width: 600px) {
    padding: 10px;
  }
  @media (max-height: 400px) {
    padding: 10px;
  }

  * {
    color:#FFFFFF;
  }

  .button-block {
    * {
      color: $light-grey;
    }
    position: relative;
    height: 40px;
    flex-shrink: 0;
    margin-top: 30px;
    @media (max-width: 600px) {
      margin-top: 14px;
    }
    @media (max-height: 400px) {
      margin-top: 8px;
    }
    .cancel-active-button {
      position: absolute;
      top: 0;
      left: calc(50% - 70px);
      bottom: 0;
    }
    .cancel-button {
      width: 140px;
      height: 40px;
      background-color: $dark-grey;
      color: $light-grey;
      border-radius: 4px;
      display: flex;
      place-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      user-select: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(50% - 70px);
      pointer-events: none;
    }
    totem-button {
      button.join-button {
        &:disabled {
          color: $light-grey !important;
        }
      }
    }
  }

  &-wrapper {
    height: 100%;
    width: 100%;
    position: relative;

    .content-block {
      border: 1px dashed $light-grey;
      border-radius: 4px;
      padding: 16px;
      @media (max-width: 600px) {
        padding: 10px;
      }
      @media (max-height: 400px) {
        padding: 10px;
      }

      &-body {
        background-color: $dark;
        border-radius: 4px;
        padding: 70px 20px 36px 20px;
        @media (max-width: 600px) {
          padding: 30px 10px 28px 10px;
        }

        &-title {
          width: 100%;
          height: 48px;
          position: relative;
          flex-shrink: 0;

          .title-text, .title-text-2 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            font-weight: 400;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
          }
          .title-text-2 {
            font-size: 40px;
            line-height: 40px;
          }

          @media (max-width: 999px) {
            .title-text, .title-text-2 {
              font-weight: 400;
              font-size: 40px;
              line-height: 40px;
            }
          }
          @media (max-width: 600px) {
            .title-text, .title-text-2 {
              font-weight: 400;
              font-size: 24px;
              line-height: 24px;
            }
          }
        }
        &-subtitle {
          position: relative;
          height: 80px;
          transition: height 0.33s ease-out;
          @media (max-width: 600px) {
            height: 54px;
          }
          &-wrapp {
            position: relative;
            max-width: 656px;
            width: 100%;
            height: 46px;
            transition: max-width 0s ease-out;

            .subtext {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
              bottom: 0px;
              right: 0px;
              font-weight: 500;
              font-size: 20px;
              line-height: 23px;
              text-align: center;
              color: $light-grey;
              white-space: pre-line;
              transition: visibility 0.33s ease-out;
              div {
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                color: $light-grey;
                @media (max-width: 600px) {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 16px;
                }
              }
            }
          }
        }

        &-subtitle-2 div {
          max-width: 800px;
          width: 100%;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: $light-grey;
        }
        &-progress {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          //max-width: 630px;
          width: 100%;
          flex-shrink: 0;

          &-bar {
            max-width: 548px;
            width: 100%;
            padding: 0px 60px;
            @media (max-width: 600px) {
              padding: 0px 24px;
            }
            .progress-bar {
              max-width: 179px;
              width: 100%;
              color: $dark-grey;
              transition: color 0.3s ease-out;
            }
            .allow-progress-color {
              color: $yellow;
            }

            .circles-wrapper {
              position: relative;
              width: 14px;
              height: 14px;
              flex-shrink: 0;

              .totem-spinner {
                position: absolute;
                top: 0;
                left: 0;
                width: 14px;
                height: 14px;
                border-radius: 50%;
              }

              .warning-icon {
                color: #FF5252;
                position: absolute;
                top: 0;
                left: 0;
                width: 14px;
                height: 14px;
              }

              .disabled-circle {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                background-color: $dark-grey;
                flex-shrink: 0;
                transition: background-color 0.33s ease-out;
              }
            }
          }

          .caption-block {
            width: 73%;
            @media (max-width: 800px) {
              width: 99%;
              .caption-section {
                width: 33%;
              }
            }
            .caption-section {
              width: 33.3%;
              text-align: center;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #FFFFFF;
              transition: color 0.33s ease-out;
              @media (max-height: 400px) {
                font-size: 13px;
                line-height: 15px;
              }
            }
          }

        }

        &-tx-info {
          height: 128px;
          max-width: 660px;
          width: 100%;
          border: 1px dashed $light-grey;
          border-radius: 4px;
          overflow: hidden;
          transition: height 0.4s ease-out;
          padding: 0px 14px 0px 20px;
          transition: margin-bottom 0.33s ease-out;
          //height: 128px;

          .title {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            white-space: nowrap;
          }
          .caption, .caption-light {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $light-grey;
          }
          .tx-info {
            width: 100%;
            .caption-light {
              font-size: 13px;
              color: #CBCBCB;
              width: 100%;
            }
          }

        }

        &-tx-info-mobile {
          height: 139px;
          max-width: 640px;
          width: 100%;
          border: 1px dashed $light-grey;
          border-radius: 4px;
          overflow: hidden;
          transition: height 0.4s ease-out;
          padding: 16px 16px;
          transition: margin-bottom 0.33s ease-out;
          //height: 128px;

          .title {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            white-space: nowrap;
          }
          .caption, .caption-light {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $light-grey;
          }
          .caption-light {
            font-size: 13px;
            color: #CBCBCB;
            cursor: pointer;

            .line-open_new {
              height: 16px;
              width: 16px;
              font-size: 16px;
            }

          }
        }

        @media (max-height: 400px) {
          padding: 12px 10px 8px 10px;
          &-title {
            height: 24px;
            .title-text, .title-text-2 {
              font-weight: 400;
              font-size: 24px;
              line-height: 24px;
            }
          }
          &-subtitle {
            height: 6px;
            &-wrapp {
              height: 28px;
              .subtext {
                div {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 16px;
                }
              }
            }
          }
          &-tx-info {
            height: 82px !important;
            margin-bottom: 12px !important;
          }

        }

      }
    }
    .crop-workbench {
      border: 1px dashed $light-grey;
      max-height: 630px;
      height: 100%;
      border-radius: 4px;

      &-cropground {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;

        image-cropper {
          width: 100%;
          height: 100%;
        }

      }

      &-loader {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }

    }

    .crop-footer {
      height: 40px;
    }

  }
}

.mtop-20px {
  margin-top: 20px;
  @media (max-height: 400px) {
    margin-top: 8px;
  }
}
.mtop-8px {
  margin-top: 8px;
  @media (max-height: 400px) {
    margin-top: 4px;
  }
}
.mtop-10px {
  margin-top: 10px;
  @media (max-height: 400px) {
    margin-top: 6px;
  }
}
