<div class="wrapper">
    <h2 *ngIf="!nft?.metadata?.name">ID: 3320324</h2>
    <h2 *ngIf="nft?.metadata?.name">{{nft.metadata.name}}</h2>

    <!-- User -->
    <div class="flex pt-[30px] pb-[40px]">
        <img src="assets/images/user-icon.png" alt="">
        <div class="flex flex-col justify-center pl-[10px]">
            <h4>User Name</h4>
            <p class="text-light-grey">Creator</p>
        </div>
    </div>

    <div *ngIf="wallet" class="flex pb-[20px] items-center">
        <p class="text-light-grey">Current owner </p>
        <a class="text-white pl-[10px] text-xl" href="https://mumbai.polygonscan.com/address/0x9a4A58D9C4bB6999C93fdb330bEAF32b1BfECbA3" target=”_blank”>{{wallet.slice(0, 6) + '...' + wallet.slice(-4)}}</a>
    </div>

    <!-- Icons -->
    <div class="flex border-t border-t-light-grey text-light-grey">
        <div class="icon">
            <mat-icon [svgIcon]="'line:like'"></mat-icon>
            <p>3212</p>
        </div>
        <div class="icon">
            <mat-icon [svgIcon]="'line:refresh'"></mat-icon>
            <p>Refresh</p>
        </div>
        <div class="icon">
            <mat-icon [svgIcon]="'line:share'"></mat-icon>
            <p>Share</p>
        </div>
    </div>

    <div class="play">
        <div class="flex gap-[15px]">
            <div class="item-tag">
                <h4>24.05.22</h4>
                <p>Last used</p>
            </div>
            <div class="item-tag">
                <h4>24.05.22</h4>
                <p>Last used</p>
            </div>
            <div class="item-tag">
                <h4>24.05.22</h4>
                <p>Last used</p>
            </div>
        </div>

        <totem-button class="pt-[20px]" [caption]="'Play'" [width]="'100%'"></totem-button>

    </div>


</div>