<div class="wrapper">
    <h2>ID: 3320324</h2>

    <!-- User -->
    <div class="flex py-[30px]">
        <img src="assets/images/user-icon.png" alt="">
        <div class="flex flex-col justify-center pl-[10px]">
            <h4>User Name</h4>
            <p class="text-light-grey">Creator</p>
        </div>
    </div>

    <!-- Icons -->
    <div class="flex border-t border-t-light-grey">
        <div class="icon">
            <mat-icon [svgIcon]="'line:like'"></mat-icon>
            <p>3212</p>
        </div>
        <div class="icon">
            <mat-icon [svgIcon]="'line:refresh'"></mat-icon>
            <p>Refresh</p>
        </div>
        <div class="icon">
            <mat-icon [svgIcon]="'line:share'"></mat-icon>
            <p>Share</p>
        </div>
    </div>

    <div class="play">
        <div class="flex gap-[15px]">
            <div class="item-tag">
                <h4>24.05.22</h4>
                <p>Last used</p>
            </div>
            <div class="item-tag">
                <h4>24.05.22</h4>
                <p>Last used</p>
            </div>
            <div class="item-tag">
                <h4>24.05.22</h4>
                <p>Last used</p>
            </div>
        </div>

        <totem-button class="pt-[20px]" [caption]="'Play'" [width]="'100%'"></totem-button>

    </div>


</div>