@import 'styles/scss/variables';

.totem-crop-dialog {
  height: 100%;
  width: 100%;

  &-wrapper {
    height: 100%;
    width: 100%;
    position: relative;

    .crop-workbench {
      border: 1px dashed $light-grey;
      max-height: 630px;
      height: 100%;
      border-radius: 4px;

      &-cropground {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;

        image-cropper {
          width: 100%;
          height: 100%;
        }

      }

      &-loader {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }

    }

    .crop-footer {
      height: 40px;
    }

  }
}
