<div class="w-340px h-460px bg-grey mx-4">
    <img class="h-80" src="assets/images/item-test.jpg" alt="">

    <div class="p-4 bg-grey">
        <div class="flex justify-between">
            <h4>ID: 1111</h4>
            
            <mat-icon [svgIcon]="'line:like'"></mat-icon>
        </div>

        <div class="flex">
            <div>
                <h5>24.24.2424</h5>
                <span class="text-light-grey">Last time used</span>
            </div>
            <div class="ml-12">
                <h5>566</h5>
                <span class="text-light-grey">Games played</span>
            </div>
        </div>
    </div>

</div>