@import 'styles/scss/variables';

.search-filter {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  z-index: 5;

  max-width: 456px;
  width: 100%;
  height: 40px;

  &-input {
    width: 100%;
    height: 100%;
    padding-left: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #fff;
    outline: none;

    border-radius: 4px;
    border: 1px solid transparent;
    background-color: rgba(53, 56, 64, 0.37);;

    transition: all 0.33s ease-out;

    &:hover {
      border: 1px solid $grey;
    }

    &:focus {
      background-color: $dark;
      border: 1px solid $yellow;
    }

    &::placeholder {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: $light-grey;
    }
  }
  .search-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    //font-size: 22px;
    width: 16px;
    height: 16px;
  }
  .close-icon {
    opacity: 0;
    color: $light-grey;
    position: absolute;
    top: 12px;
    right: 12px;
    //font-size: 22px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
  }

  .totem-dropdown {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 320px;
    top: 60px;
    left: 0px;
    padding: 6px 6px 0px 6px;

    background: rgba(53, 56, 64, 0.37);
    border: 1px solid $dark-grey;
    backdrop-filter: blur(20px);
    border-radius: 4px;

    .tabs {
      width: 100%;
      height: auto;
      font-weight: 400;
      font-size: 14px;
      line-height: 34px;
      color: $light-grey;
      border-bottom: 1px solid $dark-grey;
      cursor: pointer;

      .dropdown-tab {
        height: 36px;
        position: relative;
        .items-badge {
          position: absolute;
          display: flex;
          align-items: center;
          place-content: center center;
          line-height: 1;
          top: -1px;
          right: -2px;
          padding: 0px 4px;
          height: 12px;
          font-size: 12px;
          background-color: $yellow;
          border-radius: 40%;
          color: $dark;
        }
      }

      .games-tab, .avatars-tab, .items-tab {
        user-select: none;
        padding-left: 11px;
        padding-right: 11px;
        transition: all 0.33s ease-out;
        &:hover {
          color: #fff;
        }
      }
      .active-tab {
        color: #fff;
      }
    }
    .content {
      padding-top: 12px;
      padding-bottom: 12px;
      width: 100%;
      .content-items,
      .content-avatars,
      .content-games {
        height: auto;
        width: 100%;
        .items-wrapper {
          height: inherit;
          width: 100%;
          .item-card {
            cursor: pointer;
            padding: 7px 8px;
            border-radius: 4px;
            transition: all 0.33s ease-out;
            &:hover {
              background-color: $transparent-light;
            }
            .item-prev-icon {
              width: 36px;
              height: 36px;
              overflow: hidden;
              border-radius: 4px;
              margin-right: 10px;
              img {
                width: inherit;
                height: inherit;
                object-fit: cover;
              }
            }
            .item-name {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #FFFFFF;
            }
            .item-type {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #8A939B;
            }
          }
        }
      }

      .no-items {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #8A939B;
        text-align: center;
        margin-bottom: 12px;
        padding: 17px 8px;
        border-radius: 4px;
        background-color: $transparent-light;
      }
    }

    .loader {
      margin-top: 12px;
      margin-bottom: 24px;
      padding: 13px 8px;
      border-radius: 4px;
      background-color: $transparent-light;
    }

    .view-all {
      cursor: pointer;
      .view-all-button {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #8A939B;
        transition: color 0.33s ease-out;
        &:hover {
          color: #fff;
        }
      }
      .view-border {
        margin-top: 5px;
        width: 60px;
        height: 2px;
        background-color: $yellow;
        border-radius: 10px 10px 0 0;
      }
    }
  }
}
.active-border {
  width: 50px;
  height: 2px;
  background-color: $yellow;
  border-radius: 10px 10px 0 0;
}

