
@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/mail-font.scss';
@import 'assets/fonts/icon-fonts/line/line.scss';

.wrapper {
    min-height: 50px;
}

.tag {
    height: 40px;
    // margin-bottom: 15px;
    white-space: nowrap;
    cursor: pointer;
    background-color: $grey;
    padding: 10px;
    color: $light-grey;
    margin: 5px 12px 5px 0;
    border-radius: 4px;

    span {
        margin-right: 15px;
    }

    .mat-icon {
        width: 8px;
        height: 8px;
    }
}