
<!-- Wrapper -->
<!-- <div class="flex flex-col text-light-grey">

    <h1 class="text-center font-bold text-white mb-12">Explore <span class="text-yellow">Totem</span> <br> community</h1>


    <ul class="flex justify-between text-base">
        <li routerLinkActive="active" routerLink="/home"><span>Home</span></li>
        <li><span routerLinkActive="active">Items</span></li>
        <li><span routerLinkActive="active">Avatars</span></li>
        <li><span routerLinkActive="active">Games</span></li>
        <li><span routerLinkActive="active">Help</span></li>
    </ul>

</div> -->