
<div *ngIf="!loading" class="flex w-full min-h-screen">
    <profile-info></profile-info>

    <div class="flex flex-col w-full p-[30px]">
        <div class="navigation">
            <a routerLinkActive="!text-white" routerLink="/profile/avatars">My avatars</a>
            <a routerLinkActive="!text-white" routerLink="/profile/items">My items</a>
            <a routerLinkActive="!text-white" routerLink="/profile/games">My games</a>
        </div>

        <div class="border-light-grey border p-[20px] h-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<loading-spinner class="m-auto" *ngIf="loading"></loading-spinner>