
<div *ngIf="!loading" class="flex flex-col w-full min-h-screen">
    <profile-info></profile-info>
    <totem-profile-navigation></totem-profile-navigation>
    <totem-profile-stats></totem-profile-stats>
    <div class="flex flex-col w-full p-[30px]">
        <!-- <div class="navigation">
            <a routerLinkActive="!text-white" routerLink="/profile/avatars">My items</a>
            <a routerLinkActive="!text-white" routerLink="/profile/items">My avatars</a>
            <a routerLinkActive="!text-white" routerLink="/profile/games">My games</a>
            <a routerLinkActive="!text-white" routerLink="/profile/games">Favourites</a>
        </div> -->

        <div class="h-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<loading-spinner class="m-auto" *ngIf="loading"></loading-spinner>
