<div class="dropdown" (clickOutside)="onClick($event)">
    <div #menu class="dropdown-toggle" (click)="onToggleMenu()">

        <span>{{title}}</span>
        <mat-icon [ngClass]="menuActive ? 'rotate-x-180': ''" [svgIcon]="'line:arrow_down'"></mat-icon>
        <!-- <mat-icon *ngIf="menuActive === true" [svgIcon]="'line:arrow_up'"></mat-icon> -->

    </div>

    <div #dropdown class="menu w-full"
        [ngClass]="menuActive ? 'appear': ''">

        <div #menuItems class="menu-items">
            <label class="menu-item" *ngFor="let item of items">
                <span>{{item.value}}</span>
                <input (change)="onChangeInput($event.target)" value="{{item.value}}" [type]="inputType" name="input">
            </label>
        </div>
    </div>
</div>