@import 'scss/_variables';

.totem-snackbar.mat-snack-bar-container {
  padding: 4px 0px;
  margin: 12px;
  background: $yellow;
  box-shadow: unset;
}

mat-progress-bar {
  border-radius: 13px;

  .mat-progress-bar-background {
    fill: $dark-grey;
  }

  .mat-progress-bar-buffer {
    background: $dark-grey;
  }

  .mat-progress-bar-fill {
    border-radius: 13px;
  }
  .mat-progress-bar-fill::after {
    background-color: currentColor;
    border-radius: 13px;
  }

}


// dialogs

.version-dialog-panel {
  width: 100%;
  max-width: 280px !important;
  height: 100%;
  max-height: 400px;

  .mat-dialog-container {
    height: 100%;
    width: 100%;
    background-color: #2A2D33;
    padding: 0;
    box-shadow: none;
    position: relative;
    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 5;
      inset: 0;
      padding: 1px;
      border-radius: 4px;
      background: $linear-light-nav;
      -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }
}

.welcome-dialog-panel {
  width: 100%;
  max-width: 512px !important;
  height: 100%;
  max-height: 512px;

  .mat-dialog-container {
    height: 100%;
    width: 100%;
    background-color: #2A2D33;
    padding: 0;
    box-shadow: none;
    position: relative;
    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 5;
      inset: 0;
      padding: 1px;
      border-radius: 4px;
      background: $linear-light-nav;
      -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  @media (max-width: 600px) {
    max-width: 90vw !important;
    max-height: 476px;
  }
}

.large-dialog {
  width: 100%;
  max-width: 1400px !important;
  height: 100%;
  max-height: 740px;

  .mat-dialog-container {
    background-color: #2A2D33;
    padding: 0;
  }

}
.small-dialog {
  width: 100%;
  max-width: 500px !important;
  height: 100%;
  max-height: 510px;

  .mat-dialog-container {
    background-color: #2A2D33;
    padding: 0;
  }

}

.image-upload-dialog {
  width: 100%;
  max-width: 903px !important;
  height: 100%;
  max-height: 595px;

  .mat-dialog-container {
    border: 1px solid #8A939B;
    background-color: #2A2D33;
    padding: 0;
    box-shadow: none;
  }
}

.tx-dialog {
  width: 100%;
  max-width: 1000px !important;
  //height: 100%;
  height: 633px;

  @media (max-width: 600px) {
    height: 486px;
    max-width: 94vw !important;
  }

  mat-progress-bar {
    border-radius: 13px;

    .mat-progress-bar-background {
      fill: $dark-grey;
    }

    .mat-progress-bar-buffer {
      background: $dark-grey;
    }

    .mat-progress-bar-fill {
      border-radius: 13px;
    }
    .mat-progress-bar-fill::after {
      background-color: currentColor;
      border-radius: 13px;
    }

  }

  .mat-dialog-container {
    border: 1px solid #8A939B;
    background-color: #2A2D33;
    padding: 0;
    box-shadow: none;
  }
}

.blurred-backdrop {
  background: rgba(67, 67, 67, 0.25);
  backdrop-filter: blur(20px);
}
