@import 'scss/_variables';

.totem-snackbar.mat-snack-bar-container {
  padding: 4px 0px;
  margin: 12px;
  background: $yellow;
  box-shadow: unset;
}

mat-progress-bar {
  border-radius: 13px;

  .mat-progress-bar-background {
    fill: $dark-grey;
  }

  .mat-progress-bar-buffer {
    background: $dark-grey;
  }

  .mat-progress-bar-fill {
    border-radius: 13px;
  }
  .mat-progress-bar-fill::after {
    background-color: $yellow;
    border-radius: 13px;
  }

}


// dialogs

.large-dialog {
  width: 100%;
  max-width: 1400px !important;
  height: 100%;
  max-height: 740px;

  .mat-dialog-container {
    background-color: #2A2D33;
    padding: 0;
  }

}
.small-dialog {
  width: 100%;
  max-width: 500px !important;
  height: 100%;
  max-height: 510px;

  .mat-dialog-container {
    background-color: #2A2D33;
    padding: 0;
  }

}
