/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';
@import 'assets/fonts/icon-fonts/mail-font.scss';


@import 'scss/_main';

html, body {
  height: 100%;
}
body { margin: 0; font-family: 'Archivo', sans-serif; }

@font-face {
  font-family: "Totem";
  src: local("Totem"), url('../assets/fonts/TOTEM.TTF') format("truetype");
  font-display: swap;
}

%font-totem {
  font-weight: 400;
  font-family: Totem, sans-serif;
  letter-spacing: 0.3px;
}

.font-totem {
  @extend %font-totem;
}

* {
  -webkit-tap-highlight-color: transparent;
}

img
{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: $light-grey;
    border: none !important;
    border-radius: 4px;
    width: 5px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0);
}
