/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'scss/_main';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }



::-webkit-scrollbar-thumb {
    background-color: $light-grey;
    border: none !important;
    border-radius: 4px;
    width: 5px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0);
}
