
@tailwind base;


@layer base {

    html, body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
        min-height: 100%;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
        color:white;
    }
  

    h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 75px;
    }

    h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
    }

    h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }

    h4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
    }

    span {
        font-size: 14px;
        font-weight: 400;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 16px;
    }

    body {
        font-size: 0.875rem;
    }

    img {
        width: 100%;
        vertical-align: top;
    }

    ul li {
        cursor: pointer;
    }

    @media only screen and (min-width: 960px) {

        body:not(.os-mac) {

            ::-webkit-scrollbar {
                width: 5px;
                height: 5px;
                background-color: rgba(0, 0, 0, 0);
            }

            ::-webkit-scrollbar:hover {
                width: 5px;
                height: 5px;
                background-color: rgba(0, 0, 0, 0.06);
            }

            ::-webkit-scrollbar-thumb {
                border: 2px solid transparent;
                border-radius: 20px;
                box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
            }

            ::-webkit-scrollbar-thumb:active {
                border-radius: 20px;
                box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
            }

            &.dark {
                ::-webkit-scrollbar-thumb {
                    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.24);
                }

                ::-webkit-scrollbar-thumb:active {
                    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.37);
                }
            }
        }
    }

}