@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';

.wrapper {
    // position: relative;
}

.placeholder {
    background-color: $dark-grey;
    .line-item_placeholder {
        color: $grey;
    }
}
.lh-1 {
    line-height: 1.3;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    // margin: auto;
    border: 1px solid $light-grey;
    border-radius: 4px;

    .grid-container {
        overflow: hidden;
        display: grid;
        padding: 15px;
        gap: 12px;
        transition: max-height 0.3s ease-in-out;
        width: 100%;
        grid-template-columns: repeat(2, minmax(100px,1fr));
    
        @media screen and (min-width: 480px) {
            grid-template-columns:repeat(3, minmax(100px,1fr));
        }
        @media screen and (min-width: 768px) {
            grid-template-columns:repeat(6, minmax(100px,1fr));
        }
        @media screen and (min-width: 1000px) {
            gap: 16px;
            grid-template-columns:repeat(8, minmax(100px,1fr));
        }
    }
    
    .view-all {
        display: flex;
        border-radius: 4px;
        background-color: $black;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        width: 100%;
    
        & span {
            margin-top: 15px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.item-tag {
    user-select: none;
    position: relative;
    width:100%;
    min-width:100%;
    .circle-wrapper {
        position: absolute;
        padding: 8px;
        display: none;
        top: 0;
        right: 0;
        .circle {
            // position: absolute;
            width: 8px !important;
            height: 8px !important;
            border-radius: 9999px;
            background-color: $yellow;
            // color: $yellow;
        }
    }
}
.tooltip {
    // top: 0;
    // left: 0;
    pointer-events:none;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility .3s;
    z-index: 1;
    position: fixed;
    padding: 15px;
    background: rgba(8, 9, 10, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    color: $light-grey;
}

