<div class="totem-landing" fxLayoutAlign="center">
  <div class="totem-landing-wrapper" fxLayout="column" fxLayoutAlign="start">
    <div class="landing-cta-content" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="cta-text-block" fxLayout="column" fxLayoutAlign="start">
        <div class="cta-head-text">
          <p>Explore Totem</p>
          <p>community community</p>
        </div>
        <div class="cta-caption-text">
          <p>Join Totem community community</p>
          <p>community community</p>
        </div>
        <div>
          <button class="join-button" mat-raised-button>Join community</button>
        </div>
      </div>
      <div class="cta-slider">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">

              <div class="slider-card" fxLayout="column" fxLayoutAlign="start">
                <div class="game-image">
                  <img src="assets/icons/swiper/game-icon.png" alt="">
                </div>
                <div class="bottom-card-part">
                  <div class="bottom-card-part-content">
                    <div class="game-icon-prev">
                      <img src="assets/icons/swiper/game-prev.png" alt="">
                    </div>
                    <div>
                      <div>Monk vs Robots</div>
                      <div>Action</div>
                    </div>
                  </div>
                  <div>Play Now</div>
                </div>
              </div>

            </div>
            <div class="swiper-slide">

              <div class="slider-card" fxLayout="column" fxLayoutAlign="start">
                <div class="game-image">
                  <img src="assets/icons/swiper/game-icon-2.png" alt="">
                </div>
                <div class="bottom-card-part">
                  <div class="bottom-card-part-content">
                    <div class="game-icon-prev">
                      <img src="assets/icons/swiper/game-prev.png" alt="">
                    </div>
                    <div>
                      <div>Monk vs Robots</div>
                      <div>Action</div>
                    </div>
                  </div>
                  <div>Play Now</div>
                </div>
              </div>

            </div>
            <div class="swiper-slide">

              <div class="slider-card" fxLayout="column" fxLayoutAlign="start">
                <div class="game-image">
                  <img src="assets/icons/swiper/game-icon.png" alt="">
                </div>
                <div class="bottom-card-part">
                  <div class="bottom-card-part-content">
                    <div class="game-icon-prev">
                      <img src="assets/icons/swiper/game-prev.png" alt="">
                    </div>
                    <div>
                      <div>Monk vs Robots</div>
                      <div>Action</div>
                    </div>
                  </div>
                  <div>Play Now</div>
                </div>
              </div>

            </div>
            <div class="swiper-slide">

              <div class="slider-card" fxLayout="column" fxLayoutAlign="start">
                <div class="game-image">
                  <img src="assets/icons/swiper/game-icon-2.png" alt="">
                </div>
                <div class="bottom-card-part">
                  <div class="bottom-card-part-content">
                    <div class="game-icon-prev">
                      <img src="assets/icons/swiper/game-prev.png" alt="">
                    </div>
                    <div>
                      <div>Monk vs Robots</div>
                      <div>Action</div>
                    </div>
                  </div>
                  <div>Play Now</div>
                </div>
              </div>

            </div>

          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <!-- <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> -->

          <div class="swiper-button-prev">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </div>
          <div class="swiper-button-next">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>
  </div>
</div>
