@import '../../../../../styles/scss/variables';

.totem-landing {
  height: calc(100% - 80px);
  width: 100%;
  background-color: $dark;

  &-wrapper {
    max-width: 1460px;
    width: 1460px;
    padding-left: 30px;
    padding-right: 30px;
    .landing-cta-content {
      margin-top: 90px;
      height: 680px;
      .cta-text-block {

        .cta-head-text p {
          font-weight: 700;
          font-size: 64px;
          line-height: 75px;
          color: #FFFFFF;
        }
        .cta-caption-text {
          margin-top: 16px;
          p {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #8A939B;
          }
        }

        .join-button {
          margin-top: 56px;
          border-radius: 4px !important;
          background: $yellow;
          color: #111;
          width: 220px;
          height: 50px;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          outline: 1px solid transparent;
          transition: all 0.33s ease-in-out;
          &:hover {
            background: $dark-grey-2;
            color: $yellow;
          }
          &:focus {
            outline: 1px solid $yellow;
          }
        }
      }

    }
  }

}


.swiper {
  width: 574px;
  height: 680px;
}

.slider-card {
  width: 574px;
  height: 600px;
  background: linear-gradient(359.71deg, rgba(255, 255, 255, 0.1) 0.38%, rgba(255, 255, 255, 0) 46.66%);
  border-radius: 4px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch flex-start;
  align-items: stretch;
}

.game-image {
  height: 479px;
  width: 574px;
  img {
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
}

.bottom-card-part {
  padding: 20px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: flex-end space-between;
  align-items: flex-end;
  &-content {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
  }
}

.game-icon-prev {
  height: 80px;
  width: 80px;
}

.swiper-button-next, .swiper-button-prev {
  bottom: 0%;
  top: unset;
  width: 50px;
  height: 50px;
  background-color: $dark-grey-2;
  border-radius: 40px;
  &::after {
    content: '';
  }
  mat-icon {
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: $yellow;
  }
}
/*
.swiper-button-prev-slide {
  width: 50px;
  height: 50px;
  background-color: $dark-grey-2;
  border-radius: 40px;
  color: red;
  fill: red;
} */
.swiper-button-next {
  right: 0px;
}
.swiper-button-prev {
  left: 0px;
}
