<div class="totem-landing" fxLayoutAlign="center">
  <div class="totem-landing-wrapper" fxLayout="column" fxLayoutAlign="start">
    <div class="landing-cta-content" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="cta-text-block" fxLayout="column" fxLayoutAlign="start">
        <div class="cta-head-text">
          <p>Explore Totem</p>
          <p>community community</p>
        </div>
        <div class="cta-caption-text">
          <p>Join Totem community community</p>
          <p>community community</p>
        </div>
        <div>
          <button class="join-button" mat-raised-button>Join community</button>
        </div>
      </div>
      <div class="cta-slider">

      </div>
    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>
  </div>
</div>
