
@import 'styles/scss/variables';

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    .img-wrapper {
        border-radius: 4px;
        background: $linear-glass;
        margin-bottom: 60px;
        img {
            object-fit: cover;
            height: auto;
        }
    }
}
