@import 'styles/scss/totem-variables';


.img-wrapper {
  flex: 1 0 auto;
}

.selected-asset-card {
  background-color: $totem-dark-grey;

  .asset-card-content {
    background-color: $totem-grey;
  }

}
