<div class="min-w-[240px] flex flex-col selected-asset-card h-[288px] flex-auto overflow-hidden rounded-[24px] cursor-pointer totem-hover" (click)="goToAsset(asset!)">

    <div *ngIf="asset?.rendererUrl" class="img-wrapper h-[190px] relative">
        <img 
          (changeSrc)="showSpinner = $event" 
          class="object-cover h-full" loading="lazy" 
          [src]="asset?.rendererUrl" alt="Not found"
          (error)="loadDefaultRenderer()">

          <totem-spinner class="z-1 m-auto absolute absolute_center" *ngIf="showSpinner"></totem-spinner>
    </div>
    <div class="asset-card-content p-3 flex flex-col h-full">
        <div class="flex flex-row items-center justify-start">
          <p class="font-medium text-[20px] leading-[22px]">ID: {{asset?.tokenId}}</p>
        </div>
        <div class="flex flex-row items-center justify-between mt-3">
          <div class="flex flex-col items-start justify-start">
            <p class="font-medium text-[16px] leading-[17px]">{{asset?.updatedAt | date:'dd.MM.yy'}}</p>
            <p class="mt-1 font-medium text-[14px] leading-[15px] text-[#8A939B]">Last used</p>
          </div>
          <div class="flex flex-col items-start justify-start">
            <p class="font-medium text-[16px] leading-[17px]">{{asset?.rarity}}</p>
            <p class="mt-1 font-medium text-[14px] leading-[15px] text-[#8A939B]">Rarity</p>
          </div>
          <div class="flex flex-col items-start justify-start">
            <p class="font-medium text-[16px] leading-[17px]">{{asset?.games}}</p>
            <p class="mt-1 font-medium text-[14px] leading-[15px] text-[#8A939B]">Games used</p>
          </div>
        </div>
    </div>

</div>
