
<div class="range-slider relative">
    <div #sliderTrackMin class="slider"></div>
    <input #sliderThumbMin class="ml-auto cursor-pointer h-1 w-full" type="range" min="0" max="1000" value="100"
        (input)="update()">

    <div #sliderTrackMax class="slider"></div>
    <input #sliderThumbMax class="cursor-pointer h-1 w-full" type="range" min="0" max="1000" value="200" 
        (input)="update()">  
</div>

<div class="mb-[15px] mt-[25px] flex w-full">
    <span class="text-light-grey">{{'items.range' | translate}}:&nbsp;&nbsp;&nbsp;{{minValue}}-{{maxValue}}</span>
</div>