@import 'styles/scss/variables';
@import 'styles/scss/placeholders';
@import 'assets/fonts/icon-fonts/mail-font.scss';
@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

.dropdown {
    max-width: 400px;
    width: 100%;

    .dropdown-toggle {
        width: 100%;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 8px 12px;
        background-color: $dark-grey;
        align-items: center;
        color: $light-grey;
        span {
            white-space: nowrap;
            user-select: none;
            font-size: 16px;
        }
        .mat-icon {
            margin-bottom: auto;
            transition: transform .3s;
            width: 12px !important;
        }
        .token-wrapper {
          width: 20px !important;
          height: 20px !important;
          position: relative;
          .icon-font-USDC, .icon-font-MATIC {
            width: 20px !important;
            height: 20px !important;
            font-size: 20px !important;
          }
          .token-background {
            z-index: 1;
            position: absolute;
            top: 1px;
            left: 1px;
            width: 18px;
            height: 18px;
            background-color: #fff !important;
            border-radius: 50%;
          }
        }

    }
    .menu {
        margin-top: 10px;
        width: 100%;
        @extend %gradient-border-solid;
        position: absolute !important;
        backdrop-filter: blur(10px);
        visibility: hidden;
        opacity: 0;
        padding: 9px;
        background-color: $transparent-light;
        z-index: 30;
        transition: opacity 0.4s, visibility 0.4s;

        .menu-items {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            .menu-item {
                position: relative;
                border-radius: 4px;
                padding: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                height: 50px;
                min-height: 50px;
                width: 100%;
                transition: background-color .3s;

                .token-wrapper {
                  width: 36px;
                  height: 36px;
                  position: relative;
                  .icon-font-USDC, .icon-font-MATIC {
                    width: inherit;
                    height: inherit;
                    font-size: 36px;
                  }
                  .token-background {
                    z-index: 1;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 32px;
                    height: 32px;
                    background-color: #fff;
                    border-radius: 50%;
                  }
                }

                &:hover {

                    background-color: $grey;
                }
                img {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }
}

.selected-token-info {
  * {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .token-amount {
    max-width: 134px;
    width: 100%;
    @media (max-width: 475px) {
      max-width: 94px;
    }
  }
}


