<div class="search-filter">
  <!-- <mat-icon class="search-icon">search</mat-icon> -->
  <img class="search-icon" src="assets/icons/nav/search-icon.svg" alt="TOTEM">
  <input class="search-filter-input" type="text" id="filter" [formControl]="searchInfo" placeholder="Search..">
  <div class="totem-dropdown">
    <div class="tabs" fxLayout="row" fxLayoutAlign="start center">
      <div class="items-tab">Items</div>
      <div class="avatars-tab">Avatars</div>
      <div class="games-tab">Games</div>
    </div>
  </div>
</div>

