@import 'styles/scss/variables';

@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

.rewiew {
    display: flex;
    flex-direction: column;
    width: 100%;

    .play {
        margin: 40px 0 30px 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border: 1px solid $light-grey;

        .item-tag {
            flex-grow: 1;
            max-width: unset;
        }
    }
}

.icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $light-grey;
    color: $light-grey;
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 20px;

    .icon-set {
        display: flex;
        gap: 20px;
        .icon {
            gap: 10px;
            display: flex;         
        }
    }
}
.stars {
    display:flex;
    white-space: nowrap;
    color: $light-grey;
    .star {
        font-size: 18px;
        color: inherit;
        &:hover {
            color: $yellow;
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.line-star, .solid-star {
    transition: transform .2s, color .2s;
    font-size: 20px !important;
    cursor: pointer;
}
.line-like, .solid-like {
    cursor: pointer;
    font-size: 18px;
}

.lh-unset {
    line-height: unset;
}
.lh-33 {
    line-height: 33px;
}

p {
    white-space: pre-wrap;
}

.dropdown-wrapper {

    .dropdown-button {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 10px;
        cursor: pointer;

        .line-arrow_down {
            transition: transform .5s ease-in-out;
            transform: rotateX(0deg);
        }
    }
    .dropdown-table-wrapper {  
        overflow: hidden;
        transition: max-height .5s ease-in-out;
        max-height: 1px;
        .dropdown-table {
            // border-radius: 4px;
            transition: border-radius .5s ease-in-out;
            border: 1px solid $light-grey;
            padding: 12px;

            p {
                font-weight: 500;
            }
            span {
                -webkit-line-clamp: 2;
                line-clamp: 2; 
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .row {
                display: flex;
                border-bottom: 1px solid $light-grey;
    
                div {
                    display: flex;
                    align-items: center;
                }
                div:first-child {
                    font-weight: 500;
                    width: 130px;
                    min-width: 130px;
                    height: 60px;
                    padding-left: 12px;
                    border-right: 1px solid $light-grey;
                }
                div:last-child {
                    padding-left: 12px;
                    width: 100%;
                    max-height: 60px;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}
