<div class="rewiew lg:max-w-[470px]">
    <h2 *ngIf="!game?.general?.name" class="mb-[40px]">{{'modules.dead_peats_unleashed' | translate}}</h2>
    <h2 *ngIf="game?.general?.name" class="mb-[40px] text-2xl lg:text-4xl">{{game?.general?.name}}</h2>

    <div class="flex flex-wrap justify-between pb-[12px] gap-[10px]">
        <h4 class="flex whitespace-nowrap lh-unset">
            <p class="text-light-grey pr-[10px] lh-33">{{'modules.author' | translate}}:</p>{{game?.general?.author
            ? game?.general?.author : 'Triple Troping'}}
        </h4>

        <!-- Stars -->
        <!-- <div #stars class="stars">
            <div #star *ngFor="let rate of rating; let i = index"
                (click)="starsAction('save', i)" (mouseenter)="starsAction('hover', i)" (mouseleave)="starsAction('leave', i)"
                class="star" [ngClass]="rate.isHovered || rate.selected == true ? 'solid-star': 'line-star'"></div>
            <p class="ml-[8px] my-auto">(--)</p>
        </div> -->
    </div>
    <!-- Icons -->
    <div class="icon-wrapper">
        <div class="icon-set">
            <div class="icon !pl-0">
                <div *ngIf="game?.isLiked === false" class="line-like !w-[18px]"
                    (click)="$event.stopPropagation(); onClickLike()"></div>
                <div *ngIf="game?.isLiked === true" class="text-yellow solid-like cursor-pointer !w-[18px]"
                    (click)="$event.stopPropagation(); onClickLike()"></div>
                <p class="select-none">{{game?.likes ? game?. likes : '0'}}</p>
            </div>
            <div class="icon select-none">
                <div class="!w-[20px] line-eye"></div>
                <p>{{game?.views ? game?.views : '0'}}</p>
            </div>
        </div>
        <div class="icon-set">
            <div class="icon cursor-pointer" (click)="share.share('Сheck out this game')">
                <share-button class="absolute" #share></share-button>
                <div class="!w-[14px] !h-[19px] line-share mt-[1px]"></div>
                <p class="select-none">{{'nav.share' | translate}}</p>
            </div>
            <div class="icon cursor-pointer" (click)="
            loadGame(game.id);
            refresh.style.animation = 'none';
            refresh.offsetHeight;
            refresh.style.animation = 'rotate 0.5s'
            ">
                <div #refresh class="!w-[16px] line-refresh"></div>

                <p class="select-none">{{'nav.refresh' | translate}}</p>
            </div>
            <div *ngIf="editInfo.edit" class="icon cursor-pointer" (click)="editGame()">
                <div class="!w-[16px] !h-[19px] line-edit"></div>
                <p>{{'nav.edit' | translate}}</p>
            </div>
        </div>
    </div>

    <!-- Text -->
    <div class="flex max-w-[calc(100vw-40px)]">
        <p *ngIf="!game?.general?.description" class="font-medium pb-[40px]">
            {{'description.descriptions_game_2' | translate}}
        </p>
        <p *ngIf="game?.general?.description" class="font-medium pb-[40px] overflow-hidden">
            {{game?.general?.description}}</p>
    </div>

    <!-- Details -->
    <div class="dropdown-wrapper">
        <div class="dropdown-button" (click)="onToggle()">
            <h4>{{'nav.details' | translate}}</h4>
            <div class="text-light-grey !w-[14px] mr-[5px] line-arrow_down"
                [ngClass]="toggleDropdown ? 'rotate-x-180': ''"></div>
        </div>

        <div #dropdown class="dropdown-table-wrapper">
            <div class="dropdown-table" [ngClass]="toggleDropdown ? 'rounded': 'rounded-none'">
                <div *ngIf="game?.updatedAt" class="row">
                    <div>
                        <p>{{'nav.updated' | translate}}</p>
                    </div>
                    <div><span>{{game?.updatedAt | date: 'M.dd.yy h:mm'}}</span></div>
                </div>
                <div *ngIf="game?.updatedAt" class="row">
                    <div>
                        <p>{{'nav.published' | translate}}</p>
                    </div>
                    <div><span>{{game?.createdAt | creationTime }}</span></div>
                </div>
                <div *ngIf="game?.details?.status" class="row">
                    <div>
                        <p>{{'nav.status' | translate}}</p>
                    </div>
                    <div><span>{{game?.details?.status}}</span></div>
                </div>
                <div *ngIf="game?.details?.platforms" class="row">
                    <div>
                        <p>{{'nav.platforms' | translate}}</p>
                    </div>
                    <div><span>{{game?.details?.platforms.join(', ')}}</span></div>
                </div>
                <div *ngIf="game?.details?.madeWith" class="row">
                    <div>
                        <p>{{'nav.made_with' | translate}}</p>
                    </div>
                    <div><span>{{game?.details?.madeWith}}</span></div>
                </div>
                <div *ngIf="game?.details?.session" class="row">
                    <div>
                        <p>{{'nav.session' | translate}}</p>
                    </div>
                    <div><span>{{game?.details?.session}}</span></div>
                </div>
                <div *ngIf="game?.details?.languages" class="row">
                    <div>
                        <p>{{'nav.languages' | translate}}</p>
                    </div>
                    <div><span>{{game?.details?.languages}}</span></div>
                </div>
                <div *ngIf="game?.details?.inputs" class="row">
                    <div>
                        <p>{{'nav.inputs' | translate}}</p>
                    </div>
                    <div><span>{{game?.details?.inputs}}</span></div>
                </div>
            </div>
        </div>
    </div>


    <div class="play">
        <div class="flex flex-wrap gap-[13px]">
            <div class="item-tag">
                <h4>{{game?.assets?.items || game?.assets?.items == 0 ? game?.assets?.items : '24.05.22'}}</h4>
                <p>{{'nav.players' | translate}}</p>
            </div>
            <div class="item-tag">
                <h4>{{game?.assets?.items || game?.assets?.items == 0 ? game?.assets?.items : '24.05.22'}}</h4>
                <p>{{'nav.items' | translate}}</p>
            </div>
            <div class="item-tag">
                <h4>{{game?.assets?.avatars || game?.assets?.avatars == 0 ? game?.assets?.avatars : '24.05.22'}}</h4>
                <p>{{'nav.avatars' | translate}}</p>
            </div>
        </div>

        <a class="w-full p-[0px] m-[0px] mt-[20px]" href="{{game.connections.webpage}}" target="_blank">
            <totem-button [caption]="'Play'" [width]="'100%'"></totem-button>
        </a>
    </div>

</div>
