<div class="rewiew lg:max-w-[470px]">
    <h2 *ngIf="!game?.general?.name" class="mb-[40px]">Dead Peats unleashed</h2>
    <h2 *ngIf="game?.general?.name" class="mb-[40px] text-2xl lg:text-4xl">{{game?.general?.name}}</h2>

    <div class="flex flex-wrap justify-between pb-[12px] gap-[10px]">
        <h4 class="flex whitespace-nowrap lh-unset">
            <p class="text-light-grey pr-[10px] lh-33">Author:</p>{{game?.general?.author
            ? game?.general?.author : 'Triple Troping'}}
        </h4>

        <!-- Stars -->
        <div #stars class="stars">
            <div #star *ngFor="let rate of rating; let i = index"
                (click)="starsAction('save', i)" (mouseenter)="starsAction('hover', i)" (mouseleave)="starsAction('leave', i)"
                class="star" [ngClass]="rate.isHovered || rate.selected == true ? 'solid-star': 'line-star'"></div>
            <p class="ml-[8px] my-auto">(--)</p>
        </div>
    </div>
    <!-- Icons -->
    <div class="icon-wrapper">
        <div class="icon-set">
            <div class="icon !pl-0">
                <div *ngIf="game?.isLiked === false" class="line-like !w-[18px]"
                    (click)="$event.stopPropagation(); onClickLike()"></div>
                <div *ngIf="game?.isLiked === true" class="text-yellow solid-like cursor-pointer !w-[18px]"
                    (click)="$event.stopPropagation(); onClickLike()"></div>
                <p>{{game?.likes ? game?. likes : '0'}}</p>
            </div>
            <div class="icon">
                <div class="!w-[20px] line-eye"></div>
                <p>{{game?.views ? game?.views : '0'}}</p>
            </div>
        </div>
        <div class="icon-set">
            <div class="icon">
                <div class="!w-[14px] !h-[19px] line-share"></div>
                <p>Share</p>
            </div>
            <div class="icon">
                <div class="!w-[16px] line-refresh"></div>
                <p>Refresh</p>
            </div>
        </div>
    </div>

    <!-- Text -->
    <div class="flex max-w-[calc(100vw-40px)]">
        <p *ngIf="!game?.general?.description" class="font-medium pb-[40px]">Struggling punk band, Dead Pets, are still
            looking for their breakthrough after
            almost 10 years. Gordy has big plans for the group, but when you turn 30, life starts to get in the way.
            Dead
            Pets Unleashed is a narrative, slice of life and management-lite game; get ready to unleash your inner
            demon!
            Support us on Kickstarter now!
        </p>
        <p *ngIf="game?.general?.description" class="font-medium pb-[40px] overflow-hidden">{{game?.general?.description}}</p>
    </div>

    <!-- Details -->
    <div class="dropdown-wrapper">
        <div class="dropdown-button" (click)="onToggle()">
            <h4>Details</h4>
            <div class="text-light-grey !w-[14px] mr-[5px] line-arrow_down"
                [ngClass]="toggleDropdown ? 'rotate-x-180': ''"></div>
        </div>

        <div class="dropdown-table-wrapper" [ngClass]="toggleDropdown ? 'max-h-[520px]': 'max-h-[1px]'">
            <div class="dropdown-table" [ngClass]="toggleDropdown ? 'rounded': 'rounded-none'">
                <div *ngIf="game?.updatedAt" class="row">
                    <div>
                        <p>Updated</p>
                    </div>
                    <div><span>{{game?.updatedAt | date: 'M.dd.yy h:mm'}}</span></div>
                </div>
                <div *ngIf="game?.updatedAt" class="row">
                    <div>
                        <p>Published</p>
                    </div>
                    <div><span>{{game?.createdAt | creationTime }}</span></div>
                </div>
                <div *ngIf="game?.details?.status" class="row">
                    <div>
                        <p>Status</p>
                    </div>
                    <div><span>{{game?.details?.status}}</span></div>
                </div>
                <div *ngIf="game?.details?.platforms" class="row">
                    <div>
                        <p>Platforms</p>
                    </div>
                    <div><span>{{game?.details?.platforms.join(', ')}}</span></div>
                </div>
                <div *ngIf="game?.details?.madeWith" class="row">
                    <div>
                        <p>Made with</p>
                    </div>
                    <div><span>{{game?.details?.madeWith}}</span></div>
                </div>
                <div *ngIf="game?.details?.session" class="row">
                    <div>
                        <p>Session</p>
                    </div>
                    <div><span>{{game?.details?.session}}</span></div>
                </div>
                <div *ngIf="game?.details?.languages" class="row">
                    <div>
                        <p>Languages</p>
                    </div>
                    <div><span>{{game?.details?.languages}}</span></div>
                </div>
                <div *ngIf="game?.details?.inputs" class="row">
                    <div>
                        <p>Inputs</p>
                    </div>
                    <div><span>{{game?.details?.inputs}}</span></div>
                </div>
            </div>
        </div>
    </div>


    <div class="play">
        <div class="flex flex-wrap gap-[13px]">
            <div class="item-tag">
                <h4>{{game?.assets?.items || game?.assets?.items == 0 ? game?.assets?.items : '24.05.22'}}</h4>
                <p>Players</p>
            </div>
            <div class="item-tag">
                <h4>{{game?.assets?.items || game?.assets?.items == 0 ? game?.assets?.items : '24.05.22'}}</h4>
                <p>Items</p>
            </div>
            <div class="item-tag">
                <h4>{{game?.assets?.avatars || game?.assets?.avatars == 0 ? game?.assets?.avatars : '24.05.22'}}</h4>
                <p>Avatars</p>
            </div>
        </div>

        <a class="w-full p-[0px] m-[0px] mt-[20px]" href="{{game.connections.webpage}}" target="_blank"><totem-button [caption]="'Play'" [width]="'100%'"></totem-button></a>
    </div>

</div>
