<div class="pnf-wrapper w-full h-full" fxLayout="row wrap-reverse">

    <div class="content-wrapper" fxFlex="50%" fxFlex.sm="100%">
      <p fxHide.xs class="title-caption font-totem">Oops! PAGE NOT FOUND</p>
      <p fxHide.gt-xs class="title-caption-mob font-totem">Oops!</p>
      <p fxHide.gt-xs class="title-caption-mob-light font-totem mt-[14px]">PAGE NOT FOUND</p>
      <p class="subcaption">The page you are looking for might have been removed had its name changed or is temporatily unavalaible</p>
      <div class="button-wrapper">
        <totem-button routerLink="/" [width]="'220px'" [height]="'50px'" [caption]="'GO TO HOMEPAGE'"></totem-button>
      </div>
    </div>

    <div class="image-wrapper" fxFlex="50%" fxFlex.sm="100%">
      <img src="assets/images/not-found-image.webp" alt="">
    </div>
</div>
