<div @fade-in-out *ngIf="showPopup" class="overlay bborder-gradient-solid">

    
    

    <div class="popup">
        <div #circlesRef class="circle-wrapper blur-70">
            <bg-circle class="top-[-120px] left-[0]" [background]="'#00BC58'" [width]="'150px'"></bg-circle>
            <bg-circle class="top-[0] left-[-120px]" [background]="'#FFD011'" [width]="'150px'"></bg-circle>
            <bg-circle class="top-[100px] left-[-75px]" [background]="'#5823C9'" [width]="'100px'"></bg-circle>
        </div>
    </div>
</div>