@import '../../../../styles/scss/variables';

.totem-navigation {
  height: 80px;
  background-color: $dark;
  border-bottom: 1px solid $dark-grey;
  position: sticky;

  &-wrapper {
    max-width: 1340px;
    width: 1340px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo-block img {
    height: 30px;
    width: auto;
  }

  .search-block {
    width: 456px;
  }

  .navigation-block {
    max-width: 420px;
    width: 420px;
    &-wrapper {
      width: 100%;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      a {
        cursor: pointer;
        color: $grey;
        transition: color 0.33s ease-out;
        &:hover {
          color: #fff;
        }
      }
    }
  }

}
