<div class="totem-landing" fxLayoutAlign="center">
  <div class="totem-landing-wrapper" fxLayout="column" fxLayoutAlign="start">
    <div class="landing-cta-content" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="landing-ellipses-bg">
        <span class="ellipse-1"></span>
        <span class="ellipse-2"></span>
        <span class="ellipse-3"></span>
      </div>
      <div class="landing-cta-bg">
        <span class="blured-circle-1"></span>
        <span class="blured-circle-2"></span>
        <span class="blured-circle-3"></span>
      </div>
      <div fxFlex="100%" class="cta-text-block" fxLayout="column" fxLayoutAlign="start">
        <span class="ellipse-1"></span>
        <span class="ellipse-2"></span>
        <div class="cta-head-text">
          <p class="font-totem totem-caption">TOTEM</p>
          <p class="font-totem totem-subcaption mt-[12px]">{{'home.web_Explorer' | translate}}</p>
        </div>
        <div class="cta-caption-text">
          <p>{{'home.main_description' | translate}}</p>
        </div>
        <div class="button-cta">
          <totem-button [caption]="'home.purchase_unique_item' | translate" [customId]="'genitembutton'" (clicked)="generateItem($event)"></totem-button>
        </div>

      </div>
      <div #gamePreview class="games-preview-block">
        <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
        (particlesLoaded)="particlesLoaded($event)"></ng-particles>
        <img [@hideFirstState]="imgChange" class="img-1" src="../../../../../../assets/images/knight-image.webp" alt="knight-image">
        <img [@hideSecondState]="imgChange" class="img-2" src="../../../../../../assets/images/t-rex-image.webp" alt="t-rex-image">
      </div>
    </div>

    <div class="content-distance z-1">
      <home-widget class="z-10"></home-widget>
    </div>

    <div class="content-distance" *ngIf="showAfterScroll">
      <horizontal-carousel
        [title]="'home.the_most_popular_items' | translate"
        [menuTitle]="'Game name'"
        [itemType]="'item'"
        [items]="mostUsedItems$ | async">
      </horizontal-carousel>
    </div>

    <div class="content-distance">
      <totem-promo-game [game]="testGame"></totem-promo-game>
    </div>

    <div class="content-distance">
      <horizontal-carousel
        [title]="'home.the_most_used_avatars' | translate"
        [itemType]="'avatar'"
        [menuTitle]="'Game name'"
        [items]="avatars$ | async">
      </horizontal-carousel>
    </div>

    <div class="content-distance">
      <totem-event-counter [eventDate]="eventDate"></totem-event-counter>
    </div>

    <div class="content-distance">
      <horizontal-carousel
        [title]="'home.popular_games' | translate"
        [menuTitle]="null"
        [itemType]="'game'"
        [items]="games$ | async">
      </horizontal-carousel>
    </div>

    <div class="content-distance">
      <horizontal-carousel
        [title]="'home.newest_totem_items' | translate"
        [menuTitle]="'Game name'"
        [itemType]="'item'"
        [items]="newestItems$ | async">
      </horizontal-carousel>
    </div>

    <div class="content-distance content-distance-bottom">
      <totem-meet-us *ngIf="showAfterScroll"></totem-meet-us>
    </div>

  </div>
</div>

