<div class="totem-landing" fxLayoutAlign="center">
  <div class="totem-landing-wrapper" fxLayout="column" fxLayoutAlign="start">
    <!-- <div class="landing-cta-bg"></div> -->
    <div class="landing-cta-content" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="landing-ellipses-bg">
        <div class="ellipse-1"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-3"></div>
      </div>
      <div class="landing-cta-bg">
        <div class="blured-circle-1"></div>
        <div class="blured-circle-2"></div>
        <div class="blured-circle-3"></div>
        <!-- <bg-circle class="absolute top-[50px] left-[613px]" [width]="'350px'" [background]="'#FFD011'" [move]="true" [delay]="'-2s'"></bg-circle>
        <bg-circle class="absolute top-[50px] left-[813px]" [width]="'170px'" [background]="'radial-gradient(330% 330% at 50% 50%, #FF6666 0%, rgba(255, 102, 102, 0) 100%)'" [move]="true" [delay]="'-3s'"></bg-circle>
        <bg-circle class="absolute top-[50px] left-[371px]" [width]="'303px'" [background]="'radial-gradient(52.97% 52.97% at 50% 50%, #FF66F9 0%, #212326 100%)'" [move]="true" [delay]="'-4s'"></bg-circle>
        <bg-circle class="absolute top-[50px] left-[91px]" [width]="'170px'" [background]="'radial-gradient(85.59% 85.59% at 50% 50%, #FFE166 0%, #2B2530 100%)'" [move]="true" [delay]="'-5s'"></bg-circle>
        <bg-circle class="absolute top-[50px] left-[875px]" [width]="'400px'" [background]="'#00BC58'" [move]="true" [delay]="'-6s'"></bg-circle>
        <bg-circle class="absolute top-[50px] left-[-79px]" [width]="'300px'" [background]="'#5823C9'" [move]="true" [delay]="'-7s'"></bg-circle>
        <bg-circle class="absolute top-[50px] left-[1058px]" [width]="'350px'" [background]="'#5823C9'" [move]="true" [delay]="'-8s'"></bg-circle> -->
      </div>
      <div fxFlex="100%" class="cta-text-block" fxLayout="column" fxLayoutAlign="start">
        <!-- <ng-particles class="absolute top-[50px] left-[1058px]" [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
        (particlesLoaded)="particlesLoaded($event)"></ng-particles> -->
        <div class="ellipse-1"></div>
        <div class="ellipse-2"></div>
        <div class="cta-head-text">
          <p class="font-totem totem-caption">TOTEM</p>
          <p class="font-totem totem-subcaption mt-[12px]">Web Explorer</p>
        </div>
        <div class="cta-caption-text">
          <p>Browse, create and use your unique items, avatars or gems that will be with you across your journey through your favorite game worlds!</p>
        </div>
        <div class="button-cta">
          <totem-button [caption]="'Generate unique item'" [customId]="'genitembutton'" (clicked)="generateItem($event)"></totem-button>
        </div>

      </div>
      <div class="games-preview-block">
        <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
        (particlesLoaded)="particlesLoaded($event)"></ng-particles>
        <img [@hideFirstState]="imgChange" class="img-1" src="../../../../../../assets/images/knight-model.png" alt="">
        <img [@hideSecondState]="imgChange" class="img-2" src="../../../../../../assets/images/t-rex-model.png" alt="">
      </div>
    </div>

    <div class="content-distance z-1">
      <home-widget class="z-10"></home-widget>
    </div>

    <div class="content-distance">
      <horizontal-carousel
        [title]="'The most popular items'"
        [menuTitle]="'Game name'"
        [items]="mostUsedItems$ | async">
      </horizontal-carousel>
    </div>

    <div class="content-distance">
      <totem-promo-game [game]="testGame"></totem-promo-game>
    </div>

    <div class="content-distance">
      <horizontal-carousel
        [title]="'The most used avatars'"
        [itemType]="'avatar'"
        [menuTitle]="'Game name'"
        [items]="newestItems$ | async">
      </horizontal-carousel>
    </div>

    <div class="content-distance">
      <totem-event-counter [eventDate]="eventDate"></totem-event-counter>
    </div>

    <div class="content-distance">
      <horizontal-carousel
        [title]="'Popular Games'"
        [menuTitle]="null"
        [itemType]="'game'"
        [items]="games$ | async">
      </horizontal-carousel>
    </div>

    <div class="content-distance">
      <horizontal-carousel
        [title]="'Newest Totem Items'"
        [menuTitle]="'Game name'"
        [itemType]="'avatar'"
        [items]="avatars$ | async">
      </horizontal-carousel>
    </div>

    <div class="content-distance content-distance-bottom">
      <totem-meet-us></totem-meet-us>
    </div>


    <div>

    </div>

    <div>

    </div>

    <div>

    </div>
  </div>
</div>

