<div class="dropdown" (clickOutside)="onClick($event)">
    <div #menu class="menu-filter bg-grey" (click)="onClickMenu($event)"
        [ngClass]="menuActive ? 'gradient-border-solid': ''">

        <span class="whitespace-nowrap pointer-events-none">{{title}}</span>
        <div class="pointer-events-none line-arrow_down" [ngClass]="menuActive ? 'rotate-x-180': ''">
        </div>

    </div>

    <div #dropdown class="dropdown-menu w-[200px] lg:w-[300px]" [ngClass]="menuActive ? 'appear': ''">

        <div class="search">
            <search-field (filter)="loadGames($event)"></search-field>
        </div>

        <div #menuItems class="menu-items">
            <div class="menu-item" *ngFor="let item of items; let i = index" [id]="'item' + i"
                [ngClass]="alwaysOpen ? 'demo-border': ''">
                <input
                aria-label="item.general.name"
                (change)="onChangeInput(item)"
                [value]="item.general.name"
                [(ngModel)]="title"
                type="radio"
                [name]="'widget-item'"
                class="w-6 h-6 bg-transparent checked radio-game-selector">

                <div class="content">
                    <div class="square"><img [src]="item.images.smallThumbnail" alt="" width="36px" height="36px"></div>
                    <div class="info flex flex-col my-auto px-2.5">
                        <span>{{item.general.name}}</span>
                        <span class="text-light-grey">{{item.general.genre[0]}}</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="flex justify-center pt-[10px]">
            <div class="flex flex-col pb-[1px] cursor-pointer" (click)="onClickViewAll()">
                <span class="text-center bottom-rectangle">View all</span>
            </div>
        </div>

    </div>
</div>
