
@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

.wrapper {
    margin-bottom: 5px !important;
    border-radius: 4px;
    padding: 9px 0px;
    align-items: center;
    border: 1px solid $light-grey;
    transition: border 0.5s;
    background-color: $transparent-light;

    mat-icon {
      color: #8A939B;
    }

    input {
        padding-left: 38px;
        outline: none;
        background: transparent url('./../../../../../../assets/icons/nav/search-icon.svg') no-repeat 12px center;
    }


}


