<div class="flex flex-col card-item gradient-border" (click)="onNavigate()">


    <div *ngIf="game?.images?.cardThumbnail" class="img-wrapper !max-h-[calc(100%-175px)]">
        <img loading="lazy" [src]="game?.images?.cardThumbnail" alt="Not found">
    </div>

    <div *ngIf="!game?.images?.cardThumbnail" class="placeholder">
        <mat-icon class="text-grey" [svgIcon]="'line:game-place'"></mat-icon>
    </div>

    <div class="p-4 flex flex-col mt-auto absolute left-0 right-0 bottom-0 h-[175px] border-t border-t-dark-grey justify-end">

        <div class="flex justify-between">
            <div class="flex flex-col">
                <h3 *ngIf="!game?.general?.name">Mr Krabs</h3>
                <h3 *ngIf="game?.general?.name">{{game?.general?.name}}</h3>
            </div>

            <div *ngIf="game?.isLiked === false" class="like line-like" (click)="$event.stopPropagation(); onClickLike()"></div>
            <div *ngIf="game?.isLiked === true" class="!text-yellow like solid-like" (click)="$event.stopPropagation(); onClickLike()"></div>
        </div>

        <div class="flex py-2">
            <p class="text-light-grey text-ellipsis max-2-lines max-w-[410px]">{{game?.general?.description}}</p>
        </div>

        <div class="flex justify-between max-w-[320px] pt-2">
            <div class="flex flex-col">
                <h4>{{game?.players && game?.players != 0 ? game.players : game?.players == 0 ? '0' : '--'}}</h4>
                <p class="text-light-grey">{{'nome.players' | translate}}</p>
            </div>
            <div>
                <h4 *ngIf="!game?.assets?.items && game?.assets?.items != 0">--</h4>
                <h4 *ngIf="game?.assets?.items || game?.assets?.items == 0">{{game?.assets?.items}}</h4>
                <p class="text-light-grey">{{'nav.items' | translate}}</p>
            </div>
            <div>
                <h4 *ngIf="!game?.assets?.avatars && game?.assets?.avatars != 0">--</h4>
                <h4 *ngIf="game?.assets?.avatars || game?.assets?.avatars == 0">{{game?.assets?.avatars}}</h4>
                <p class="text-light-grey">{{'nav.avatars' | translate}}</p>
            </div>
        </div>
    </div>
</div>
