<div class="flex flex-col">
    <div class="flex">
        <div class="flex flex-wrap">
        <filter-slider class="nav-item lg:w-[320px] lg:!hidden sm:!mr-[60px]"></filter-slider>
        <clear-all class="nav-item lg:w-[320px] lg:!block !hidden"></clear-all>

        <search-dropdown *ngIf="showGameSearch" class="nav-item" [title]="'Game name'"></search-dropdown>
        </div>

        <sort-by class="nav-item !ml-auto !mr-0"></sort-by>
    </div>

    <!-- <div class="flex flex-wrap w-full">
        <filter-update class="nav-item lg:w-[325px] sm:!mr-[30px] sm:!mr-[15px]"></filter-update>
        <filter-tags class="nav-item flex items-center"></filter-tags>
    </div> -->
</div>