<div class="wrapper w-full">

    <div class="pb-[40px] flex justify-between">
        <h2 class="capitalize font-medium whitespace-nowrap lh-unset">{{type}} ID: {{item?.tokenId}}</h2>
        <button (click)="redirectToBuy()" class="totem-primary-button w-[240px] h-[50px]">Buy {{type}}</button>
    </div>

    <div class="flex pb-[10px] items-center">
        <p class="text-light-grey">{{'modules.current_owner' | translate}}: </p>
        <!-- <a class="text-white pl-[10px] text-xl" href="https://mumbai.polygonscan.com/address/0x9a4A58D9C4bB6999C93fdb330bEAF32b1BfECbA3" target=”_blank”>{{wallet}}</a> -->
        <!-- <p class="text-white pl-[10px] text-xl truncate w-[200px]">{{item?.owner}}</p> -->
        <div
        fxLayout="row"
        fxLayoutAlign="center center"
        [cdkCopyToClipboard]="item?.owner || ''"
        [cdkCopyToClipboardAttempts]="2"
        (cdkCopyToClipboardCopied)="walletCopied()"
        class="user-id"
        >
        <p class="user-id">{{item?.owner?.slice(0, 6) + '...' + item?.owner?.slice(-4)}}</p>
        <div class="line-copy_small !ml-[7px] !mb-[6px]"></div>
      </div>
    </div>

    <!-- Icons -->
    <div class="icon-wrapper">
        <div class="icon-set">
            <!-- <div class="icon !pl-0">
                <div *ngIf="item?.isLiked === false" class="like line-like !w-[18px]"
                    (click)="$event.stopPropagation(); onClickLike()"></div>
                <div *ngIf="item?.isLiked === true" class="text-yellow solid-like cursor-pointer !w-[18px]"
                    (click)="$event.stopPropagation(); onClickLike()"></div>
                <p class="select-none">{{item?.likes ? item?.likes : '0'}}</p>
            </div> -->
            <div class="icon select-none">
                <div class="line-eye"></div>
                <p>{{item?.views ? item?.views : '0'}}</p>
            </div>
        </div>
        <div class="icon-set">
            <div class="icon cursor-pointer mt-[1px]" (click)="share.share('Сheck out this asset')">
                <share-button class="absolute" #share></share-button>
                <div class="line-share"></div>
                <p class="select-none">{{'modules.share' | translate}}</p>
            </div>

            <div class="icon cursor-pointer" (click)="
            updateAsset();
            refresh.style.animation = 'none';
            refresh.offsetHeight;
            refresh.style.animation = 'rotate 0.5s'">
                <div #refresh class="line-refresh">
            </div>
                <p class="select-none">{{'modules.refresh' | translate}}</p>
            </div>
        </div>
    </div>

    <div class="play" #playContainer>
            <div class="flex gap-[8px]">
                <div class="item-tag">
                    <!-- <h4 *ngIf="item?.lastUsed || item?.lastUsed == 0">{{item?.lastUsed}}</h4> -->
                    <h4 *ngIf="!item?.lastUsed">--</h4>
                    <p>{{'asset_card.last_used' | translate}}</p>
                </div>
                <div class="item-tag">
                    <h4>{{item?.rarity ? item?.rarity : '--'}}</h4>
                    <p>{{'nav.rarity' | translate}}</p>
                </div>
                <div class="item-tag">
                    <h4>{{item?.games || item?.games == 0 ? item?.games : '--'}}</h4>
                    <p>{{'asset_card.games_used' | translate}}</p>
                </div>
        </div>
    </div>
<!-- 
    <div class="cards-preview">
        <h3 classs="title">Look in other games:</h3>
    </div> -->
    <div class="cards-preview">
        <h3 class="title">Look in other games:</h3>

        <div class="cards">
            <div class="card" *ngFor="let game of gamesOnScreen | slice:0:3">
                <div class="img-wrapper">
                    <img [src]="game?.connections?.assetRenderer + '/' + type + '/' + item?.tokenId" alt="">
                </div>
                <div class="bottom"><p class="capitalize">{{game?.general?.name}}</p></div>
            </div>
        </div>
    </div>


</div>
