@font-face {
  font-family: 'CustomFontIcons';
  src:  url('./CustomFontIcons.eot?pwdhlz');
  src:  url('./CustomFontIcons.eot?pwdhlz#iefix') format('embedded-opentype'),
    url('./CustomFontIcons.ttf?pwdhlz') format('truetype'),
    url('./CustomFontIcons.woff?pwdhlz') format('woff'),
    url('./CustomFontIcons.svg?pwdhlz#CustomFontIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'CustomTokenFontIcons';
  src:  url('./token-font/CustomFontIcons.eot?e3py8b');
  src:  url('./token-font/CustomFontIcons.eot?e3py8b#iefix') format('embedded-opentype'),
    url('./token-font/CustomFontIcons.ttf?e3py8b') format('truetype'),
    url('./token-font/CustomFontIcons.woff?e3py8b') format('woff'),
    url('./token-font/CustomFontIcons.svg?e3py8b#CustomFontIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-font-"], [class*=" icon-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CustomFontIcons', 'CustomTokenFontIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-font-settings:before {
  content: "\e900";
}
.icon-font-star:before {
  content: "\e901";
}
.icon-font-notification:before {
  content: "\e902";
}
.icon-font-locked:before {
  content: "\e903";
}
.icon-font-unread:before {
  content: "\e904";
}
.icon-font-favorite:before {
  content: "\e906";
}
.icon-font-favourite:before {
  content: "\e907";
}
.icon-font-check:before {
  content: "\e908";
}
.icon-font-unchecked:before {
  content: "\e909";
}
.icon-font-discord:before {
  content: "\e90a";
}
.icon-font-facebook:before {
  content: "\e90b";
}
.icon-font-twitter:before {
  content: "\e90c";
}
.icon-font-instagram:before {
  content: "\e90d";
}
.icon-font-checked:before {
  content: "\e90e";
}
.icon-font-USDC:before {
  content: "\75";
}
.icon-font-MATIC:before {
  content: "\6d";
}

.icon-font-USDC, .icon-font-MATIC {
  display: flex;
  place-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  &::before {
    width: inherit;
    height: inherit;
  }
}
.icon-font-USDC {
  color: #2775CA !important;
}
.icon-font-MATIC {
  color: #8247E5 !important;
}
