<div class="totem-meet-us">
  <div class="totem-meet-us-bg">
      <span style="--i: -2s;" class="first-circle"></span>
      <span style="--i: -3s;" class="second-circle"></span>
      <span style="--i: -4s;" class="third-circle"></span>
      <span style="--i: -5s;" class="fourth-circle"></span>
      <span style="--i: -6s;" class="fifth-circle"></span>
      <span style="--i: -7s;" class="sixth-circle"></span>
      <span style="--i: -8s;" class="seventh-circle"></span>
    </div>
  <div class="totem-meet-us-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div class="head-caption font-totem">{{'home.meet_totem' | translate}}</div>
    <div class="totem-video-block">
      <iframe
        title="Promo video"
        loading="lazy"
        class="totem-video"
        src="https://www.youtube.com/embed/Pfswi73BQU4?autoplay=1&mute=1">
      </iframe>
    </div>
  </div>
</div>
