<div #wrapper class="wrapper">

    <div class="menu-filter mb-3" (click)="toggleMenu()" [ngClass]="menuActive ? 'gradient-border-solid bg-grey': ''">
        <p class="select-none">{{title}}</p>
        <div class="line-arrow_down" [ngClass]="menuActive ? 'rotate-x-180': ''"></div>
    </div>

        <div #menuRef class="menu-items">
            <label class="menu-item flex" *ngFor="let game of games; let i = index">

                <div class="overflow-hidden w-9 h-9 img rounded">
                    <img [src]="game?.images?.smallThumbnail" alt="">
                </div>

                <div class="flex flex-col pr-2.5 pl-[4px]">
                    <span>{{game?.general?.name}}</span>

                    <span class="text-light-grey">{{game?.general?.genre?.[0]}}</span>
                </div>

                <input (change)="onChangeInput($event, game?.general?.name)" name={{title}} [value]="game?.general?.name"
                    class="w-6 h-6 bg-transparent" [type]="'radio'">

            </label>
            <!-- <div *ngIf="itemsNoFound" class="placeholder">
                <p>No items found</p>
            </div> -->
        </div>

</div>