<ng-container *ngIf="user; else loader">
  <div class="h-[281px] w-full relative overflow-hidden flex flex-col rounded-[24px] items-center justify-between t-bg-grey mt-12">
    <div class="w-full h-[160px] rounded-[24px] overflow-hidden">
      <img *ngIf="user.profileImage" [@showBanner] class="w-full h-full object-cover relative" src="assets/images/banner.png" alt="banner">
    </div>
    <div class="user-info w-full flex flex-row items-start justify-between pr-4 pl-64 pt-6 pb-8">
      <div class="flex flex-col items-start justify-center">
        <p *ngIf="user.name" class="text-[32px] leading-[35px] font-medium mb-2">{{user.name}}</p>
        <p *ngIf="user.name" class="text-[20px] leading-[22px] font-normal flex flex-row items-center cursor-pointer flex 2xl:hidden" [cdkCopyToClipboard]="user.wallet || ''" [cdkCopyToClipboardAttempts]="2" (cdkCopyToClipboardCopied)="copied()">
          {{user.slicedWallet || user.wallet}} <mat-icon class="!h-[16px] !w-[16px] ml-1" [svgIcon]="'mat_outline:content_copy'"></mat-icon></p>
        <p *ngIf="user.name" class="text-[20px] leading-[22px] font-normal flex flex-row items-center cursor-pointer hidden 2xl:flex" [cdkCopyToClipboard]="user.wallet || ''" [cdkCopyToClipboardAttempts]="2" (cdkCopyToClipboardCopied)="copied()">
          {{ user.wallet || user.slicedWallet}} <mat-icon class="!h-[16px] !w-[16px] ml-1" [svgIcon]="'mat_outline:content_copy'"></mat-icon></p>
      </div>
      <div class="flex flex-row items-center justify-center">
        <p class="log-out-button text-[20px] leading-[22px] font-semibold t-col-light-grey hover:text-white cursor-pointer" (click)="logOut()">Log out</p>
        <div matRipple class="text-[20px] leading-[22px] font-medium flex items-center justify-center totem-tab-button h-12 ml-6" (click)="goToMessages()"><mat-icon class="!h-[22px] !w-[22px] mr-2" [svgIcon]="'mat_outline:drafts'"></mat-icon> Messages</div>
        <button class="text-[20px] leading-[22px] font-semibold !px-6 totem-secondary-button h-12 !ml-6" (click)="goToSubmitPage()">Add game</button>
      </div>
    </div>
    <div class="flex items-center justify-center w-[180px] h-[180px] p-3 rounded-full overflow-hidden absolute bottom-5 left-8 t-bg-black">
      <img class="rounded-full w-full h-full object-cover" [src]="user.profileImage" alt="profile-image">
    </div>
  </div>
</ng-container>
<ng-template #loader>Loading...</ng-template>
