<div class="profile-cover h-full w-full flex flex-col shrink-0 items-center px-5 md:px-7 py-6 overflow-auto">
  <div *ngIf="!user" class="profile-info-wrapper h-fit w-full flex flex-col items-start justify-start">
    <p class="text-[20px] leading-[22px] font-semibold t-col-light-violet">Explore</p>
    <div class="w-full mt-3 flex flex-col items-center justify-start">
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/items')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:category'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Items</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/avatars')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:category'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Avatars</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/games')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:category'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Games</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 mt-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/help')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:help'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Help</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
    </div>
    <div class="flex flex-row items-center flex-wrap sm:flex-nowrap sm:gap-[16px] w-full">
      <button (click)="onNavigate('/buy')" class="!mt-4 totem-primary-button h-12 text-[20px] font-semibold leading-[22px] w-full">Purchase</button>
      <button (click)="logIn()" class="!mt-4 totem-secondary-button h-12 text-[20px] font-semibold leading-[22px] w-full">Login</button>
    </div>
  </div>


  <div *ngIf="user" class="profile-info-wrapper h-full w-full flex flex-col items-start justify-start overflow-auto">
    <div class="user-info flex flex-row w-full items-center justify-start cursor-pointer" (click)="onNavigate('/profile')">
      <div class="img-wrapper h-12 w-12 sm:h-20 sm:w-20 flex shrink-0 rounded-full overflow-hidden">
        <img class="w-full h-full object-cover" [src]="user?.profileImage || 'assets/icons/nav/account_circle.svg'" alt="profile-icon" (error)="updateProfileImage()">
      </div>
      <div class="user-name flex flex-col items-start justify-center ml-4 sm:ml-6">
        <p class="text-[20px] leading-[22px] sm:text-[24px] sm:leading-[26px] font-medium flex items-center cursor-pointer" (click)="$event.stopPropagation()" [cdkCopyToClipboard]="user?.wallet || ''" [cdkCopyToClipboardAttempts]="2" (cdkCopyToClipboardCopied)="copied()">
          {{user?.slicedWallet || '0xasfasgas'}} <mat-icon class="!h-[18px] !w-[18px] ml-1" [svgIcon]="'mat_outline:content_copy'"></mat-icon>
        </p>
        <!-- <p class="text-[20px] leading-[22px] font-semibold">{{user?.slicedName ? user?.slicedName : user?.name}}</p> -->
        <p class="text-[16px] leading-[17px] sm:text-[20px] sm:leading-[22px] font-normal t-col-light-grey mt-[2px]">Balance: $ {{balance}}</p>
      </div>
    </div>
    <p class="text-[20px] leading-[22px] font-semibold t-col-light-violet mt-6">Profile</p>
    <div class="w-full mt-3 flex flex-col items-center justify-start mb-4">
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/buy')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:local_mall'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Purchase</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/profile/my-assets')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:person'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">My Assets</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/profile/messages')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:mail'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Messages</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
    </div>
    <p class="text-[20px] leading-[22px] font-semibold t-col-light-violet mt-2">Explore</p>
    <div class="w-full mt-3 flex flex-col items-center justify-start mb-4">
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/items')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:category'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Items</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/avatars')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:category'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Avatars</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
      <div class="navigation-item w-full flex flex-row items-center justify-between py-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/games')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:category'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Games</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div>
      <!-- <div class="navigation-item w-full flex flex-row items-center justify-between py-3 mt-3 cursor-pointer rounded-[12px]" (click)="onNavigate('/help')">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:help'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Help</p>
        </div>
        <mat-icon [svgIcon]="'mat_outline:chevron_right'"></mat-icon>
      </div> -->
      <div class="navigation-item w-full flex flex-row items-center justify-start py-3 mt-3 cursor-pointer rounded-[12px]" (click)="logOut()">
        <div class="flex flex-row items-center justify-start">
          <mat-icon class="t-col-light-violet" [svgIcon]="'mat_outline:logout'"></mat-icon>
          <p class="ml-4 text-[20px] leading-[22px] font-semibold">Logout</p>
        </div>
      </div>
    </div>
  </div>
</div>
