<div class="totem-asset-selector flex flex-row items-center justify-start cursor-pointer relative">
  <div class="asset-selector-wrapper relative flex flex-row items-center justify-start" #toggleButton (click)="menuActive = !menuActive">
    <div *ngIf="type === 'asset'" class="relative asset-selector w-full">
      <p class="w-full text-[48px] font-semibold leading-[52px] title relative z-2">Avatar ID: {{activeAsset?.tokenId}}</p>
      <div class="w-full h-1 absolute t-bg-violet -bottom-[4px] rounded-[40px] z-1"></div>
    </div>
    <div *ngIf="type === 'game'" class="relative asset-selector w-full">
      <p class="w-full text-[32px] font-medium leading-[35px] title relative z-2">{{activeGame?.general?.name}}</p>
      <div class="custom-border w-full h-[4px] absolute t-bg-violet -bottom-[4px] rounded-[40px] left-0 right-0 z-1"></div>
    </div>
    <mat-icon [ngStyle]="menuActive ? {'transform':'rotate(180deg)'} : {}" [ngClass]="type === 'game' ? 'game-arrow' : ''" class="shrink-0 ml-3 leading-[30px] !w-[24px] !h-[24px] xxml:!h-[30px] xxml:!w-[30px]" [svgIcon]="'feather:expand_down'"></mat-icon>
  </div>

  <div
    *ngIf="menuActive"
    [@toggleSelector]
    #dropdown
    class="asset-selector-dropdown w-full min-w-[270px] md:w-[310px] max-w-[310px] absolute h-[200px] top-[calc(100%+10px)] left-0 sm:left-auto smd:left-0 right-0 rounded-[8px] overflow-hidden z-2"
    >
    <div *ngIf="type === 'asset'" class="asset-selector-menu-wrapper w-full h-full overflow-x-hidden overflow-y-auto flex flex-col items-center justify-start p-2 rounded-[8px]">
      <ng-container *ngFor="let asset of assets">
        <div
          class="w-full h-12 shrink-0 rounded-[12px] asset-selector-item flex flex-row items-center justify-start px-2 text-[16px] font-normal leading-[17px]"
          (click)="selectAsset(asset)">
          <div class="item-prev-icon h-10 w-10 relative rounded-[12px] overflow-hidden">
            <img
            calss="w-full h-full object-cover rounded-[12px]"
              (changeSrc)="$event ? itemSpinner.style.display = 'block': itemSpinner.style.display = 'none'"
              loading="lazy"
              *ngIf="asset?.tokenId"
              [src]="assetRendererUrl + '/' + 'avatar' + '/' + asset?.tokenId + '?width=50&height=50'"
              alt="icon">
            <div #itemSpinner class="absolute_center z-1 m-auto">
              <totem-spinner [size]="'14'"></totem-spinner>
            </div>
          </div>
          <div class="flex items-center justify-start">
            <div class="item-name">ID: {{asset.tokenId}}</div>
          </div>
          <!-- Avatar ID: {{asset.tokenId}} -->
        </div>
      </ng-container>
    </div>
    <div *ngIf="type === 'game'" class="asset-selector-menu-wrapper w-full h-full overflow-x-hidden overflow-y-auto flex flex-col items-center justify-start p-2 rounded-[8px]">
      <ng-container *ngFor="let game of games">
        <div
          class="w-full h-12 shrink-0 rounded-[12px] asset-selector-item flex flex-row gap-2 items-center justify-start px-2 text-[16px] font-normal leading-[17px]"
          (click)="selectGame(game)">
          <div class="item-prev-icon h-10 w-10 relative rounded-[12px] overflow-hidden shrink-0">
            <img
              calss="w-full h-full object-cover"
              (changeSrc)="$event ? itemSpinner.style.display = 'block': itemSpinner.style.display = 'none'"
              loading="lazy"
              *ngIf="game?.images?.smallThumbnail"
              [src]="game?.images?.smallThumbnail"
              alt="icon">
            <div #itemSpinner class="absolute_center z-1 m-auto">
              <totem-spinner [size]="'14'"></totem-spinner>
            </div>
          </div>
          <div class="flex flex-col items-start justify-center truncate max-w-full w-full gap-1">
            <!-- <div class="item-name">{{game?.general?.name}}</div> -->
            <div class="item-name truncate max-w-full w-full">{{game?.general?.name}}</div>
            <div class="item-type text-[14px] leading-[15px] t-col-light-grey">{{game?.general?.genre && game.general?.genre?.length ? game?.general?.genre![0] : 'Action'}}</div>
          </div>
          <!-- Game: {{game?.general?.name}} -->
        </div>
      </ng-container>
    </div>

  </div>
</div>
