@import 'styles/scss/totem-variables';


.img-wrapper {
  flex: 1 0 auto;
}

.selected-asset-card {
  background-color: $totem-dark-grey;

  .asset-card-content {
    background-color: $totem-grey;
  }

}

.asset-selector-menu-wrapper {
  border: 1px solid $totem-violet;
  .asset-selector-item {
    transition: background-color 0.22s ease-out;
    &:hover {
      background-color: $totem-black;
    }
  }
}
