@import 'assets/fonts/icon-fonts/mail-font.scss';
@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

* {
  transition: color 0.33s ease-out, background-color 0.33s ease-out;
}

:host {
  height: 100%;
}

.table-head {
  width: 100%;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(95, 99, 105, 0.5);
}

.table-wrapper {
  width: 100%;

  &-content {
    margin-top: 20px;
    width: 100%;
    min-height: 732px;
    padding: 16px;
    border: 1px solid rgba(95, 99, 105, 0.5);
    border-radius: 4px;

    @media (max-width: 599px) {
      height: auto;
      padding: 0px;
      border: none;
      border-radius: unset;
      margin-top: 24px;
    }

    .right-side-setting {
      display: flex;
      flex-direction: row;
      place-content: center;

      .refresh-button {
        position: relative;
        &:hover .tooltiptext {
          //transition-delay: 1s;
          @media (min-width: 600px) {
            visibility: visible;
          }
        }
      }


      .line-refresh {
        font-size: 15px;
        color: $light-grey;

        height: 36px;
        width: 36px;
        display: flex;
        place-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: $dark-grey;
          color: #fff;
        }
      }
      totem-pagination {
        margin-left: 20px;
      }
    }

    .icon-font-unread {
      font-size: 24px;
      color: $light-grey;
      height: 36px;
      width: 36px;
      display: flex;
      place-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: $dark-grey;
        color: #fff;
      }
    }

    .check-all-button {
      position: relative;
      height: 36px;
      width: 40px;
      margin-left: 12px;

      .mark-dropdown {
        width: 20px;
        height: 20px;
        color: $light-grey;
        display: flex;
        place-content: center;
        align-items: center;
        cursor: pointer;
        &:hover .tooltiptext {
          //transition-delay: 1s;
          @media (min-width: 600px) {
            visibility: visible;
          }

        }

        &:hover {
          .line-arrow_down {
            color: #fff;
          }
        }
        .line-arrow_down {
          font-style: normal;
          font-weight: 500;
          color: $light-grey;
          width: auto;
          font-size: 7px;
        }

      }

      .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      .custom-checkbox+label {
        display: flex;
        place-content: center;
        align-items: center;
        user-select: none;
      }
      .custom-checkbox+label::before {
        content: '\e909';
        width: 18px;
        height: 18px;
        font-size: 18px;
      }
      .custom-checkbox:checked+label::before {
        content: '\e90e';
        width: 18px;
        height: 18px;
        font-size: 18px;
        color: #fff;
      }
      .icon-font-checkbox {
        color: $light-grey;
        width: 24px;
        height: 24px;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
      }

    }

    .unread-wrapp {
      opacity: 0;
      pointer-events: none;
      margin-left: 32px;
      position: relative;
      transition: opacity 0.1s ease-out;
      &:hover .tooltiptext {
        //transition-delay: 1s;
        @media (min-width: 600px) {
          visibility: visible;
        }
      }
    }

    .view-unread {
      opacity: 1;
      pointer-events: all;
    }




//////////////////////////////////////////////// TABLE




    .toolbar-titles {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 36px;

      .col-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-right: 12px;
      }
      .type-caption {
        margin-left: 48px;
      }
      .subj-caption {
        max-width: 913px;
        width: 100%;
        margin-left: 22px;
      }
      .date-caption {
        max-width: 310px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    .message-table {
      margin-top: 12px;
      //max-height: 580px;
      height: 100%;
      width: 100%;
      overflow: scroll;
      overflow-x: hidden;
      padding-right: 4px;
      border-radius: 4px;

      .message-item {
        position: relative;
        flex-shrink: 0;
        min-height: 50px;
        max-height: 50px;
        width: 100%;
        background-color: $grey;
        border-radius: 4px;
        overflow: hidden;
        transition: max-height 0.33s cubic-bezier(0.4, 0, 0.2, 1), padding-top 0.33s ease-out;

        cursor: pointer;
        &:not(:first-child) {
          margin-top: 12px;
        }
        &::before {
          content: "";
          pointer-events: none;
          position: absolute;
          z-index: 1;
          inset: 0;
          padding: 1px;
          border-radius: 4px;
          background: $linear-light;
          -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          opacity: 0;
          transition: opacity 0.33s ease-out;
        }
        &:hover::before {
          opacity: 1;
        }

        .visible-info {
          height: 50px;
          flex-shrink: 0;
          @media (max-width: 599px) {
            height: 60px;
          }

          .type-col {
            height: 50px;
            user-select: none;

            .checkbox-wrapper {
              margin-left: 12px;

              .custom-checkbox {
                position: absolute;
                z-index: -1;
                opacity: 0;
                user-select: none;
              }
              .custom-checkbox+label {
                display: flex;
                place-content: center;
                align-items: center;
                user-select: none;
              }
              .custom-checkbox+label::before {
                content: '\e909';
                width: 18px;
                height: 18px;
                font-size: 18px;
              }
              .custom-checkbox:checked+label::before {
                content: '\e90e';
                width: 18px;
                height: 18px;
                font-size: 18px;
                color: #fff;
              }
              .icon-font-checkbox {
                color: $light-grey;
                width: 24px;
                height: 24px;
                cursor: pointer;
                &:hover {
                  color: #fff;
                }
              }

            }

            .type-icon {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              background-color: $yellow;
              display: flex;
              place-content: center;
              align-items: center;
              margin-left: 12px;
              margin-right: 12px;

              .icon-font-notification,
              .icon-font-locked,
              .icon-font-star,
              .icon-font-settings,
              .icon-font-check
              {
                color: #111111;
                width: 24px;
                height: 24px;
                cursor: pointer;
                font-size: 24px;
                display: flex;
                place-content: center;
                align-items: center;
                &::before {
                  width: 23.5px;
                }
              }

              .icon-font-check {
                color: #111111 !important;
                &::before {
                  width: 14px;
                  font-size: 14px;
                }
              }

            }



          }

          .msg-col {
            position: relative;
            max-width: 1090px;
            width: 100%;
            margin-left: 18px;
            margin-right: 10px;
            @media (max-width: 599px) {
              margin-left: 0px;
            }

            .row-border-bottom {
              position: absolute;
              opacity: 0;
              bottom: -12px;
              left: 0px;
              right: 0px;
              width: 100%;
              height: 0px;
              border-bottom: 1px solid $dark-grey;
              transition: opacity 0.33s ease-out;
              @media (max-width: 599px) {
                bottom: 0px;
              }
            }
            .message-title {
              height: 50px;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              flex-shrink: 0;
              white-space: nowrap;

              .date-caption {
                margin-top: 5px;
                color: $light-grey;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
              }
            }
            .date-col {
              margin-left: 20px;
              height: 50px;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              user-select: none;
              white-space: nowrap;
            }
          }

          .hide-button-wrapper {
            max-width: 143px;
            padding-right: 10px;
            //min-width: 125px;
            width: 100%;
            .hide-button {
              transition: opacity 0.33s ease-out;
            }

          }


          .mark-dropdown {
            width: 20px;
            height: 20px;
            display: flex;
            place-content: center;
            align-items: center;
            margin-left: 16px;
            margin-right: 22px;
            @media (max-width: 599px) {
              margin-right: 0px;
            }
            cursor: pointer;
            &:hover {
              mat-icon {
                color: #fff;
              }
            }
            mat-icon {
              transition: transform 0.33s ease-out;
              font-style: normal;
              font-weight: 500;
              color: $light-grey;
              height: 7.14px;
              width: auto;
              font-size: 12px;
            }
          }
        }

        .message-text-wrapper {
          width: 100%;
          padding-top: 12px;
          padding-left: 118px;
          padding-right: 153px;
          @media (max-width: 599px) {
            padding: 0px 10px 20px 14px;
          }
          .message-text-content {
            width: 100%;
            max-width: 1062px;
            padding-right: 118px;
            padding-bottom: 50px;
            @media (max-width: 599px) {
              padding-right: 0px;
              padding-bottom: 0px;
            }
            //border-top: 1px solid $dark-grey;
            .message-subtitle {
              padding-top: 20px;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
            }
            .message-heading {
              margin-top: 17px;
              font-weight: 500;
              font-size: 24px;
              line-height: 28px;
            }
            .message-subheading {
              margin-top: 17px;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
            }
            .message-text {
              margin-top: 17px;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
            }
          }
        }

        @media (max-width: 599px) {
          max-height: 60px;
          min-height: 60px;
        }

      }

      @media (max-width: 599px) {
        max-height: unset;
        padding: 0px;
        margin-top: 30px;
        border-radius: unset;
      }

      .selected-item {
        max-height: 400vh;
        @media (min-width: 600px) {
          padding-top: 12px;
        }
        &::before {
          opacity: 1 !important;
        }
      }
    }

  }
}

.tooltiptext {
  pointer-events: none;
  visibility: hidden;
  background: rgba(8, 9, 10, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  color: $light-grey;
  text-align: center;
  padding: 7px 16px;
  position: absolute;
  z-index: 20;
  bottom: -36px;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  transition: visibility 0.1s ease-out;
}
