<div class="table-wrapper">
  <totem-profile-back-button [routeName]="'Messages'"></totem-profile-back-button>
  <div class="table-head" fxLayout="row" fxLayoutAlign="space-between center">
    <div  fxLayout="row" fxLayoutAlign="start center">
      <div class="check-all-button" fxLayoutAlign="space-between center">
        <input type="checkbox" class="custom-checkbox" id="checkall" #masterCheckbox [checked]="master" (change)="master=masterCheckbox.checked">
        <label for="checkall" class="icon-font-checkbox"></label>

        <div class="mark-dropdown">
          <mat-icon [svgIcon]="'line:arrow_down'"></mat-icon>
        </div>
      </div>

      <div class="unread-wrapp" fxLayoutAlign="center center" (click)="restore()">
        <span class="icon-font-unread"></span>
      </div>
    </div>

    <div class="right-side-setting" (click)="add()">
      <mat-icon>refresh</mat-icon> <totem-pagination [totalValue]="102" (paginationEvent)="pageEvent($event)"></totem-pagination>
    </div>

  </div>
  <div class="toolbar-titles">
    <div class="col-name type-caption">Type</div>
    <div class="col-name subj-caption">Subject</div>
    <div class="col-name date-caption">Date</div>
  </div>
  <div class="message-table" fxLayout="column">
    <!-- <ng-container *ngIf="messageList | async as messagesList"> -->
        <div
          *ngFor="let message of messageList | async"
          class="message-item"
          fxLayout="row"
          [ngStyle]="getIsOpened(message.id) ? {'max-height' : '100%', 'padding-top' : '12px'} : {}" (click)="openMessage(message.id)"
        >
        <div class="type-col" fxLayout="row" fxLayoutAlign="start center">
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              class="custom-checkbox"
              id="checkthis{{message.id}}"
              [checked]="message.isChecked"
            >
            <label
              for="checkthis{{message.id}}"
              class="icon-font-checkbox"
              (click)="checkMessage(message.id); $event.preventDefault(); $event.stopPropagation()"
            >
            </label>
          </div>
          <div class="type-icon">
            <ng-container [ngSwitch]="message.type">
              <ng-container *ngSwitchCase="messageType.NOTIF">
                <span class="icon-font-notification"></span>
              </ng-container>
              <ng-container *ngSwitchCase="messageType.ACCOUNT">
                <span class="icon-font-locked"></span>
              </ng-container>
              <ng-container *ngSwitchCase="messageType.SETTINGS">
                <span class="icon-font-settings"></span>
              </ng-container>
              <ng-container *ngSwitchCase="messageType.UPDATE">
                <span class="icon-font-star"></span>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="subj-col" fxLayout="column" fxLayoutAlign="start start">
          <div class="message-title w-full" fxLayout="row" fxLayoutAlign="start center">
            {{message.title}}{{message.IsOpened}}
          </div>
          <div class="message-subtitle w-full">
            {{message.text}}
          </div>
          <div class="message-heading w-full">
            {{message.text}}
          </div>
          <div class="message-subheading w-full">
            {{message.text}}
          </div>
          <div class="message-text w-full">
            {{message.message}}
          </div>
        </div>
        <div class="date-col" fxLayout="row" fxLayoutAlign="start center">
          {{message.date}}
        </div>
      </div>
    <!-- </ng-container> -->
  </div>

</div>
