<div class="details-tab w-full mt-[60px]">
  <div class="details-tab-wrapper w-full">
    <div class="title pl-[16px]">Images</div>
    <div class="content-container p-[16px] mt-[20px]">
      <div class="image-upload-block px-[20px] py-[30px]" fxLayout="column" fxLayoutAlign="center start">

        <div class="image-block cover-image-block w-full pb-[16px]" fxLayout="row" fxLayoutAlign="space-between start">
          <div class="image-block-title">Cover Image</div>
          <div class="cover-image-wrapper" fxLayout="column" fxLayoutAlign="start start">
            <div *ngIf="finalizedImage" class="edit-button" (click)="cropSelectedImage(finalizedImage, 'cover', true)">
              <mat-icon>edit_square</mat-icon>
            </div>
            <div *ngIf="finalizedImage" class="del-button" (click)="removeImage('cover')">
              <mat-icon class="delete-icon" [svgIcon]="'solid:delete-icon'"></mat-icon>
            </div>
            <div class="file-container p-[10px] sm:p-[20px]">
              <totem-image-dropzone (errorEvent)="updateCoverError($event)" [uniqueId]="'cover'" [finalizedImage]="finalizedImage" (finalizedFile)="cropSelectedImage($event, 'cover')" [selfFill]="true" [recommendedResolution]="'1400x400'" [dzMinHeight]="'247px'"></totem-image-dropzone>
            </div>
            <span @showError class="error-message mt-[14px]" *ngIf="errorsArr[0].status">{{errorsArr[0].message}}</span>
            <div class="sub-caption mt-[16px]">Upload cover photo for your game page</div>
          </div>
        </div>

        <div class="image-block card-image-block w-full mt-[30px]" fxLayout="row" fxLayoutAlign="space-between start">
          <div class="image-block-title">Card thumbnail</div>
          <div class="card-image-wrapper" fxLayout="column" fxLayoutAlign="start start">
            <div class="card-content p-[10px] sm:p-[20px]" fxLayout="row" fxLayoutAlign="start start">
              <div class="file-container">
                <totem-image-dropzone (errorEvent)="updateCardError($event)" [uniqueId]="'card'" (finalizedFile)="cropSelectedImage($event, 'card')" [recommendedResolution]="'800x600'" [dzMinHeight]="'472px'"></totem-image-dropzone>
              </div>
              <div class="preview-block card-preview p-[17px] w-full h-full">
                <div *ngIf="finalizedCardImage" class="edit-button" (click)="cropSelectedImage(finalizedCardImage, 'card', true)">
                  <mat-icon>edit_square</mat-icon>
                </div>
                <div *ngIf="finalizedCardImage" class="del-button" (click)="removeImage('card')">
                  <mat-icon class="delete-icon" [svgIcon]="'solid:delete-icon'"></mat-icon>
                </div>
                <totem-preview-card [finalizedImage]="finalizedCardImage"></totem-preview-card>
              </div>
            </div>
            <span @showError class="error-message mt-[14px]" *ngIf="errorsArr[1].status">{{errorsArr[1].message}}</span>
            <div class="sub-caption mt-[16px]">Upload photos for game thumbnail</div>
          </div>
        </div>

        <div class="image-block search-image-block w-full mt-[30px]" fxLayout="row" fxLayoutAlign="space-between start">
          <div class="image-block-title">Search thumbnail</div>
          <div class="search-image-wrapper" fxLayout="column" fxLayoutAlign="start start">
            <div class="search-content p-[10px] sm:p-[20px]" fxLayout="row" fxLayoutAlign="start start">
              <div class="file-container">
                <totem-image-dropzone (errorEvent)="updateThumbError($event)" [uniqueId]="'search'" (finalizedFile)="cropSelectedImage($event, 'search')" [recommendedResolution]="'200x200'" [dzMinHeight]="'402px'"></totem-image-dropzone>
              </div>
              <div class="preview-block search-preview py-[18px] px-[37px] w-full h-full">
                <div *ngIf="finalizedSearchImage" class="edit-button" (click)="cropSelectedImage(finalizedSearchImage, 'search', true)">
                  <mat-icon>edit_square</mat-icon>
                </div>
                <div *ngIf="finalizedSearchImage" class="del-button" (click)="removeImage('search')">
                  <mat-icon class="delete-icon" [svgIcon]="'solid:delete-icon'"></mat-icon>
                </div>
                <totem-preview-search-card [finalizedImage]="finalizedSearchImage"></totem-preview-search-card>
              </div>
            </div>
            <span @showError class="error-message mt-[14px]" *ngIf="errorsArr[2].status">{{errorsArr[2].message}}</span>
            <div class="sub-caption mt-[16px]">Upload photos for search thumbnail</div>
          </div>
        </div>

        <div class="image-block gallery-image-block w-full mt-[30px]" fxLayout="row" fxLayoutAlign="space-between start">
          <div class="image-block-title">Images Gallery</div>
          <div class="gallery-image-wrapper" fxLayout="column" fxLayoutAlign="start start">
            <div class="file-container p-[10px] sm:p-[20px]">
              <totem-image-dropzone (errorEvent)="updateGalleryError($event)" [uniqueId]="'gallery'" (finalizedFile)="cropSelectedImage($event, 'gallery')" [recommendedResolution]="'1920x1080'" [dzMinHeight]="'247px'"></totem-image-dropzone>
            </div>
            <span @showError class="error-message mt-[14px]" *ngIf="errorsArr[3].status">{{errorsArr[3].message}}</span>
            <div class="sub-caption mt-[16px]">Upload photos for your game page</div>

            <div class="w-full mt-[30px] overflow-hidden">
              <div class="w-full overflow-x-auto" fxLayout="row" fxLayoutAlign="start center">
                <div *ngFor="let image of finalizedGalleryImages; let i = index" [ngStyle]="{'margin-left' : i != 0 ? '22px' : ''}">
                  <totem-gallery-card [finalizedImage]="image" (deleteImage)="removeGalleryImage($event)"></totem-gallery-card>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <totem-button [disabled]="!allowButton" class="my-[80px] flex justify-center" [caption]="'Continue'" (click)="onNextTab()"></totem-button>
</div>
