@import 'styles/scss/variables';

.sub-caption {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: $light-grey;
}

.image-block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  white-space: nowrap;
}

.preview-block {
  border: 1px dashed $light-grey;
  border-radius: 4px;
}

.file-container {
  background-color: $dark-grey;
  position: relative;
  max-width: 1098px;
  width: 100%;
  min-height: 289px;
  border-radius: 4px;
}

.details-tab {
  &-wrapper {

    .title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
    }

    .content-container {
      border: 1px solid $dark-grey;
      border-radius: 4px;

      .image-upload-block {
        background-color: $grey;
        border-radius: 4px;

        .cover-image-block {
          border-bottom: 1px solid $dark-grey;

          .cover-image-wrapper {
            max-width: 1098px;
            width: 100%;

            //.file-container

          }
        }

        .gallery-image-block {
          .gallery-image-wrapper {
            max-width: 1098px;
            width: 100%;
          }
        }

        .card-image-block, .search-image-block {
          .card-image-wrapper, .search-image-wrapper {
            max-width: 1098px;
            width: 100%;
            .card-content, .search-content {
              background-color: $dark-grey;
              max-width: 1098px;
              width: 100%;
              border-radius: 4px;

              //.file-container

              .card-preview, .search-preview {
                max-width: 374px;
                min-height: 474px;
              }
              .search-preview {
                min-height: 402px;
              }
            }
          }
        }
      }

    }

  }
}
