@import '../../../../../styles/scss/variables';


h4 {
    font-size: 18px;
}

.ellipsis-center {
    white-space:nowrap;
}

.ellipsis-center:hover {
    background-color: $black-2;
    color: $yellow;
}

.ellipsis-center > h4 {
    white-space: nowrap;
    overflow: hidden;
    vertical-align:middle;
  }
  
  .ellipsis {
    display: inline-block;
    width: calc(50% + 1.2em);
    text-overflow: ellipsis;
  }
  
  .indent {
    display:inline-flex;
    width: calc(50% - 1.2em);
    justify-content:flex-end;
  }

.test {
  overflow-wrap: break-word;
}