@import '../../../../../styles/scss/variables';


h4 {
    font-size: 18px;
}

.ellipsis-center {
    white-space:nowrap;
}

.ellipsis-center:hover {
    background-color: $black-2;
    color: $yellow;
}

.ellipsis-center > h4 {
    white-space: nowrap;
    overflow: hidden;
    vertical-align:middle;
  }
  
  .ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
  }
  

.test {
  overflow-wrap: break-word;
}