<form class="form-section" [formGroup]="gameDetails">
    <h3>{{'profile.game_details_preview' | translate}}</h3>

    <div class="info-block">
      <div class="info-block-wrapper">

        <div class="block-section pt-[10px] sm:pt-[40px]">
          <h4>{{'nav.status' | translate}}</h4>
          <div class="input-section">
            <input type="text" formControlName="status" (blur)="saveValue()">
            <span @showMessage class="error-message" *ngIf="statusErrors">{{'profile.required_field' | translate}}</span>
            <span>{{'profile.write_current_status' | translate}}</span>
          </div>
        </div>

        <div class="block-section">
          <h4>{{'nav.platforms' | translate}}</h4>
          <div class="tags-section">
            <form-dropdown
            (selectedTag)="onSelectTag($event)"
            (removeTag)="onRemoveTag($event)"
            (touched)="onTouchDropdown()"
            [setItems]="setItems"
            [title]="'Add platforms'"
            [items]="dropdownPlatforms"
            class="outline-light-grey"
            [ngClass]="dropdownTouched && platformTags.length === 0 ? 'outline-error':''"></form-dropdown>
            <span @fade-in class="error-message" *ngIf="dropdownTouched && platformTags.length === 0">{{'profile.required_field' | translate}}</span>
            <div class="tags">
              <div @fade-in class="tag" *ngFor="let platform of platformsForm.controls" (click)="onRemovePlatform(platform)">
                <span>{{platform.value}}</span>
                <!-- <mat-icon [svgIcon]="'line:close'"></mat-icon> -->
                <div class="line-close"></div>
              </div>
            </div>
            <span>{{'profile.choose_platforms_game_supports' | translate}}</span>
          </div>
        </div>

        <div class="block-section pt-[10px] sm:pt-[40px]">
          <h4>{{'nav.made_with' | translate}}<span class="pl-[10px]">({{'profile.optional' | translate}})</span></h4>
          <div class="input-section">
            <input type="text" formControlName="madeWith" (blur)="saveValue()">
            <span>{{'profile.list_programs' | translate}}</span>
          </div>
        </div>

        <div class="block-section pt-[10px] sm:pt-[40px]">
          <h4>{{'nav.session' | translate}}<span class="pl-[10px]">({{'profile.optional' | translate}})</span></h4>
          <div class="input-section">
            <input type="text" formControlName="session" (blur)="saveValue()">
            <span>{{'profile.write_time' | translate}}</span>
          </div>
        </div>

        <div class="block-section pt-[40px]">
          <h4>{{'nav.languages' | translate}}<span class="pl-[10px]">({{'profile.optional' | translate}})</span></h4>
          <div class="input-section">
            <input type="text" formControlName="languages" (blur)="saveValue()">
            <span>{{'profile.write_languages' | translate}}</span>
          </div>
        </div>

        <div class="block-section pt-[10px] sm:pt-[40px]">
          <h4>{{'nav.inputs' | translate}}<span class="pl-[10px]">({{'profile.optional' | translate}})</span></h4>
          <div class="input-section">
            <input type="text" formControlName="inputs" (blur)="saveValue()">
            <span>{{'profile.list_types' | translate}}</span>
          </div>
        </div>

      </div>
    </div>
</form>
