/* Base styles for individual layouts */
:host {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}

.totem-content {
  max-width: 1500px;
  width: 1500px;
  padding-left: 30px;
  padding-right: 30px;
}
