@import 'styles/scss/variables';

.item {
    width: 340px;
    height: 440px;
    background: $grey;

    & img {
        border-radius: 0;
    }

    &:hover {
        background: linear-gradient(359.71deg, rgba(255, 255, 255, 0.15) 0.38%, rgba(255, 255, 255, 0) 46.66%);
    }
}


.like {
    color: $light-grey;
    
    &:hover {
        color: $yellow;
    }
}
