<div class="add-your-game w-full p-[20px]">
  <div class="add-your-game-wrapper w-full">

    <!-- BANNER + PROGRESS -->
    <div class="progress-block w-full mt-[40px]" fxLayout="column" fxLayoutAlign="center start">
      <div class="banner-info w-full py-[25px] lg:py-[50px]" fxLayout="column" fxLayoutAlign="center center">
        <div class="banner-info-title font-totem text-[28px] sm:text-[36px] lg:text-[48px]">
          game {{editMode ? 'update' : 'Application'}} form
        </div>
        <div class="banner-info-subtitle mt-[20px] text-[16px] sm:text-[20px]">
          Join our Totem community & publish your game now!
        </div>
      </div>
      <mat-progress-bar class="progress-bar mt-[21px]" mode="determinate" value="{{progress}}"></mat-progress-bar>
    </div>

    <!-- TABS -->
    <div class="navigation-block">
      <totem-game-submission-nav class="mt-[80px]" [activeTab]="activeTab" (tabSelected)="goToTab($event)"></totem-game-submission-nav>
    </div>

    <!-- CONTENT -->
    <div class="content-block">
      <ng-container *ngIf="activeTab == 'basic-information'">
        <totem-basic-info (formDataEvent)="updateFormData($event)" (tabSelected)="goToTab($event)" (jsonSelected)="updateJsonFile($event)" [jsonFiles]="jsonFilesToUpload"></totem-basic-info>
      </ng-container>
      <ng-container *ngIf="activeTab == 'details'">
        <totem-details-tab
        [savedImages]="imagesToUpload"
        (formDataEvent)="updateImages($event)"
        (imageFilesEvent)="updateImagesToUpload($event)"
        (tabSelected)="goToTab($event)"
        (fileEvents)="saveEvents($event)"
        [finalizedImageEvent]="imageEvents?.coverEvent"
        [finalizedCardImageEvent]="imageEvents?.cardEvent"
        [finalizedSearchImageEvent]="imageEvents?.searchEvent"
        ></totem-details-tab>
      </ng-container>
      <ng-container *ngIf="activeTab == 'links'">
        <totem-links-tab (submitEvent)="uploadGame($event)"></totem-links-tab>
      </ng-container>
    </div>

  </div>
</div>
