@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/mail-font.scss';
@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

.icon-font-USDC, .icon-font-MATIC {
  width: 46px;
  height: 46px;
  font-size: 46px;
}

.balance {
    width: 100%;
    // margin-left: 12px;
    .title {
      z-index: 2;
      cursor: pointer;
      color: $light-grey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0 12px 0;
      border-bottom: 1px solid $dark-grey;

      .line-arrow_up {
        transition: transform 0.4s ease-in-out;
        // width: 13px;
      }

      .balance-preview {
        max-width: 146px;
        width: 100%;
        transition: opacity 0.4s ease-in-out;

        .balance-info {
          position: relative;
          width: 100%;
          height: 20px;
          &-item {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            align-items: flex-end;
            place-content: center center;
            min-width: 0;
            transition: opacity 0.4s ease-in-out;

            .token-wrapper {
              height: 20px;
              width: 20px;
              position: relative;
              .icon-font-USDC, .icon-font-MATIC {
                height: 20px;
                width: 20px;
                font-size: 20px;
                &::before {
                  height: auto;
                }
              }
              .token-background {
                z-index: 1;
                position: absolute;
                top: 1px;
                left: 1px;
                width: 18px;
                height: 18px;
                background-color: #fff;
                border-radius: 50%;
              }
            }
            span, p {
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              color: $light-grey;
              z-index: 2;
            }
            p {
              //width: 100%;
              max-width: 70px;
            }
            img {
              height: 20px;
              width: auto;
            }
          }
        }
      }


    }

    .dropdown {
      max-height: 0px;
      display: flex;
      flex-direction: column;
      overflow:hidden;
      transform: translateY(-1px);
      transition: max-height 0.4s ease-in-out;
      border-bottom: 1px solid $dark-grey;

      .button-wrapper {
        align-items: center;
        place-content: center space-between;

        .send-button {
          padding-right: 10px;
          padding-left: 10px;
          display: flex;
          align-items: center;
          place-content: center center;
          height: 50px;
          background-color: $dark-grey;
          font-weight: 600;
          font-size: 16px;
          color: #FFFFFF;
          border-radius: 4px;
          transition: color 0.3s, background-color 0.3s;
          &:hover {
            //color: $black;
            background-color: $grey;
          }
        }

      }

      .item {

        .discord-token-wrapper {
          height: 46px;
          width: 46px;
          background-color: $light-grey;
          border-radius: 50%;
          display: flex;
          place-content: center;
          align-items: center;
          .icon-font-discord {
            width: 24px;
            height: auto;
            color: $dark;
            &::before {
              width: inherit;
              height: auto;
              font-size: 24px;
            }
          }
        }

        .token-wrapper {
          height: 46px;
          width: 46px;
          position: relative;
          .token-background {
            z-index: 1;
            position: absolute;
            top: 2px;
            left: 2px;
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
          }
        }

        img {
          height: 46px;
          width: 46px;
          margin-right: 20px;
        }
        display: flex;
        padding: 10px 0;
      }
    }
  }
