
@import 'styles/scss/variables';


.update {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 9999px;
    cursor: pointer;
    background-color: $grey;
    color: $light-grey;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    

    &:hover {
        background-color: $yellow;
        color: $black;
    }

    .mat-icon {
        transition: rotate 0.5s ease-in-out;
        &:hover {

            // transform: rotate(360deg);
        }
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    99% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }

