@import 'styles/scss/totem-variables';


.circle-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .tranform-circle-1 {
    transform: matrix(-0.95, 0.32, 0.08, 1, 0, 0);
  }
}

.content {
  background: rgba(35, 37, 47, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 4px;
}

.blur-100 {
  filter: blur(100px);
}
