

<div class="w-80 flex flex-col mr-3">
    
    <filter-menu
    [title]="'Game name'"
    [inputType]="'radio'"></filter-menu>

    <filter-menu
    [title]="'Damage'"
    [searchType]="'range'"></filter-menu>

    <filter-menu
    [title]="'Element'"
    [inputType]="'checkbox'"
    [searchType]="null"></filter-menu>

    <filter-menu
    [title]="'Color'"
    [inputType]="'checkbox'"></filter-menu>

    <filter-menu
    [title]="'Item type'"
    [inputType]="'checkbox'"></filter-menu>

    <filter-menu
    [title]="'Material'"></filter-menu>


</div>