

<div class="w-80 flex flex-col mr-3">
    
    <filter-menu
    [title]="'Game name'"
    [inputType]="'radio'"
    [items]="games"></filter-menu>

    <filter-menu
    [title]="'Damage'"
    [searchType]="'range'"></filter-menu>

    <filter-menu
    [title]="'Element'"
    [inputType]="'checkbox'"
    [searchType]="null"
    [items]="elements"></filter-menu>

    <filter-menu
    [title]="'Color'"
    [inputType]="'checkbox'"
    [items]="colors"></filter-menu>

    <filter-menu
    [title]="'Item type'"
    [inputType]="'checkbox'"
    [items]="itemTypes"></filter-menu>

    <filter-menu
    [title]="'Material'"
    [items]="materials"></filter-menu>

</div>