@import 'styles/scss/variables';


.promo-game-wrapper {
  display: flex;
  z-index: 2;
  border-radius: 4px;
  position: relative;
  width: 100%;
  height: 475px;
  overflow: hidden;
  .game-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 30px;
    background: linear-gradient(73.08deg, rgba(8, 9, 10, 0.95) 26.96%, rgba(0, 0, 0, 0) 192.77%);
  }

  .img-wrapper {
    width: 100%;
    height: 100%;
    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }
  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 1;
    inset: 0;
    padding: 1px;
    border-radius: 4px 4px 4px 4px;
    background: $linear-light;
    -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: opacity 0.33s ease-out;
  }
}


.game-name {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 28px;
  }
}
.game-description {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8A939B;
  @media (max-width: 767px) {
    margin-top: 10px;
  }
}
.game-cta {
  margin-top: 28px;
  display: flex;
  width: 100%;
  button {
    border-radius: 4px !important;
    background: $yellow;
    color: #111;
    width: 220px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    outline: 1px solid transparent;
    transition: all 0.33s ease-in-out;
    &:hover {
      background: $grey;
      color: $yellow;
    }
    &:focus {
      outline: 1px solid $yellow;
    }
  }
}
.game-name {}
