$line-font-family: "line" !default;
$icomoon-font-path: "fonts" !default;

$line-edit: "\e917";
$line-info: "\e914";
$line-item_placeholder: "\e915";
$line-trash: "\e916";
$line-copy_small: "\e906";
$line-eye: "\e900";
$line-arrow_down: "\e901";
$line-arrow_left: "\e902";
$line-arrow_right: "\e903";
$line-arrow_up: "\e904";
$line-close: "\e905";
$line-discord: "\e907";
$line-facebook: "\e908";
$line-instagram: "\e909";
$line-like: "\e90a";
$line-open_new: "\e90b";
$line-refresh: "\e90c";
$line-search: "\e90d";
$line-share: "\e90e";
$line-star: "\e90f";
$line-tune: "\e910";
$line-twitter: "\e911";
$line-update: "\e912";
$line-user: "\e913";

