<div
  class="file-container"
  *ngIf="!imageUrl && !existingImageUrl || !selfFill"
  style="--minh: {{dzMinHeight}}"
  [ngStyle]="{'border' : dzHovered ? '1px dashed #fff;' : errorState ? '1px dashed #FF5252' : ''}"
  (dragenter)="setHover()"
>
  <input
    *ngIf="!multipleFiles"
    (dragleave)="removeHover()"
    [ngStyle]="{'pointer-events' : dzHovered ? 'all' : 'none'}"
    class="file"
    [id]="uniqueId"
    (change)="getFile($event)"
    type="file"
    accept="{{jsonFileType ? 'application/json' : 'images/*'}}"
  >
  <input
    *ngIf="multipleFiles"
    (dragleave)="removeHover()"
    [ngStyle]="{'pointer-events' : dzHovered ? 'all' : 'none'}"
    class="file"
    [id]="uniqueId"
    (change)="processMultipleFiles($event)"
    type="file"
    accept="{{jsonFileType ? 'application/json' : 'images/*'}}"
    multiple
  >
  <div class="file-upload-info" fxLayout="column" fxLayoutAlign="center center">
    <div class="solid-doc-image doc-image" *ngIf="jsonFileType" [ngStyle]="{'color' : dzHovered ? '#8A939B' : ''}"></div>
    <div class="solid-no-image" *ngIf="!jsonFileType" [ngStyle]="{'color' : dzHovered ? '#8A939B' : ''}"></div>

    <div class="browse-caption mt-[18px]">{{jsonFileType ? 'Drop your JSON file here, or' : 'Drop your image here, or'}}
      <label [ngStyle]="{'pointer-events' : !dzHovered ? 'all' : 'none'}" class="browse-button" [for]="uniqueId">{{'profile.browse' | translate}}</label>
    </div>
    <div *ngIf="!jsonFileType" class="mt-[15px] gap-[10px] flex flex-col">
      <span>{{'profile.supports' | translate}}: JPG, PNG, GIF </span>
      <span>{{'profile.recommended_resolution' | translate}} {{recommendedResolution}}px </span>
      <span>{{'profile.max_file_size' | translate}} 20 MB</span>
    </div>
  </div>
</div>
<div style="--minh: {{dzMinHeight}}" class="img-container" *ngIf="imageUrl && selfFill">
  <img loading="lazy" class="uploaded-image" [src]="imageUrl || ''" alt="">
</div>
<div style="--minh: {{dzMinHeight}}" class="img-container" *ngIf="!imageUrl && existingImageUrl && selfFill">
  <input
    class="file-change"
    (change)="getFile($event)"
    type="file"
    #upload
    accept="{{jsonFileType ? 'application/json' : 'images/*'}}"
  >
  <img loading="lazy" class="uploaded-image" [src]="existingImageUrl || ''" alt="">
  <div class="edit-button" (click)="openFileBrowser()">
    <div class="line-edit"></div>
  </div>
</div>
