@import 'styles/scss/variables';

img {
    border-radius: 4px;
    object-fit: contain;
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 810px;
}

.image-wrapper {
  border: 1px solid $light-grey;
  transition: opacity .2s;
}

.hl-image-blurred {
  filter: blur(10px) brightness(80%);
  transform: scale(1.1);
  object-fit: cover;
}

/* .hl-image {
    backdrop-filter: blur(5px);
    transition: backdrop-filter .2s;
} */
/* .image-bg {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: opacity .2s;
} */

/* .hl-image {
    transition: opacity .2s;
    border: 1px solid $light-grey;
} */

.tags {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    column-gap: 6px;
    row-gap: 8px;
    .tag {
        background-color: $grey;
        padding: 10px;
        border-radius: 4px;
        color: $light-grey;
    }
}
p {
    white-space: pre-wrap;
}

.links {
    display: flex;
    gap: 16px;
    // justify-content: center;
    .link {
        display: flex;
        justify-content: center;
        width: 46px;
        height: 46px;
        background-color: $black;
        border-radius: 9999px;
        font-size: 24px;
    }
}


