<div class="description">
    <div class="images-block pb-[60px]">
        <!-- <img *ngIf="_game?.images?.galley" src="assets/images/game-info/game_slide_top.png" alt=""> -->
        <!-- <div class=""></div> -->
        <img loading="lazy" #image class="sm:h-[430px] hl-image" *ngIf="!_game?.images?.galley" [src]="hlImage" [alt]="_game?.general?.name">
        <portfolio-carousel (changeImg)="onChangeImg($event)" [images]="_game?.images?.gallery"></portfolio-carousel>
    </div>

    <div class="flex gap-[60px] justify-between flex-wrap xl:flex-nowrap">
        <div *ngIf="_game?.general?.fullDescription == undefined && !_game" class="flex flex-col">
            <h4 class="mb-[30px]">Description</h4>
            <p class="font-medium ">
                Struggling punk band, Dead Pets, are still looking for their breakthrough after almost 10 years.
                Gordy has big plans for the group, but when you turn 30, life starts to get in the way. Dead
                Pets Unleashed is a narrative, slice of life and management-lite game; get ready to unleash your
                inner demon!
                We’ve been through hell and back to get here. Playing together for 10 years despite our
                differences, I know we have what it takes.
                Dead Pets is a slice of life, management-lite, narrative game about music and friendship.
                Playing as Gordy, you’ll go to band practice, manage Gordy’s finances and wellbeing, as well
                find time to earn enough money to cover rent.
                From the creators of Welcome to Elk, dive into the demon world of New Void City, and give your
                childhood dreams one last chance. It’s time to dream big, grow up and rock out!

                Content Warning: Dead Pets Unleashed will contain a major storyline relating to sexual
                harassment. We are working with a consultant with this to ensure the storyline is handled in a
                sensitive way, and there will be tools implemented for the player to ensure their comfort and
                safety while playing.
            </p>
        </div>

        <div *ngIf="_game?.general?.fullDescription" class="flex flex-col">
            <h4 class="mb-[30px]">Description</h4>
            <p class="overflow-hidden" *ngIf="_game?.general?.fullDescription">{{_game?.general?.fullDescription}}</p>
        </div>

        <div class="flex flex-col min-w-[250px] w-[250px]">
            <h4 class="mb-[30px]">Genre</h4>
            <div *ngIf="_game?.general?.genre" class="tags pb-[60px]">
                <div class="tag" *ngFor="let genre of _game?.general?.genre">
                    <span>{{genre}}</span>
                </div>
            </div>

            <div *ngIf="!_game?.general?.genre && !_game?.general?.genre?.length" class="tags pb-[60px]">
                <div class="tag" *ngFor="let _ of [].constructor(8)">
                    <span>Meaningful choices</span>
                </div>
            </div>

            <ng-container *ngIf="_game?.connections?.socialLinks && _game?.connections?.socialLinks?.length != 0">
                <h4 class="pb-[15px]">Links</h4>

                <div class="links">
                    <ng-container *ngFor="let link of _game?.connections?.socialLinks">
                        <a *ngIf="link.type == 'Discord'" class="link" [href]="link.url" target="_blank">
                            <mat-icon [svgIcon]="'line:discord'"></mat-icon>
                        </a>
                        <a *ngIf="link.type == 'Facebook'" class="link" [href]="link.url" target="_blank">
                            <mat-icon [svgIcon]="'line:facebook'"></mat-icon>
                        </a>
                        <a *ngIf="link.type == 'Twitter'" class="link" [href]="link.url" target="_blank">
                            <mat-icon [svgIcon]="'line:twitter'"></mat-icon>
                        </a>
                        <a *ngIf="link.type == 'Instagram'" class="link" [href]="link.url" target="_blank">
                            <mat-icon [svgIcon]="'line:instagram'"></mat-icon>
                        </a>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>