<div class="totem-event">
  <div class="totem-event-wrapper" fxLayout="row" fxLayoutAlign="space-between center">


    <div fxFlex.lt-md="32%" fxFlex.lt-sm="100%" class="image-container">
      <div class="floating-border abs-full">
        <div class="floating-border-wrapper">
          <div class="face-border"></div>
          <div class="blured-border abs-full"></div>
          <div class="deco-border-1 abs-full"></div>
          <div class="deco-border-2 abs-full"></div>
        </div>
      </div>
      <div class="jam-info px-[60px] py-[63px]" fxLayout="column" fxLayoutAlign="flex-end flex-start">
        <div class="jam-info-title mb-[10px]">
          <div class="jam-info-title-face">
            <img loading="lazy" src="assets/icons/gj-logo.svg" alt="">
          </div>
          <div class="jam-info-title-blured">
            <img loading="lazy" src="assets/icons/gj-logo.svg" alt="">
          </div>
        </div>
        <p class="jam-info-caption font-totem mt-[10px]">October 14th, 18PM GMT+8</p>
      </div>
      <div class="gradient-face abs-full"></div>
      <img loading="lazy" src="assets/images/gamejam.webp" alt="jam">
    </div>
    <div fxFlex="32%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%" class="timer-container">
      <div class="title font-totem">GameJam+</div>
      <div class="image-container-tablet">
        <div class="floating-border abs-full">
          <div class="floating-border-wrapper">
            <div class="face-border"></div>
            <div class="blured-border abs-full"></div>
            <div class="deco-border-1 abs-full"></div>
            <div class="deco-border-2 abs-full"></div>
          </div>
        </div>
        <div class="jam-info" fxLayout="column" fxLayoutAlign="flex-end flex-start">
          <div class="jam-info-title">
            <div class="jam-info-title-face"><img loading="lazy" src="assets/icons/gj-logo.svg" alt=""></div>
            <div class="jam-info-title-blured"><img loading="lazy" src="assets/icons/gj-logo.svg" alt=""></div>
          </div>
          <p class="jam-info-caption font-totem mt-[10px]">October 14th, 18PM GMT+8</p>
        </div>
        <div class="gradient-face abs-full"></div>
        <img loading="lazy" src="assets/images/gamejam.webp" alt="jam">
      </div>
      <div class="timer-block" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{days | number: '2.0-0'}}</span>
          <div class="timer-caption">DAY</div>
        </div>
        <span class="font-totem totem-color timer-dots">:</span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{hours | number: '2.0-0'}}</span>
          <div class="timer-caption">HR`S</div>
        </div>
        <span class="font-totem totem-color timer-dots">:</span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{minutes | number: '2.0-0'}}</span>
          <div class="timer-caption">MIN`S</div>
        </div>
        <span class="font-totem totem-color timer-dots">:</span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{seconds | number: '2.0-0'}}</span>
          <div class="timer-caption">SEC</div>
        </div>
      </div>
      <div class="description">Totem is joining as a category to GameJam+, the largest game development marathon and acceleration process in the world</div>
      <div class="join-cta-block"><totem-button [customId]="'eventButton'" [caption]="'Join the event'"></totem-button></div>
    </div>
  </div>
</div>
