@import 'styles/scss/variables';


.totem-event {
  width: 100%;
  height: 438px;
  @media (max-width: 960px) {
    height: auto;
  }
  &-wrapper {
    width: 100%;
    height: inherit;
    .image-container {
      max-width: 828px;
      width: 100%;
      min-width: 400px;
      flex-shrink: 1;
      height: inherit;
      overflow: hidden;
      border-radius: 4px;
      margin-right: 40px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      @media (max-width: 960px) {
        display: none;
      }
      &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        //z-index: 1;
        inset: 0;
        padding: 1px;
        border-radius: 4px 4px 4px 4px;
        background: $linear-light;
        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        transition: opacity 0.33s ease-out;
      }
    }
    .timer-container {
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: flex-start space-between;
      align-items: flex-start;
      min-width: 450px;
      height: inherit;
      @media (max-width: 960px) {
        place-content: center space-between;
        align-items: center;
      }
      @media (max-width: 490px) {
        min-width: 200px;
      }
      .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
        @media (max-width: 490px) {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
        }
      }
      .timer-block {
        margin-top: 38px;
        .totem-color {
          font-weight: 400;
          font-size: 48px;
          line-height: 48px;
          color: $yellow;
          @media (max-width: 490px) {
            font-size: 32px;
            line-height: 32px;
          }
        }
        .timer-dots {
          padding-bottom: 40px;
          @media (max-width: 490px) {
            padding-bottom: 35px;
          }
        }
        .grey-back {
          width: 102px;
          height: 82px;
          background-color: $grey;
          border-radius: 4px;
          padding: 16px 10px;
          text-align: center;
          @media (max-width: 490px) {
            width: 60px;
            height: 40px;
            padding: 4px 3px;
          }
        }
        .timer-caption {
          margin-top: 16px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: $light-grey;
          @media (max-width: 490px) {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      .description {
        margin-top: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #8A939B;
        max-width: 450px;
      }
      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
      }
      .join-cta-block {
        margin-top: 48px;
      }
      .join-button {
        margin-top: 48px;
        border-radius: 4px !important;
        background: $yellow;
        color: #111;
        width: 220px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        outline: 1px solid transparent;
        transition: all 0.33s ease-in-out;
        &:hover {
          background: $grey;
          color: $yellow;
        }
        &:focus {
          outline: 1px solid $yellow;
        }
      }
      .image-container-tablet {
        position: relative;
        height: 280px;
        width: 100%;
        overflow: hidden;
        border-radius: 4px;
        display: none;
        margin-top: 38px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        @media (max-width: 960px) {
          display: unset;
        }
        @media (max-width: 490px) {
          height: 160px;
        }
        &::before {
          content: "";
          pointer-events: none;
          position: absolute;
          z-index: 1;
          inset: 0;
          padding: 1px;
          border-radius: 4px 4px 4px 4px;
          background: $linear-light;
          -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          transition: opacity 0.33s ease-out;
        }
      }
    }
  }
}
