@import 'styles/scss/variables';


.totem-event {
  width: 100%;
  height: 438px;
  @media (max-width: 960px) {
    height: auto;
  }
  &-wrapper {
    width: 100%;
    height: inherit;
    .image-container {
      max-width: 828px;
      width: 100%;
      min-width: 400px;
      flex-shrink: 1;
      height: inherit;
      overflow: hidden;
      border-radius: 30px;
      margin-right: 40px;
      position: relative;
      .floating-border {
        z-index: 3;
        padding: 26px;
        &-wrapper {
          position: relative;
          width: 100%;
          height: 100%;
          .face-border, .blured-border {
            width: 100%;
            height: 100%;
            border-radius: 40px;
            border: 2px solid #fff;
          }
          .blured-border {
            filter: blur(5px);
          }
          .deco-border-1, .deco-border-2 {
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 40px;
          }
          .deco-border-1 {
            animation: rotateInfinite1 10s 3s ease-in-out infinite;
          }
          .deco-border-2 {
            animation: rotateInfinite1 10s ease-in-out infinite;
          }
        }

        @keyframes rotateInfinite1 {
          0% { transform: rotate(-2.85deg); }
          50% { transform: rotate(2.85deg); }
          100% { transform: rotate(-2.85deg); }
        }

      }
      .jam-info {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        &-title {
          &-face, &-blured {
            font-weight: 400;
            font-size: 64px;
            line-height: 64px;
            text-transform: uppercase;
            color: #FFFFFF;
            @media (max-width: 1080px) {
              font-size: 48px;
              line-height: 48px;
            }
          }
          position: relative;
          &-blured {
            position: absolute;
            top: 0;
            left: 0;
            filter: blur(3.5px);
          }
        }

        &-caption {
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          text-transform: uppercase;
          color: #FFFFFF;
          @media (max-width: 1080px) {
            font-size: 18px;
            line-height: 18px;
          }
        }
      }
      .gradient-face {
        z-index: 1;
        background: linear-gradient(28deg, #202225 30.6%, rgba(0, 0, 0, 0) 52.36%);
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      @media (max-width: 960px) {
        display: none;
      }
      /* &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        //z-index: 1;
        inset: 0;
        padding: 1px;
        border-radius: 4px 4px 4px 4px;
        background: $linear-light;
        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        transition: opacity 0.33s ease-out;
      } */
    }
    .timer-container {
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: flex-start center;
      align-items: flex-start;
      min-width: 450px;
      height: inherit;
      @media (max-width: 960px) {
        place-content: center space-between;
        align-items: center;
      }
      @media (max-width: 490px) {
        min-width: 200px;
      }
      .title {
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;
        text-transform: uppercase;
        @media (max-width: 490px) {
          font-weight: 400;
          font-size: 32px;
          line-height: 32px;
        }
      }
      .timer-block {
        margin-top: 38px;
        .totem-color {
          font-weight: 400;
          font-size: 48px;
          line-height: 48px;
          color: $yellow;
          @media (max-width: 490px) {
            font-size: 32px;
            line-height: 32px;
          }
        }
        .timer-dots {
          padding-bottom: 40px;
          @media (max-width: 490px) {
            padding-bottom: 35px;
          }
        }
        .grey-back {
          width: 102px;
          height: 82px;
          background-color: $grey;
          border-radius: 4px;
          padding: 16px 10px;
          text-align: center;
          @media (max-width: 490px) {
            width: 60px;
            height: 40px;
            padding: 4px 3px;
          }
        }
        .timer-caption {
          margin-top: 16px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: $light-grey;
          @media (max-width: 490px) {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      .description {
        margin-top: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #8A939B;
        max-width: 450px;
      }
      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
      }
      .join-cta-block {
        margin-top: 48px;
      }
      .join-button {
        margin-top: 48px;
        border-radius: 4px !important;
        background: $yellow;
        color: #111;
        width: 220px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        outline: 1px solid transparent;
        transition: all 0.33s ease-in-out;
        &:hover {
          background: $grey;
          color: $yellow;
        }
        &:focus {
          outline: 1px solid $yellow;
        }
      }
      .image-container-tablet {
        position: relative;
        height: 438px;
        width: 100%;
        overflow: hidden;
        border-radius: 30px;
        display: none;
        margin-top: 38px;
        .floating-border {
          z-index: 3;
          padding: 26px;
          @media (max-width: 600px) {
            padding: 9px;
          }
          &-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            .face-border, .blured-border {
              width: 100%;
              height: 100%;
              border-radius: 40px;
              border: 2px solid #fff;
            }
            .blured-border {
              filter: blur(5px);
            }
            .deco-border-1, .deco-border-2 {
              border: 1px solid rgba(255, 255, 255, 0.3);
              border-radius: 40px;
            }
            .deco-border-1 {
              animation: rotateInfinite1 10s 3s ease-in-out infinite;
            }
            .deco-border-2 {
              animation: rotateInfinite1 10s ease-in-out infinite;
            }
          }

          @keyframes rotateInfinite1 {
            0% { transform: rotate(-2.85deg); }
            50% { transform: rotate(2.85deg); }
            100% { transform: rotate(-2.85deg); }
          }

        }
        .jam-info {
          z-index: 2;
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 63px 60px;
          @media (max-width: 600px) {
            padding: 53px 39px;
          }
          @media (max-width: 490px) {
            padding: 39px 25px;
          }
          &-title {
            &-face, &-blured {
              font-weight: 400;
              font-size: 64px;
              line-height: 64px;
              text-transform: uppercase;
              color: #FFFFFF;
              @media (max-width: 1080px) {
                font-size: 48px;
                line-height: 48px;
              }
              @media (max-width: 490px) {
                font-size: 32px;
                line-height: 32px;
              }
            }
            position: relative;
            &-blured {
              position: absolute;
              top: 0;
              left: 0;
              filter: blur(3.5px);
            }
          }

          &-caption {
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: #FFFFFF;
            @media (max-width: 1080px) {
              font-size: 18px;
              line-height: 18px;
            }
            @media (max-width: 490px) {
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
        .gradient-face {
          z-index: 1;
          background: linear-gradient(28deg, #202225 30.6%, rgba(0, 0, 0, 0) 52.36%);
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        @media (max-width: 960px) {
          display: unset;
        }
        @media (max-width: 600px) {
          height: 280px;
        }
        @media (max-width: 490px) {
          height: 205px;
        }
        &::before {
          content: "";
          pointer-events: none;
          position: absolute;
          z-index: 1;
          inset: 0;
          padding: 1px;
          border-radius: 4px 4px 4px 4px;
          background: $linear-light;
          -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          transition: opacity 0.33s ease-out;
        }
      }
    }
  }
}

.abs-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
