@import 'styles/scss/variables';
@import 'styles/scss/placeholders';
@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

.placeholder {
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #353840;
    .mat-icon {
        margin:auto;
        width: 130px !important;
        height: auto !important;
    }
}

.max-2-lines {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2;
   -webkit-box-orient: vertical;
}
.like {
    font-size: 22px !important;
    cursor: pointer;
    width: 22px !important;
    height: 22px !important;
    position: relative;
    overflow: visible;
    &::after {
        content: '';
        position: absolute;
         top: -50%;
        left: -50%;
         width: 200%;
        height: 200%;
    }
}

.test-background {
    background-color: #000405;
}

.svg-icon {
    display: flex;
  align-items: center;
}


.card-item {
    display: flex;
    flex-direction: column;
    margin:auto;
    flex-grow: 1;
    width: 100%;
    min-width: 280px;
    max-width: 440px;
    height: 440px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    background: $grey;
    text-align: start;
    position: relative;
    transition: all 0.33s ease-in;
    & .img-wrapper {
        // background-color: #353840;
        background-color: $grey;
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        & img {
            position: absolute;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
            transition: all 0.35s ease-in-out;
            border-radius: 0;
        }
        &.contain {
          img {
            object-fit: contain;
          }
        }
    }
    & .attributes {
        z-index: 1;
        padding: 18px;
        height: 125px;
        border-top: 1px solid $dark-grey;

        & .top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            position: relative;

        }
        & .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            white-space: nowrap;
            max-width: 320px;
        }
    }

    &:hover {
        background: linear-gradient(359.71deg, rgba(255, 255, 255, 0.15) 0.38%, rgba(255, 255, 255, 0) 46.66%);
        & img {
          transform: scale(1.2);
        }
    }
}
