<div class="wrapper flex-wrap lg:flex-nowrap p-[15px] lg:p-[30px] gap-[15px] lg:gap-[90px]">

  <div class="video-block">
    <iframe title="Promo video" loading="lazy" class="video"
      [src]="selectedEvent?.videoUrl ? (selectedEvent!.videoUrl! | safe) : 'https://www.youtube.com/embed/Pfswi73BQU4?autoplay=1&mute=1'">
    </iframe>
  </div>

  <div class="desc-block">
    <div class="text">
      <p class="text-[24px] lg:text-[32px] leading-[35px] font-medium">Learn how to get more fun from Explorer!</p>
      <p @fade-in class="text-[16px] leading-[23px] font-normal t-col-light-grey my-[15px] lg:my-[24px]">Totem Explorer is a website
        designed and
        created by IT-Dimension for the Totem platform. It allows users to view and explore the various Totem Assets and
        see how they appear in different games. It also provides information on their properties and the list of the
        games
        which support Totem Assets. Furthermore, it is possible to purchase new assets on the website. Watch the video
        overview of the Web-site's functionality for better understanding of how you can easily use Totem Explorer for
        management of your Totem Assets and browsing assets owned by other players.</p>
      <button class="!mb-[20px] w-full sm:w-auto lg:!mb-0 totem-primary-button h-[48px] text-[20px] leading-[22px] font-medium !px-10"
        (click)="goToPage()">Join us</button>
    </div>

    <div class="slider !hidden lg:!flex">
<!-- 
      <div class="date">
        <p>{{selectedEvent?.date}}</p>
      </div>

      <div #track class="track">
        <div #thumb (click)="onClickArrow(selectedEvent?.index)" class="thumb">
          <mat-icon [svgIcon]="'line:arrow_bottom'"></mat-icon>
        </div>
      </div> -->
    </div>

  </div>

</div>