<div class="totem-explorer-video w-full" *ngIf="promoVideo">
  <div class="totem-explorer-video-wrapper w-full flex flex-row items-center justify-between">
    <!-- <div class="head-caption font-totem">{{promoVideo.data!.title || ('home.meet_totem' | translate)}}</div> -->
    <div class="flex flex-col items-start justify-center w-full max-w-[390px]">
      <p class="text-[32px] leading-[35px] font-medium">Learn how to get more fun from Explorer!</p>
      <p class="text-[16px] leading-[17px] font-normal t-col-light-grey my-6">Totem Explorer is a website designed and created by IT-Dimension for the Totem platform. It allows users to view and explore the various Totem Assets and see how they appear in different games. It also provides information on their properties and the list of the games which support Totem Assets. Furthermore, it is possible to purchase new assets on the website. Watch the video overview of the Web-site's functionality for better understanding of how you can easily use Totem Explorer for management of your Totem Assets and browsing assets owned by other players.</p>
      <button class="totem-primary-button h-[48px] text-[20px] leading-[22px] font-medium !px-10" (click)="goToPage()">Join us</button>
    </div>
    <div class="totem-video-block rounded-[24px] overflow-hidden">
      <iframe
        title="Promo video"
        loading="lazy"
        class="totem-video"
        [src]="promoVideo ? (promoVideo.data!.videoUrl! | safe) : 'https://www.youtube.com/embed/Pfswi73BQU4?autoplay=1&mute=1'">
      </iframe>
    </div>
  </div>
</div>
