$solid-font-family: "solid" !default;
$icomoon-font-path: "fonts" !default;

$icon-bottom_rectangle: "\e900";
$icon-buy-avatar: "\e901";
$icon-buy-gem: "\e902";
$icon-buy-item: "\e903";
$icon-delete-icon: "\e904";
$icon-doc-image: "\e905";
$icon-like: "\e906";
$icon-no-image: "\e907";
$icon-star: "\e908";
$icon-warning-icon: "\e909";

