$solid-font-family: "solid" !default;
$icomoon-font-path: "fonts" !default;

$solid-more: "\e90a";
$solid-bottom_rectangle: "\e900";
$solid-buy-avatar: "\e901";
$solid-buy-gem: "\e902";
$solid-buy-item: "\e903";
$solid-delete-icon: "\e904";
$solid-doc-image: "\e905";
$solid-like: "\e906";
$solid-no-image: "\e907";
$solid-star: "\e908";
$solid-warning-icon: "\e909";

