<div class="py-[60px] px-[20px] flex flex-col relative max-w-[1164px] m-auto">

    <div class="flex flex-wrap lg:flex-nowrap justify-between">
        <div class="img-wrapper gradient-border-solid">
            <img class="rounded" *ngIf="!nftMeta?.metadata?.image" src="assets/images/statue.png" alt="">
            <img class="rounded" *ngIf="nftMeta?.metadata?.image" [src]="nftMeta?.metadata?.image" alt="">
        </div>
        <item-desc class="mt-[60px] px-[30px] lg:mt-0" [wallet]="wallet" [nft]="nftMeta"></item-desc>
    </div>

    <!-- Tabs -->
    <div class="flex w-full justify-center">
        <div class="flex tabs-wrapper">
            <div class="tab sm:!text-base sm:!p-[10px]"
             [ngClass]="activeTab === 'properties' ? 'bg-black !text-white': ''"
            (click)="onChangeTab('properties')">Properties</div>

            <div class="tab sm:!text-base sm:!px-[10px]" 
            [ngClass]="activeTab === 'legacy' ? 'bg-black !text-white': ''"
            (click)="onChangeTab('legacy')">Legacy</div>

            <div class="tab sm:!text-base sm:!px-[10px]" 
            [ngClass]="activeTab === 'history' ? 'bg-black !text-white': ''"
            (click)="onChangeTab('history')">Ownership History</div>
        </div>
    </div>

    <div>
        <item-properties *ngIf="activeTab === 'properties'"></item-properties>
        <item-legacy *ngIf="activeTab === 'legacy'"></item-legacy>
        <item-history *ngIf="activeTab === 'history'"></item-history>
    </div>

    <!-- <div class="pt-[90px]">
        <h2>History view</h2>
        <div class="flex gap-[16px] pt-[44px]">
            <item-card *ngFor="let _ of [].constructor(4)"></item-card>
        </div>
    </div> -->

    <horizontal-carousel class="mt-[70px]"
        [title]="'History view'"
        [menuTitle]="null"
        [items]="items">
      </horizontal-carousel>

</div>