@import 'styles/scss/totem-variables';


.img-wrapper {
  flex: 1 0 auto;
}

.selected-asset-card {
  border: 1px solid $totem-light-violet;
  box-shadow: 0px 0px 18px $totem-light-violet;
  background: rgba(35, 37, 47, 0.8);

  .img-wrapper {
    background-color: $totem-black;
  }

}
