<div class="flex flex-col selected-asset-card w-[360px] h-[432px] flex-auto overflow-hidden rounded-[24px]">

    <div *ngIf="asset?.rendererUrl" class="img-wrapper h-[289px]">
        <img class="object-cover h-full" loading="lazy" [src]="asset?.rendererUrl" alt="Not found">
    </div>
    <div class="asset-card-content flex flex-col h-full px-5 py-4">
        <div class="flex flex-row items-center justify-start">
          <p class="font-medium text-[32px] leading-[32px]">ID: {{asset?.tokenId}}</p>
        </div>
        <div class="flex flex-row items-center justify-between mt-4">
          <div class="flex flex-col items-start justify-start">
            <p class="font-medium text-[26px] leading-[27px]">{{asset?.updatedAt | date:'dd.MM.yy'}}</p>
            <p class="mt-1 font-medium text-[20px] leading-[22px] text-[#8A939B]">Last used</p>
          </div>
          <div class="flex flex-col items-start justify-start">
            <p class="font-medium text-[26px] leading-[27px]">{{asset?.rarity}}</p>
            <p class="mt-1 font-medium text-[20px] leading-[22px] text-[#8A939B]">Rarity</p>
          </div>
          <div class="flex flex-col items-start justify-start">
            <p class="font-medium text-[26px] leading-[27px]">{{asset?.games}}</p>
            <p class="mt-1 font-medium text-[20px] leading-[22px] text-[#8A939B]">Games used</p>
          </div>
        </div>
    </div>

</div>
