@import 'assets/fonts/icon-fonts/mail-font.scss';
@import 'styles/scss/variables';

* {
  transition: color 0.33s ease-out, background-color 0.33s ease-out;
}

:host {
  height: 100%;
}

.favourites-wrapper {


  .favourites-body {
    .back-button {
      margin-top: 10px;
    }
    .banner-image {
      position: relative;
      width: 100%;
      margin-top: 50px;
      border-radius: 4px;
      overflow: hidden;
      img {
        max-height: 200px;
        min-height: 200px;
        height: 100%;
        max-width: 1500px;
        width: 100%;
        object-fit: cover;
      }
      .edit-button {
        opacity: 0.6;
        z-index: 3;
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        transition: opacity 0.33s ease-out;
        &:hover {
          .line-edit {
            color: #fff;
          }
        }
      }
      &:hover {
        .edit-button {
          opacity: 1;
        }
      }
    }

    .fav-nav-wrapper {
      margin-top: 80px;
      width: 100%;
      max-width: 1500px;
      height: 31px;

      a, span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $light-grey;
        cursor: pointer;
      }
      .fav-nav {
        flex-flow: row wrap;
        box-sizing: border-box;
        display: flex;
        place-content: center flex-start;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: inherit;
        border-bottom: 1px solid $dark-grey;
        .nav-block {
          height: inherit;
          padding-left: 30px;
          padding-right: 30px;
          flex-direction: column;
          box-sizing: border-box;
          display: flex;

          @media (max-width: 600px) {
            display: none;
          }

          a {
            position: relative;
            transition: color 0.33s ease-out;
            &:hover {
              color: #fff;
            }
          }

          a::before {
            content: '';
            width: 0px;
            height: 4px;
            background-color: $yellow;
            position: absolute;
            border-radius: 25px 25px 0 0;
            top: 29px;
            right: 0px;
            left: -4px;
            opacity: 0;
            transition: width 0.26s ease-out, opacity 0.26s ease-out;
          }

          a.active-tab {
            color: #fff;

            &::before {
              width: calc(100% + 8px);
              opacity: 1;
            }
          }

        }

        @media (min-width: 601px) {
          row-gap: 10px;
          padding-bottom: 3px;
        }
        @media (max-width: 600px) {
          place-content: center space-between;
        }

        .nav-button {
          display: none;
          flex-direction: column;
          box-sizing: border-box;
          place-content: center;
          align-items: center;
          background-color: $grey;
          border-radius: 4px;
          width: 48%;
          height: 50px;
          color: #fff;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 17px;
          cursor: pointer;
          @media (max-width: 600px) {
            display: flex;
          }
          &.active-tab {
            color: $dark;
            background-color: $yellow;
          }
        }
      }
      @media (max-width: 600px) {
        height: unset;
      }
    }

    .content-block {
      .fav-stats {
        margin-top: 30px;
      }
    }

  }
}
