<div class="favourites-wrapper w-full">
  <div class="favourites-body w-full">
    <totem-profile-back-button class="back-button" [routeName]="'Favorites'"></totem-profile-back-button>
    <div class="banner-image">
      <img loading="lazy" [src]="user?.image || 'assets/images/banner.png'" alt="banner">
    </div>
    <div class="fav-nav-wrapper">
      <div class="fav-nav">
        <div class="nav-block">
          <a [ngClass]="activeTab === 'items' ? 'active-tab': ''"
          (click)="onChangeTab('items')">Favorite items</a>
        </div>
        <div class="nav-block">
          <a [ngClass]="activeTab === 'avatars' ? 'active-tab': ''"
          (click)="onChangeTab('avatars')">Favorite avatars</a>
        </div>
        <div class="nav-block">
          <a [ngClass]="activeTab === 'games' ? 'active-tab': ''"
          (click)="onChangeTab('games')">Favorite games</a>
        </div>
        <div matRipple class="nav-button" [ngClass]="activeTab === 'items' ? 'active-tab': ''" (click)="onChangeTab('items')">Favorite items</div>
        <div matRipple class="nav-button" [ngClass]="activeTab === 'avatars' ? 'active-tab': ''" (click)="onChangeTab('avatars')">Favorite avatars</div>
        <div matRipple class="nav-button" [ngClass]="activeTab === 'games' ? 'active-tab': ''" (click)="onChangeTab('games')">Favorite games</div>
      </div>
    </div>
    <div class="content-block">
      <ng-container *ngIf="activeTab === 'items'">
        <totem-profile-stats [type]="'fav_item'" class="fav-stats"></totem-profile-stats>
        <filter-components [itemType]="'item'" [setItems]="items"></filter-components>
      </ng-container>
      <ng-container *ngIf="activeTab === 'avatars'">
        <totem-profile-stats [type]="'fav_avatar'" class="fav-stats"></totem-profile-stats>
        <filter-components [itemType]="'avatar'" [setItems]="avatars"></filter-components>
      </ng-container>
      <!-- <ng-container *ngIf="activeTab === 'gems'">
        <totem-profile-stats [total]="totalItems" class="fav-stats"></totem-profile-stats>
        <filter-components [itemType]="'gem'" [items]="gems"></filter-components>
      </ng-container> -->
      <ng-container *ngIf="activeTab === 'games'">
        <filter-components [itemType]="'game'" [setItems]="games"></filter-components>
      </ng-container>
    </div>
  </div>
</div>
