<div class="dropdown">
    <div class="menu-filter bg-grey" (click)="onClickMenu()"
        [ngClass]="menuActive ? 'border-yellow border': 'border border-transparent'">
        <span>{{title}}</span>
        <mat-icon *ngIf="menuActive === false" [svgIcon]="'line:arrow_down'"></mat-icon>
        <mat-icon *ngIf="menuActive === true" [svgIcon]="'line:arrow_up'"></mat-icon>
    </div>

    <div class="dropdown-menu" [ngStyle]="menuActive ? {'display': 'inline-block'}: {'display': 'none'}">
        <div class="menu-item">
            <span class="">Most popular</span>
        </div>
        <div class="menu-item">
            <span class="">Most popular</span>
        </div>
    </div>
</div>