@import 'styles/scss/variables';

:host {
  height: 100%;
  width: 100%;
}

* {
  user-select: none;
  pointer-events: none;
  font-weight: 500;
}

.prev-desc {
  line-height: 1.3;
  max-width: 300px;
}

.card-body {
  border-radius: 4px;
  overflow: hidden;
  background-color: $grey;
  .img-preview {
    height: 264px;
    background-color: $dark;
    color: $grey;
    mat-icon {
      width: 90px;
      height: auto;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.info {
  height: 174px;

  .line-like {
    height: 22px;
    width: 23px;
    font-size: 22px;
  }
}
