<div class="card-body h-full w-full" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="img-preview h-full w-full" fxLayout="column" fxLayoutAlign="center center">
    <!-- <mat-icon *ngIf="!imageUrl" [svgIcon]="'solid:no-image'"></mat-icon> -->
    <div class="solid-no-image" *ngIf="!imageUrl && !existingImageUrl"></div>
    <img loading="lazy" *ngIf="imageUrl" [src]="imageUrl" alt="preview">
    <img loading="lazy" *ngIf="!imageUrl && existingImageUrl" [src]="existingImageUrl" alt="preview">
  </div>
  <div class="info w-full px-[18px] py-[18px]" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3 class="text-light-grey">{{'home.preview' | translate}}</h3>
      <div>
        <!-- <mat-icon class="like" [svgIcon]="'line:like'"></mat-icon> -->
        <div class="line-like like"></div>
      </div>
    </div>
    <div class="flex prev-desc">
      <p class="text-light-grey pt-1 pb-3">Preview of game card is right here, so You can see how it looks</p>
    </div>

    <div class="flex justify-between max-w-[320px]">
        <div class="flex flex-col">
            <h4 class="text-light-grey">0</h4>
            <p class="text-light-grey">{{'nav.players' | translate}}</p>
        </div>
        <div>
            <h4 class="text-light-grey">0</h4>
            <p class="text-light-grey">{{'nav.items' | translate}}</p>
        </div>
        <div class="mr-[34px]">
            <h4 class="text-light-grey">0</h4>
            <p class="text-light-grey">{{'nav.avatars' | translate}}</p>
        </div>
    </div>
  </div>
</div>
