<div *ngIf="game && !pageNotFound" class="wrapper pb-[60px] pt-[40px] sm:py-[60px] lg:py-[80px] relative">

    <div class="blur-md">
        <bg-circle class="top-[-100px] left-0" [width]="'350px'" [background]="'#FFD011'"></bg-circle>
        <bg-circle class="top-[100px] left-[25%]" [width]="'200px'" [background]="'#00BC58'"></bg-circle>
        <bg-circle class="top-[-100px] left-[90%]" [width]="'250px'" [background]="'rgb(189 41 184)'"></bg-circle>
    </div>

    <div class="z-1 img-wrapper p-[9px] sm:p-[18px] mb-[40px] sm:mb-[60px] lg:mb-[80px]">
        <img loading="lazy" [src]="game?.images?.coverImage ? game?.images?.coverImage : 'assets/images/game-info/head.png'" alt="">
        <!-- <div class="w-full mt-[100%]"></div> -->
    </div>

    <div class="z-1 flex gap-[20px] sm:gap-[60px] justify-center lg:justify-between flex-wrap-reverse lg:flex-nowrap">
        <game-description [game]="game"></game-description>

        <game-review [editInfo]="editInfo" [game]="game"></game-review>
    </div>

    <iframe *ngIf="game?.connections?.promoVideo" class="promo-video mt-[60px] sm:mt-[80px] max-w-[810px] lg:max-w-[100%]" [src]="game?.connections?.promoVideo | unsafeUrl" frameborder="0"></iframe>

    <horizontal-carousel class=" mt-[60px] sm:mt-[80px]"
        [title]="'Similar Games'"
        [menuTitle]="null"
        [itemType]="'game'"
        [items]="games">
    </horizontal-carousel>
</div>


<div *ngIf="!game && !pageNotFound" class="w-full h-[calc(100vh-70px)] flex justify-center items-center">
    <totem-spinner></totem-spinner>
</div>

<not-found class="h-[calc(100vh-70px)]" *ngIf="pageNotFound"></not-found>

