
<div class="flex w-full">
    <div class="flex flex-col wrapper">
        <div class="header">
            <span class="pl-[50px]">Owner address</span>
            <span class="pl-[295px]">Date of purchase</span>
            <span class="pl-[135px]">Price</span>
            <span class="pl-[135px]">Game Played</span>
            <span class="pl-[135px]">TX</span>
        </div>
        <div *ngFor="let _ of [].constructor(5)" class="transaction">
            <img src="assets/images/transaction-avatar.png" alt="">
            <div class="">0x88644f6bbe25dc5f4c6992cfcb4bf0be1653568f</div>
            <div class="pl-[70px] pr-[100px] whitespace-nowrap">Aug 30, 2022, 11:16AM</div>
            <div class="pr-[130px]">4.44$</div>
            <div class="pr-[180px]">13144</div>
            <mat-icon [svgIcon]="'line:open_new'"></mat-icon>
        </div>
        
    </div>
</div>