<div #item class="flex flex-col item gradient-border" (click)="onNavigate()">

    <!-- <div class="absolute"> -->
    <img class="object-cover grow h-[265px]" src="assets/images/popularGame.png" alt="">
    <!-- </div> -->

    <div class="p-4 flex flex-col mt-auto absolute bottom-0 h-[175px]">
        
        <div class="flex justify-between">
            <div class="flex flex-col">
                <h3>Weapon</h3>
            </div>

            <mat-icon *ngIf="isLiked === false" class="like" [svgIcon]="'line:like'" (click)="onClickLike()"></mat-icon>
            <mat-icon *ngIf="isLiked === true" class="text-yellow" [svgIcon]="'solid:like'" (click)="onClickLike()"></mat-icon>
        </div>

        <div class="flex">
            <p class="text-light-grey py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</p>
        </div>

        <div class="flex justify-between max-w-[320px]">
            <div class="flex flex-col">
                <h4>1000</h4>
                <p class="text-light-grey">Players</p>
            </div>
            <div>
                <h4>1000</h4>
                <p class="text-light-grey">Items</p>
            </div>
            <div>
                <h4>1000</h4>
                <p class="text-light-grey">Avatars</p>
            </div>
        </div>
    </div>
</div>