<div class="wrapper">
    <div #slider class="slider">
        <ng-container *ngIf="_images">
            <div class="slide" *ngFor="let image of _images">
                <img loading="lazy" class="sm:h-[175px]" [src]="image" alt="slide" (click)="onClickImg(image)">
            </div>
        </ng-container>
    </div>

    <div class="arrows-wrapper">
        <div class="w-[24px] justify-center flex absolute h-[24px] bottom-0 left-0 cursor-pointer" (click)="onClickPrev()"><div class="left-arrow text-light-grey line-arrow_left"></div></div>
        <div class="w-[24px] justify-center flex absolute h-[24px] bottom-0 right-0 cursor-pointer" (click)="onClickNext()"><div class="right-arrow text-light-grey line-arrow_right"></div></div>
    </div>
</div>
