@import 'styles/scss/variables';


.totem-meet-us {
  z-index: 2;
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;

  &-bg {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(200px);
    .first-circle {
      position: absolute;
      left: 613px;
      top: 50px;
      width: 345px;
      height: 345px;
      background: #FFD011;
      animation-delay: var(--i);
      animation: MoveUpDown 10s linear infinite;
    }
    .second-circle {
      position: absolute;
      width: 170px;
      height: 170px;
      left: 813px;
      top: 50px;
      background: radial-gradient(330% 330% at 50% 50%, #FF6666 0%, rgba(255, 102, 102, 0) 100%);
      animation: MoveUpDown 10s linear infinite;
      animation-delay: var(--i);
    }
    .third-circle {
      position: absolute;
      width: 303px;
      height: 303px;
      left: 371px;
      top: 50px;
      background: radial-gradient(52.97% 52.97% at 50% 50%, #FF66F9 0%, #212326 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      animation: MoveUpDown 10s linear infinite;
      animation-delay: var(--i);
    }
    .fourth-circle {
      position: absolute;
      width: 170px;
      height: 170px;
      left: 91px;
      top: 50px;

      background: radial-gradient(85.59% 85.59% at 50% 50%, #FFE166 0%, #2B2530 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      animation: MoveUpDown 10s linear infinite;
      animation-delay: var(--i);
    }
    .fifth-circle {
      position: absolute;
      width: 396px;
      height: 396px;
      left: 875px;
      top: 50px;
      animation: MoveUpDown 10s linear infinite;
      animation-delay: var(--i);
      background: #00BC58;
    }
    .sixth-circle {
      position: absolute;
      width: 298px;
      height: 298px;
      left: -79px;
      top: 50px;
      animation: MoveUpDown 10s linear infinite;
      animation-delay: var(--i);
      background: #5823C9;
    }
    .seventh-circle {
      position: absolute;
      width: 342px;
      height: 342px;
      left: 1058px;
      top: 50px;
      animation: MoveUpDown 10s linear infinite;
      animation-delay: var(--i);
      background: #5823C9;
    }
  }

  &-wrapper {
    height: auto;
    width: 100%;
    position: relative;
    .head-caption {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 48px;
      line-height: 48px;
      color: $yellow;
      @media (max-width: 490px) {
        font-size: 32px;
        line-height: 32px;
      }
    }

    .totem-video-block {
      position: relative;
      margin-top: 64px;
      height: 598px;
      max-width: 1164px;
      width: 100%;
      border-radius: 4px;
      @media (max-width: 999px) {
        height: 490px;
      }
      @media (max-width: 767px) {
        height: 350px;
      }
      @media (max-width: 490px) {
        height: 200px;
      }
      .totem-video {
        height: inherit;
        width: 100%;
        border: none;
        border-radius: 4px;
      }
      &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        z-index: 1;
        inset: 0;
        padding: 1px;
        border-radius: 4px 4px 4px 4px;
        background: $linear-light;
        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        transition: opacity 0.33s ease-out;
      }
    }

  }
}
