<div class="totem-header w-full h-20 px-[35px] flex flex-row items-center justify-between">
  <div class="totem-header-left flex flex-row items-center justify-start h-full w-full mr-[35px]">
    <div class="mr-[10%] text-white h-full flex flex-row items-center cursor-pointer" aria-label="Totem logo" href="/" routerLink="/">
      <mat-icon class="shrink-0 !w-[167px] !h-auto" [svgIcon]="'feather:totem'"></mat-icon>
      <div class="shrink-0 ml-[10px] h-[29px] w-[29px] pb-[1px]">
        <img class="rounded h-full w-full" src="assets/favicons/logo-192.png" alt="logo">
      </div>
    </div>
    <totem-search-bar class="w-full"></totem-search-bar>
  </div>
  <div class="totem-header-right flex flex-row items-center justify-end h-full">
    <nav class="totem-navigation-items whitespace-nowrap text-[16px] leading-[17px] font-medium">
      <a [ngClass]="!(currUser$ | async) ? 'disabled-route' : ''" class="px-2 py-1" routerLinkActive="active-route" routerLink="/my-assets">My Assets</a>
      <a class="px-2 py-1" routerLinkActive="active-route" routerLink="/items">Items</a>
      <a class="px-2 py-1" routerLinkActive="active-route" routerLink="/avatars">Avatars</a>
      <a class="px-2 py-1" routerLinkActive="active-route" routerLink="/games">Games</a>
    </nav>

    <div class="ml-[72px]" *ngIf="!(currUser$ | async)">
      <button matRipple (click)="navigateToBuy()" class="totem-primary-button h-12 text-[20px] font-semibold leading-[22px]">Purchase</button>
    </div>

    <div class="ml-[12px]" *ngIf="!(currUser$ | async)">
      <button matRipple (click)="logIn()" class="totem-secondary-button h-12 text-[20px] font-semibold leading-[22px]">Login</button>
    </div>

    <div class="ml-[72px] flex flex-row" *ngIf="currUser$ | async">
      <div><button matRipple (click)="navigateToBuy()" class="totem-secondary-button h-12 text-[20px] font-semibold leading-[22px]">Purchase</button></div>
      <div class="flex flex-col items-start justify-center ml-8">
        <p class="text-[16px] font-medium leading-[17px]">
          Balance:
        </p>
        <p class="text-[16px] font-medium leading-[17px] mt-1">
          $ {{usdcBalance}}
        </p>
      </div>
      <div class="ml-6 h-12 w-12 rounded-full overflow-hidden" (click)="navigateToProfile()">
        <img loading="lazy" *ngIf="(currUser$ | async)?.profileImage && !(loading$ | async)"
        [src]="(currUser$ | async)?.profileImage" alt="profile-icon" class="w-full h-full rounded-full object-cover cursor-pointer">
      </div>
      <div class="flex flex-col items-start justify-center ml-2">
        <p class="text-[16px] font-medium leading-[17px] whitespace-nowrap mb-1 pt-[4px]" *ngIf="(currUser$ | async)?.name">
          {{(currUser$ | async)?.slicedName ? (currUser$ | async)?.slicedName : (currUser$ | async)?.name}}
        </p>
        <p class="wallet-caption text-[14px] font-normal leading-[15px] flex flex-row cursor-pointer pb-[3px]" [cdkCopyToClipboard]="(currUser$ | async)?.wallet || ''" [cdkCopyToClipboardAttempts]="2" (cdkCopyToClipboardCopied)="copied()">
          {{(currUser$ | async)?.slicedWallet}} <mat-icon class="!h-[12px] !w-[12px] mt-[1px] ml-1" [svgIcon]="'mat_outline:content_copy'"></mat-icon>
        </p>
      </div>
    </div>

  </div>
</div>
