<div class="totem-header w-full h-20 px-[35px] flex flex-row items-center justify-between">
  <div class="totem-header-left flex flex-row items-center justify-start h-full w-full mr-[35px]">
    <div class="mr-[10%] text-white h-full flex flex-row items-center cursor-pointer" aria-label="Totem logo" href="/" routerLink="/">
      <mat-icon class="shrink-0 !w-[167px] !h-auto" [svgIcon]="'feather:totem'"></mat-icon>
      <div class="shrink-0 ml-[10px] h-[29px] w-[29px] pb-[1px]">
        <img class="rounded h-full w-full" src="assets/favicons/logo-192.png" alt="logo">
      </div>
    </div>
    <totem-search-bar class="w-full"></totem-search-bar>
  </div>
  <div class="totem-header-right flex flex-row items-center justify-end h-full">
    <nav class="totem-navigation-items whitespace-nowrap text-[16px] leading-[17px] font-medium">
      <a routerLinkActive="active-route" routerLink="/my-assets">My Assets</a>
      <a routerLinkActive="active-route" routerLink="/items">Items</a>
      <a routerLinkActive="active-route" routerLink="/avatars">Avatars</a>
      <a routerLinkActive="active-route" routerLink="/games">Games</a>
    </nav>
    <div class="ml-[72px]">
      <button (click)="navigateToBuy()" class="totem-primary-button h-12 text-[20px] font-semibold leading-[22px]">Purchase</button>
    </div>
    <div class="ml-[12px]">
      <button (click)="logIn()" class="totem-secondary-button h-12 text-[20px] font-semibold leading-[22px]">Login</button>
    </div>
  </div>
</div>
