@import "styles/scss/totem-variables";

:host {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  left: 0px;
  right: 0px;
}
.totem-header {
  background-color: $totem-black;
  position: relative;
  border-bottom: 1px solid #353840;
}

.totem-navigation-items {
  a {
    position: relative;
    margin-left: 50px;
    z-index: 2;
  }
  a.active-route {
    &::after {
      z-index: 1;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% + 12px);
      height: calc(100% + 8px);
      background-color: $totem-violet;
      border-radius: 12px;
    }
    /* background-color: $totem-violet;
    padding: 8px 12px; */

  }
}
