@import "styles/scss/totem-variables";

:host {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  left: 0px;
  right: 0px;
}
// .explore-tab {
//   // cursor: poitner;
// }
.totem-header {
  background-color: $totem-black;
  position: relative;
  border-bottom: 1px solid #353840;
}

.wallet-caption {
  border-bottom: 1px solid transparent;
  transition: border 0.22s ease-out;
  &:hover {
    border-bottom: 1px solid $totem-violet;
  }
}

.search-button {
  display: none;
  @media (max-width: 999px) {
    display: flex;
  }
}

.menu-icon {
  display: none;
  @media (max-width: 767px) {
    display: flex;
  }
}

.user-icon, .user-cash {
  border: 1px solid $totem-purple;
}

.exit-button {
  background-color: transparent;
  transition: background 0.22s ease-out;
  &:hover {
    background-color: $totem-divider-grey;
  }
}
.dropdown-wrapper {
  user-select: none;
  outline: none;
}
.totem-navigation-items {
  margin-left: 16px;
  margin-right: 16px;

  a {
    display: flex;
    align-items: center;
    position: relative;
    gap: 16px;
    z-index: 2;
    border-radius: 37px;
    transition: background 0.22s ease-out, color 0.22s ease-out;

    &:hover {
      background-color: $totem-divider-grey;
    }
  }
  a.active-route {
    background-color: $totem-violet;
  }
  a.disabled-route {
    pointer-events: none;
    color: $totem-light-grey;
  }
}
.active-route {
  border-radius: 37px;
  background-color: $totem-violet !important;
}
