
<div class="range-slider relative h-[125px]">
    <div class="graph-cols">
        <div class="graph-col"></div>
        <div class="graph-col"></div>
        <div class="graph-col"></div>
        <div class="graph-col"></div>
        <div class="graph-col"></div>

    </div>
    <div #sliderTrackMin class="slider"></div>
    <input #sliderThumbMin class="ml-auto cursor-pointer h-1 w-full" type="range" min="0" max="1000" value="100"
        (input)="update()">

    <div #sliderTrackMax class="slider"></div>
    <input #sliderThumbMax class="cursor-pointer h-1 w-full" type="range" min="0" max="1000" value="250" 
        (input)="update()">  
</div>

<div class="mt-3 flex w-full">
    <span>Range: {{minValue}}-{{maxValue}}</span>
</div>