<div class="pagination-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="pagination-value">
    {{fromValue}}-{{toValue}} of {{totalValue}}
  </div>
  <div class="nav-buttons">
    <div class="nav-buttons-button" (click)="prevPage()">
      <!-- <mat-icon [svgIcon]="'line:arrow_left'"></mat-icon> -->
      <div class="line-arrow_left"></div>
    </div>
    <div class="nav-buttons-button" (click)="nextPage()">
      <!-- <mat-icon [svgIcon]="'line:arrow_right'"></mat-icon> -->
      <div class="line-arrow_right"></div>
    </div>
  </div>
</div>
