<div class="flex flex-col card-item gradient-border" (click)="onNavigate()">


    <div *ngIf="!gem?.id?.tokenId" class="h-full w-full relative overflow-hidden">
        <img class="absolute h-full object-cover" src="assets/images/avatar.png" alt="">
    </div>

    <div *ngIf="gem?.id?.tokenId" class="img-wrapper">
        <img src="{{'https://asset-renderer.totem-explorer.com/gem/' + (+gem?.id?.tokenId % 11 + 1)}}" alt="">
        <!-- <mat-icon class="text-grey" [svgIcon]="'line:gem-place'"></mat-icon> -->
    </div>

    <div class="attributes">
        <div class="top">
            <h3 *ngIf="!gem?.id?.tokenId">ID: 1111</h3>
            <h3 *ngIf="gem?.id?.tokenId">ID: {{gem?.id?.tokenId}}</h3>

            <mat-icon *ngIf="isLiked === false" class="like" [svgIcon]="'line:like'" (click)="$event.stopPropagation(); onClickLike()"></mat-icon>
            <mat-icon *ngIf="isLiked === true" class="text-yellow cursor-pointer" [svgIcon]="'solid:like'" (click)="$event.stopPropagation(); onClickLike()"></mat-icon>
        </div>

        <div class="bottom">
            <div>
                <h4 *ngIf="!gem?.updatedAt && !gem?.timeLastUpdated">24.24.24</h4>
                <h4 *ngIf="gem?.updatedAt">{{gem?.updatedAt}}</h4>
                <h4 *ngIf="gem?.timeLastUpdated">{{gem?.timeLastUpdated}}</h4>

                <p class="text-light-grey">Last used</p>
            </div>
            <div>
                <h4>100</h4>
                <p class="text-light-grey">Rarity</p>
            </div>
            <div>
                <h4>566</h4>
                <p class="text-light-grey">Games used</p>
            </div>
        </div>
    </div>

</div>
