<div class="search-filter">
  <mat-icon *ngIf="searchInfo.value" [ngStyle]="{'opacity': searchInfo.value ? 1 : 0}" class="close-icon" (click)="eraseInput()">{{'nav.close' | translate}}</mat-icon>

  <input autocomplete="off" class="search-filter-input" #searchInput type="text" id="filterInput" (focus)="onFocus()" (blur)="onBlur()" [formControl]="searchInfo" placeholder="Search..">

  <div class="totem-dropdown" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" *ngIf="dropdownOpened">
    <!-- Navigation -->
    <div class="tabs" fxLayout="row" fxLayoutAlign="start center">
      <div class="dropdown-tab" fxLayout="column" fxLayoutAlign="space-between center">
        <div [ngClass]="{'active-tab': activeTab === tabType.ITEMS_TAB}" class="items-tab" (click)="changeTab(tabType.ITEMS_TAB)">{{'nav.items' | translate}}</div>
        <div class="active-border" *ngIf="activeTab === tabType.ITEMS_TAB"></div>
        <div *ngIf="activeTab !== tabType.ITEMS_TAB && (itemsArray | async)?.length" class="items-badge">{{(itemsArray | async)?.length}}</div>
      </div>
      <div class="dropdown-tab" fxLayout="column" fxLayoutAlign="space-between center">
        <div [ngClass]="{'active-tab': activeTab === tabType.AVATARS_TAB}"  class="avatars-tab" (click)="changeTab(tabType.AVATARS_TAB)">{{'nav.avatars' | translate}}</div>
        <div class="active-border" *ngIf="activeTab === tabType.AVATARS_TAB"></div>
        <div *ngIf="activeTab !== tabType.AVATARS_TAB && (avatarsArray | async)?.length" class="items-badge">{{(avatarsArray | async)?.length}}</div>
      </div>
      <div class="dropdown-tab" fxLayout="column" fxLayoutAlign="space-between center">
        <div [ngClass]="{'active-tab': activeTab === tabType.GAMES_TAB}"  class="games-tab" (click)="changeTab(tabType.GAMES_TAB)">{{'nav.games' | translate}}</div>
        <div class="active-border" *ngIf="activeTab === tabType.GAMES_TAB"></div>
        <div *ngIf="activeTab !== tabType.GAMES_TAB && (gamesArray | async)?.length" class="items-badge">{{(gamesArray | async)?.length}}</div>
      </div>
    </div>
    <!-- Tabs content -->
    <div *ngIf="!(loading$ | async)" class="content">

      <div *ngIf="activeTab === tabType.ITEMS_TAB" class="content-items">
        <div *ngIf="itemsArray | async as items; else noItems" class="items-wrapper">
          <div *ngFor="let item of items | arrSlice: 4" class="item-card" fxLayout="row" fxLayoutAlign="start center" (click)="goToItem(item.id)">
            <div class="item-prev-icon">
              <img loading="lazy" *ngIf="item?.tokenId" [src]="assetRendererUrl + '/' + 'item' + '/' + item?.tokenId">
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <div class="item-name">ID: {{item.tokenId}}</div>
              <!-- <div class="item-type">{{item.type}}</div> -->
            </div>
          </div>
        </div>
        <ng-template #noItems>
          <div class="no-items" fxLayout="row" fxLayoutAlign="center center">
            {{'nav.no_items_found' | translate}}
          </div>
        </ng-template>
      </div>

      <div *ngIf="activeTab === tabType.AVATARS_TAB" class="content-avatars">
        <div *ngIf="avatarsArray | async as items; else noItems" class="items-wrapper">
          <div *ngFor="let item of items | arrSlice: 4" class="item-card" fxLayout="row" fxLayoutAlign="start center" (click)="goToAvatar(item.id)">
            <!-- <div class="item-prev-icon" [ngStyle]="{'background': item.gradient}"> delete after 31.12.2022 -->
            <div class="item-prev-icon">
              <img loading="lazy" *ngIf="item?.tokenId" [src]="assetRendererUrl + '/' + 'avatar' + '/' + item?.tokenId">
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <div class="item-name">ID: {{item.tokenId}}</div>
              <!-- <div class="item-type">{{item.type}}</div> -->
            </div>
          </div>
        </div>
        <ng-template #noItems>
          <div class="no-items" fxLayout="row" fxLayoutAlign="center center">
            {{'nav.no_items_found' | translate}}
          </div>
        </ng-template>
      </div>

      <div *ngIf="activeTab === tabType.GAMES_TAB" class="content-games">
        <div *ngIf="gamesArray | async as items; else noItems" class="items-wrapper">
          <div *ngFor="let item of items | arrSlice: 4" class="item-card" fxLayout="row" fxLayoutAlign="start center" (click)="goToGame(item.id)">
            <div class="item-prev-icon">
              <!-- <img loading="lazy" [src]="item?.images?.smallThumbnail" alt="icon"> -->
              <img loading="lazy" *ngIf="item?.tokenId" [src]="assetRendererUrl + '/' + 'item' + '/' + item?.tokenId">
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <div class="item-name">{{item?.general?.name}}</div>
              <div class="item-type">{{item?.general?.genre ? item?.general.genre[0] : 'Action'}}</div>
            </div>
          </div>
        </div>
        <ng-template #noItems>
          <div class="no-items" fxLayout="row" fxLayoutAlign="center center">
            {{'nav.no_items_found' | translate}}
          </div>
        </ng-template>
      </div>
    </div>
    <!-- Loader -->
    <div *ngIf="(loading$ | async)" class="loader" fxLayout="row" fxLayoutAlign="center center">
      <!-- Example: [size]="'44'" -->
      <totem-spinner></totem-spinner>
    </div>
    <!-- View All Button -->
    <div class="view-all" fxLayout="column" fxLayoutAlign="space-between center">
      <div class="view-all-button" (click)="goToPage()">{{'nav.view_all' | translate}}</div>
      <div class="view-border"></div>
    </div>
  </div>

</div>
