@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';

.mtop-20px {
  margin-top: 20px;
  @media (max-height: 400px) {
    margin-top: 8px;
  }
}
.mtop-8px {
  margin-top: 8px;
  @media (max-height: 400px) {
    margin-top: 4px;
  }
}
.mtop-10px {
  margin-top: 10px;
  @media (max-height: 400px) {
    margin-top: 6px;
  }
}

.welcome-dialog {
  position: relative;
  background-color: $dark;
  overflow: hidden;
  &-wrapper {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;

    .x-close-button {
      z-index: 2;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 6px;
      right: 6px;
      background: linear-gradient(35.18deg, #969595 -79.38%, rgba(85, 85, 85, 0) 140.53%);
      backdrop-filter: blur(10px);
      border-radius: 100px;
      .line-close {
        font-size: 10px;
        color: #fff;
        height: 10px;
        width: 10px;
      }
    }

    .img-side {
      z-index: 1;
      height: 100%;
      max-height: 184px;
      position: relative;
      min-width: 512px;
      width: 100%;
      img {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: opacity 0.4s ease-in-out;
      }
    }
    .content-side {
      z-index: 3;
      height: 100%;
      padding: 32px 20px 32px 32px;
      box-shadow: 0px -15px 30px rgba(0, 0, 0, 0.25);
      position: relative;

      &-block {
        position: relative;
        z-index: 3;
      }

      .fake-slider {
        .fake-bullet {
          height: 16px;
          width: 16px;
          background-color: $dark-grey;
          border-radius: 50%;
          transition: background-color 0.4s ease-in-out;
        }
        .active-bullet {
          background-color: $yellow;
        }
      }

      .giveaway-pretitle {
        margin-top: 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: $light-grey;
      }
      .giveaway-title {
        margin-top: 16px;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      .giveaway-caption {
        margin-top: 8px;
        max-width: 390px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $light-grey;
      }

      .mascot-wrapper {
        z-index: 1;
        position: absolute;
        right: 0px;
        bottom: 154px;
        width: 257px;
        height: 237px;
        img {
          width: 257px;
          height: auto;
        }
      }
      .image-shadow {
        z-index: 2;
        position: absolute;
        width: 363.67px;
        height: 330.12px;
        right: -60.96px;
        bottom: 41.09px;
        background: linear-gradient(23.43deg, #202225 43.47%, rgba(32, 34, 37, 0.92) 50.21%, rgba(32, 34, 37, 0.32) 63.88%, rgba(32, 34, 37, 0) 69.53%);
        transform: rotate(-22.74deg);
      }

      .close-button {
        z-index: 3;
        display: flex;
        align-items: center;
        place-content: center center;
        height: 40px;
        width: 124px;
        background-color: $dark-grey;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        border-radius: 4px;
        transition: background-color 0.33s;
        margin-right: 24px;
        &:hover {
          background-color: $grey;
        }
      }

      .accept-button {
        width: 200px;
      }

      @media (max-width: 600px) {
        .mascot-wrapper {
          bottom: 118px;
        }
      }

      @media (max-width: 570px) {
        .giveaway-title {
          font-size: 28px;
          line-height: 28px;
        }
      }

      @media (max-width: 475px) {
        padding: 24px 16px 24px 16px;
        .giveaway-pretitle {
          font-size: 14px;
          line-height: 16px;
        }
        .giveaway-title {
          font-size: 20px;
          line-height: 20px;
        }
        .giveaway-caption {
          font-size: 14px;
          line-height: 16px;
        }
        .close-button {
          width: 96px;
          margin-right: 16px;
        }
        .accept-button {
          width: 136px;
        }
        .mascot-wrapper {
          bottom: 118px;
          right: -126px;
        }
      }

    }

  }
}
