<div [ngClass]="isDropupOpen ? 'blur-background lg:hidden': ''" (click)="onCloseMenu()"></div>

<div class="dropup-menu lg:!static lg:!p-0 lg:!max-h-[fit-content] lg:!rounded" #dropupMenu>

    <div class="handler-wrapper lg:!hidden" (click)="toggleMenu()">
        <div class="rectangle"></div>
    </div>

    <div class="content">
        <div class="title lg:!hidden pt-[10px]">
            <h3>Filters</h3>
        </div>

        <!-- Items Menus -->
        <div *ngIf="type == 'item'" class="py-[45px] lg:py-0">
            <filter-menu [title]="'Rarity'" [searchType]="'graph'" [items]="games"></filter-menu>
            <filter-menu [title]="'Damage'" [searchType]="'range'"></filter-menu>
            <filter-menu [title]="'Magical Power'" [searchType]="'range'"></filter-menu>
            <filter-menu [title]="'Element'" [inputType]="'checkbox'" [searchType]="null" [items]="elements"></filter-menu>
            <filter-menu [title]="'Range'" [searchType]="'range'"></filter-menu>
        </div>
        <!-- Avatars Menus -->
        <div *ngIf="type == 'avatar'" class="py-[45px] lg:py-0">
            <filter-menu [title]="'Rarity'" [searchType]="'graph'" [items]="games"></filter-menu>
            <filter-menu [title]="'Sex'" [items]="sexes" [menuHeight]="'100px'" [searchType]="null"></filter-menu>
            <filter-menu [title]="'Skin Color'" [items]="skinColors" [inputType]="'checkbox'"></filter-menu>
            <filter-menu [title]="'Hair Color'" [items]="hairColors" [inputType]="'checkbox'"></filter-menu>
            <filter-menu [title]="'Eye Color'" [items]="eyeColors" [inputType]="'checkbox'"></filter-menu>
            <filter-menu [title]="'Hair Style'" [items]="hairStyles" [inputType]="'checkbox'"></filter-menu>
        </div>
        <!-- Gem Menus -->
        <div *ngIf="type == 'gem'" class="py-[45px] lg:py-0">
            <filter-menu [title]="'Rarity'" [searchType]="'graph'" [items]="games"></filter-menu>
        </div>

        <div class="dropup-buttons lg:!hidden">
            <button class="button-style-1" (click)="onClickClear()">Clear all</button>
            <button class="button-style-1" (click)="onClickApply()">Apply</button>
        </div>
    </div>
</div>