@import 'styles/scss/variables';

.add-your-game {
  min-height: 900px;
  &-wrapper {

    .progress-block {

      .banner-info {
        padding-left: 10px;
        padding-right: 10px;
        background-color: $yellow;
        border-radius: 4px;
        &-title {
          width: 100%;
          text-align: center;
          font-weight: 400;
          text-transform: uppercase;
          color: $dark;
        }
        &-subtitle {
          text-align: center;
          font-weight: 500;
          font-size: 20px;
          color: $dark;
        }

      }

    }

  }
}
