@import 'styles/scss/variables';
@import 'styles/scss/totem-variables';


.rewiew {
    display: flex;
    flex-direction: column;
    width: 100%;

    .play {
        padding: 24px 0;
        .item-tag {
            border-radius: 12px;
            background-color: $totem-dark-grey;
            flex-grow: 1;
            max-width: unset;
        }
    }
}
.wallet-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 5px;
    white-space: nowrap;
    line-height: unset;
    justify-content: space-between;
    width: 100%;
}

.totem-primary-button {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
}

.icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $light-grey;
    color: $light-grey;
    padding-top: 12px;
    padding-bottom: 24px;
    gap: 20px;

    .icon-set {
        display: flex;
        gap: 20px;
        .icon {
            gap: 10px;
            display: flex;
        }
    }
}
.stars {
    display:flex;
    white-space: nowrap;
    color: $light-grey;
    .star {
        font-size: 18px;
        color: inherit;
        &:hover {
            color: $yellow;
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.line-star, .solid-star {
    transition: transform .2s, color .2s;
    font-size: 20px !important;
    cursor: pointer;
}
.line-like, .solid-like, .line-edit {
    cursor: pointer;
    font-size: 18px;
}

.lh-unset {
    line-height: unset;
}
.lh-33 {
    line-height: 33px;
}
.graphic-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    .graphic {
        flex-grow: 1;
        // max-width: 600px;
        border: 1px solid $totem-divider-grey;
        border-radius: 16px;
        padding: 15px;
    
        .title {
            margin-bottom: 15px;
        }
        .cards {
            display: flex;
            gap: 15px;
            .card {
                width: 50%;
                overflow: hidden;
                border-radius: 24px;
                background-color: $totem-grey;
                display: flex;
                flex-direction: column;
                img {
                    // height: 185px;
                    max-height: 330px;
                    aspect-ratio: 4/3;
                }
                .bottom {
                    background-color: $totem-dark-grey;
                    height: 55px;
                    padding: 15px;
                }
            }
        }
    }
}

p {
    white-space: pre-wrap;
}


