@import 'styles/scss/variables';

.totem-navigation {
  height: 80px;
  background-color: $dark;
  border-bottom: 1px solid $dark-grey;
  position: sticky;
  z-index: 3;

  &-wrapper {
    //max-width: 1340px;
    //width: 1340px;
    max-width: 1500px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo-block {
    flex-shrink: 0;
    width: 140px;
    height: 30px;
    a img {

      height: 30px;
      width: 140px;
      cursor: pointer;
    }
  }
  .header-left {
    max-width: 616px;
    width: 100%;
  }

  .search-block {
    margin-left: 69px;
    width: 100%;
    @media (max-width: 767px) {
      display: none;
    }
  }

  .navigation-block {
    max-width: 420px;
    width: 420px;
    &-wrapper {
      width: 100%;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      a {
        cursor: pointer;
        color: $light-grey;
        transition: color 0.33s ease-out;
        &:hover {
          color: #fff;
        }
      }
      a.active-route {
        color: #fff;
      }
    }
    @media (max-width: 1200px) {
      display: none;
    }
  }

  .profile-block {
    @media (max-width: 1200px) {
      display: none;
    }
  }

  .search-mobile {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $grey;
    flex-direction: column;
    box-sizing: border-box;
    place-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    display: none;
    img {
      height: 18px;
      width: auto;
    }
    @media (max-width: 767px) {
      display: flex;
    }
  }

  .tablet-menu {
    display: none;
    flex-direction: row;
    box-sizing: border-box;
    place-content: center flex-end;
    align-items: center;
    flex-shrink: 0;
    @media (max-width: 1200px) {
      display: flex;
    }

    .menu-button {
      cursor: pointer;
    }
  }

}
