<div class="totem-navigation" fxLayout="row" fxLayoutAlign="center">
  <totem-nav-sidebar *ngIf="allowNavigation | async"></totem-nav-sidebar>
  <totem-profile-dropdown *ngIf="allowNavigation | async"></totem-profile-dropdown>
  <div class="totem-navigation-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="header-left" fxLayout="row" fxLayoutAlign="start center">
      <div class="logo-block">
        <a href="/"><img src="assets/icons/nav/totem-logo.svg" alt="TOTEM"></a>
      </div>
      <div class="search-block">
        <totem-search-filter></totem-search-filter>
      </div>
    </div>

    <div class="navigation-block">
      <div class="navigation-block-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        <a routerLinkActive="active-route" routerLink="/home">Home</a>
        <a routerLinkActive="active-route" routerLink="/items">Items</a>
        <a routerLinkActive="active-route" routerLink="/avatars">Avatars</a>
        <a routerLinkActive="active-route" routerLink="/games">Games</a>
        <a>Help</a>
      </div>
    </div>
    <div class="profile-block cursor-pointer" (click)="web3Login()">
      <img *ngIf="!avatar && !loading" src="assets/icons/nav/account_circle.svg" alt="profile-icon">
      <div class="nav-loader" *ngIf="loading" fxLayout="column" fxLayoutAlign="center center"><loading-spinner></loading-spinner></div>
      <img *ngIf="avatar && !loading" [src]="avatar" alt="profile-icon" class="w-[40px] h-[40px] rounded-full">
    </div>
    <div class="tablet-menu">
      <div (click)="openSidefilter()" class="search-mobile">
        <img class="search-icon" src="assets/icons/nav/search-icon.svg" alt="TOTEM">
      </div>
      <div class="menu-button">
        <img (click)="openSidenav()" src="assets/icons/Menu.svg" alt="menu">
      </div>
    </div>


  </div>

</div>
