@import "styles/scss/variables";
@import "assets/fonts/icon-fonts/mail-font.scss";
@import "assets/fonts/icon-fonts/line/line.scss";

.lds-ellipsis {
  width: 48px !important;
  height: 48px !important;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  z-index: 20;
}

.totem-navigation {
  height: 80px;
  background-color: $dark;
  border-bottom: 1px solid $dark-grey;
  position: sticky;
  z-index: 12;

  &-wrapper {
    //max-width: 1340px;
    //width: 1340px;
    max-width: 1440px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo-block {
    flex-shrink: 0;
    height: 40px;
    a img {
      height: 40px;
      cursor: pointer;
    }
  }
  .header-left {
    max-width: 616px;
    width: 100%;
  }

  .search-block {
    margin-left: 69px;
    width: 100%;
    @media (max-width: 767px) {
      display: none;
    }
  }

  .navigation-block {
    display: flex;
    margin-left: auto;
    .navigation-links {
      display: flex;
      gap: 50px;
      width: 100%;
      margin-left: 70px;
      max-width: 420px;
      min-width: 380px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      a {
        cursor: pointer;
        color: $light-grey;
        transition: color 0.33s ease-out;
        &:hover {
          color: #fff;
        }
      }
      a.active-route {
        color: #fff;
      }
    }
    @media (max-width: 1200px) {
      display: none !important;
    }
  }

  .profile-block {
    width: 46px;
    height: 46px;
    background-color: $transparent-light;
    border-radius: 50%;
    flex-shrink: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    @media (max-width: 1200px) {
      display: none;
    }

    .nav-loader,
    img {
      width: 46px;
      height: 46px;
    }
    .fake-profile-icon {
      width: 38px;
      height: 38px;
    }
  }

  .search-mobile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $grey;
    flex-direction: column;
    box-sizing: border-box;
    place-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    display: none;
    img {
      height: 18px;
      width: auto;
    }
    .search-icon {
      width: 18px;
      height: 18px;
      color: $light-grey;
    }
    @media (max-width: 767px) {
      display: flex;
    }
  }

  .tablet-menu {
    display: none;
    flex-direction: row;
    box-sizing: border-box;
    place-content: center flex-end;
    align-items: center;
    flex-shrink: 0;
    @media (max-width: 1200px) {
      display: flex;
    }
    .nav-loader {
      width: 48px;
    }

    .menu-button {
      cursor: pointer;
      .line-burger {
        color: $light-grey;
        font-size: 48px;
      }
    }
  }
}

