<div class="totem-navigation" fxLayout="row" fxLayoutAlign="center">

  <div class="totem-navigation-wrapper" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="logo-block">
      <img src="assets/icons/nav/totem-logo.svg" alt="TOTEM">
    </div>
    <div class="search-block">
      <totem-search-filter></totem-search-filter>
    </div>
    <div class="navigation-block">
      <div class="navigation-block-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        <a routerLinkActive="active-route" routerLink="/home">Home</a>
        <a routerLinkActive="active-route" routerLink="/items">Items</a>
        <a>Avatars</a>
        <a>Games</a>
        <a>Help</a>
      </div>
    </div>
    <div class="profile-block">
      <img src="assets/icons/nav/account_circle.svg" alt="profile-icon">
    </div>

  </div>

</div>
