@import 'styles/scss/totem-variables';
.container_ {
    position: relative;

    .wrapper {
        position: relative;
        padding-top: 6px;
        .slider {
            display: flex;
            transition: transform .3s;

            .card-wrapper {
                flex-shrink: 0;
            }
        }

    }

    .left-arrow {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .right-arrow {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateX(50%) translateY(-50%);
    }

    .dots-wrapper {
        position: relative;
        left: 0;
        right: 0;
        justify-content: center;
        margin-top: 25px;
        display: flex;
        gap: 20px;
        .dot {
            position: relative;
            cursor: pointer;
            border-radius: 20px;
            transition: backgroun-color .3s;
            background-color: $totem-grey;
            height: 8px;
            width: 115px;
            &::after {
                content: '';
                position: absolute;
                 top: -50%;
                // left: -50%;
                //  width: 200%;
                height: 200%;
            }
        }
    }
}
