

<div class="container_">
    <div #container class="slider-container_" (mouseover)="hover = true" (mouseleave)="hover = false">

        <div (onDrag)="onDrag($event)" (startDrag)="startDrag($event)" (endDrag)="endDrag($event)" #wrapper class="wrapper">
            <div class="overflow-hidden" [style.padding]="padding + 'px'">
                <div class="slider" #slider [style.gap]="gap + 'px'" 
                    [ngClass]="{'pt-[10px]': type == 'asset' || type == 'game'}">
                    <div class="card-wrapper" *ngFor="let card of cards; let i = index;" [style.width]="slideWidth + 'px'">
                        <totem-asset-card *ngIf="type == 'asset'" [asset]="card"></totem-asset-card>
                        <totem-game-card *ngIf="type == 'game'" [game]="card"></totem-game-card>
                        <totem-legacy-card [game]="card" *ngIf="type == 'legacy'"></totem-legacy-card>
                        <event-card [label]="i == 0 ? 'live' : 'comming'" [eventBanner]="card" *ngIf="type == 'event'"></event-card>
                    </div>
                </div>
            </div>
    
            <ng-container *ngIf="mode == 'arrows'">
                <slider-arrow *ngIf="(hover == true && slideIndex != 0) && showArrows.left" @fade-in-out [direction]="'left'" (click)="toggleSlides('prev')" class="left-arrow"></slider-arrow>
                <slider-arrow *ngIf="hover == true && showArrows.right" @fade-in-out (click)="toggleSlides('next')" class="right-arrow"></slider-arrow>    
            </ng-container>
        
        </div>
    </div>

    <ng-container *ngIf="mode == 'dots'">
        <div class="handle-container">
            <div #handleTrack class="handle-track"
            (onDrag)="moveHandle('handle', $event)"
            [ngClass]="{'bg-divider': type == 'event'}"
            >
                <div #handle class="handle" [style.width]="handleWidth + 'px'"></div>
            </div>
        </div>
    </ng-container>
</div>