<div *ngIf="assets" class="wrapper relative">

    <bg-circle class="top-[50%] left-[50%] blur-bold" [background]="'#8023C9'" [width]="'400px'"></bg-circle>
    <bg-circle class="top-[20%] left-[10%] blur-bold" [background]="'#FF8540'" [width]="'300px'"></bg-circle>
    <bg-circle class="top-[70%] left-[10%] blur-bold" [background]="'#FF8540'" [width]="'300px'"></bg-circle>


    <h1>Create a unique Totem Item!</h1>
    <h3 class="pb-[30px]">Choose a type of item to mint, follow the steps and get your own item</h3>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis eget sit ultricies accumsan rutrum proin adipiscing. Sed blandit nulla et eget commodo. Ut sit et mauris mauris. Integer tempus elementum imperdiet curabitur et, nullam. Senectus leo scelerisque est nulla duis amet, mi justo, et. Tristique consequat ullamcorper ac ornare semper morbi. </span>

    <div class="items flex-wrap justify-center lg:flex-nowrap lg:justify-between">
        <div class="item gradient-border-solid" *ngFor="let asset of assets">

            <div class="p-[15px] rounded border border-dashed border-light-grey">
                <div class="top">
                    <div class="flex flex-col items-center">
                        <h2 class="font-totem uppercase">{{asset.type}}</h2>
                    </div>

                    <mat-icon *ngIf="asset.type === 'avatar'" class="text-yellow" [svgIcon]="'line:avatar-place'"></mat-icon>
                    <mat-icon *ngIf="asset.type === 'item'" class="text-yellow" [svgIcon]="'line:item-place'"></mat-icon>
                    <mat-icon *ngIf="asset.type === 'gem'" class="text-yellow" [svgIcon]="'line:game-place'"></mat-icon>
                </div>
            </div>

            <div class="bottom">
                <h3>{{asset.paymentInfo.price}} USDC</h3>
                <totem-button [width]="'100px'" [height]="'40px'" [caption]="'Generate'" (click)="onBuyItem(asset.paymentInfo.address, asset.paymentInfo.price)"></totem-button>
            </div>
        </div>
    </div>
</div>

<loading-spinner class="flex justify-center" *ngIf="assets.length === 0"></loading-spinner>