<div *ngIf="assets" class="wrapper relative">

    <bg-circle class="top-[50%] left-[50%] blur-bold" [background]="'#8023C9'" [width]="'400px'"></bg-circle>
    <bg-circle class="top-[20%] left-[10%] blur-bold" [background]="'#FF8540'" [width]="'300px'"></bg-circle>
    <bg-circle class="top-[70%] left-[10%] blur-bold" [background]="'#FF8540'" [width]="'300px'"></bg-circle>


    <h1>Create a unique Totem Item!</h1>
    <h3 class="pb-[30px]">Choose the item type to mint</h3>
    <span>Minting of Totem Items may take time. After you transfer the USDC to the Totem's address, your transaction needs to get confirmed. It may take several seconds. After confirmation of your transaction Totem mints the Totem Asset on the smart contract. Confirmation of this transaction also may take several seconds. Overall process may take up to a minute. Please ensure that you have enough USDC on your account and have enough MATIC to transfer USDC.</span>

    <div class="items flex-wrap justify-center lg:flex-nowrap lg:justify-between">
        <div class="item gradient-border-solid m-0 sm:m-[9px]" *ngFor="let asset of assets">

            <div class="p-[15px] rounded border border-dashed border-light-grey">
                <div class="top">
                    <div class="flex flex-col items-center">
                        <h2 class="font-totem uppercase text-grey text-3xl xs:text-4xl sm:text-5xl">{{asset.type}}</h2>
                    </div>

                    <!-- <img *ngIf="asset.type === 'avatar'" src="assets/svgs/buy-items/avatar.png" alt="">
                    <img *ngIf="asset.type === 'gem'" src="assets/svgs/buy-items/gem.png" alt="">
                    <img *ngIf="asset.type === 'item'" src="assets/svgs/buy-items/item.png" alt=""> -->

                    <mat-icon *ngIf="asset.type === 'avatar'" class="text-grey" [svgIcon]="'solid:buy-avatar'"></mat-icon>
                    <mat-icon *ngIf="asset.type === 'item'" class="text-grey" [svgIcon]="'solid:buy-item'"></mat-icon>
                    <mat-icon *ngIf="asset.type === 'gem'" class="text-grey" [svgIcon]="'solid:buy-gem'"></mat-icon>
                </div>
            </div>

            <div class="bottom">
                <h3 class="font-totem text-lg xs:text-xl sm:text-2xl">{{asset.paymentInfo.price}} USDC</h3>
                <button class="button-style-1">Generate</button>
                <!-- <totem-button [width]="'100px'" [height]="'40px'" [caption]="'Generate'" (click)="onBuyItem(asset.paymentInfo.address, asset.paymentInfo.price)"></totem-button> -->
            </div>
        </div>
    </div>
</div>

<loading-spinner class="flex justify-center" *ngIf="assets.length === 0"></loading-spinner>