<div class="relative flex flex-col items-center justify-center flex-auto min-w-0 bg-space">

  <div class="absolute">
    <mat-icon></mat-icon>
  </div>

  <div
    class="flex items-center justify-center bg-neutral-900 border border-neutral-800 w-auto h-auto px-10 pt-14 pb-16 shadow">
    <div class="w-full max-w-80 sm:w-80 mx-auto text-white">

      <div class="text-7xl text-center font-totem whitespace-nowrap text-yellow pb-6">Sign in</div>

      <div class="card-container items-center">
        <button class="card card-small m-auto" (click)="onClickLogin()">Login</button>
      </div>

    </div>
  </div>
</div>