

<div class="w-full h-full text-yellow bg-neutral-900 relative">

    <div class="px-10 py-15 flex justify-between text-center">
            <h2 class="pt-5 text-center">Transactions</h2>
            <!-- <button class="button-style-1" (click)="onClickGenerate()">Generate Nft</button> -->
    </div>

    <div class="w-full flex flex-col text-yellow py-4 mt-3 overflow-x-auto whitespace-nowrap scroll-x-yellow  max-w-7xl mx-auto mb-16">
    
        <div class="text-center grid w-full grid-cols-5 font-bold py-2 border-b border-b-solid border-yellow min-w-4xl">
            <h4>Order</h4>
            <h4>From</h4>
            <h4>To</h4>
            <h4>Value</h4>
            <h4>Token Id</h4>

        </div>

        <div *ngFor="let transaction of transactions; let i = index" class="text-center grid w-full grid-cols-5 my-row my-2 min-w-4xl truncate">

            <h4 class="truncate px-1">{{ i + 1 }}</h4>
            <h4 class="truncate px-1"><a class="a-hov-black" href="{{'https://mumbai.polygonscan.com/address/' + transaction.from}}" target="_blank">{{ transaction.from }}</a></h4>
            <h4 class="truncate px-1"><a class="a-hov-black" href="{{'https://mumbai.polygonscan.com/address/' + transaction.to}}" target="_blank">{{ transaction.to }}</a></h4>
            <h4 class="truncate px-1">{{ transaction.value }}</h4>
            <h4 class="truncate px-1">{{ transaction.tokenId }}</h4>

        </div>
    </div>


     <!-- Spinner -->
     <div *ngIf="!transactions" class="text-center spinner-center top-0">
        <loading-spinner [color]="'white'"></loading-spinner>
     </div>
</div>