<div
  class="file-container"
  *ngIf="!imageUrl || !selfFill"
  style="--minh: {{dzMinHeight}}"
  [ngStyle]="{'background-color' : dzHovered ? '#464a5786' : ''}"
  (dragover)="setHover()"
  (dragleave)="removeHover()"
>
  <input class="file" id="file" (change)="getFile($event)" type="file" accept="images/*">
  <div class="file-upload-info" fxLayout="column" fxLayoutAlign="center center">
    <mat-icon [svgIcon]="'solid:no-image'"></mat-icon>
    <div class="browse-caption mt-[18px]">Drop your image here, or
      <label [ngStyle]="{'pointer-events' : !dzHovered ? 'all' : 'none'}" class="browse-button" for="file">browse</label>
    </div>
    <div class="mt-[16px]">Supports: JPG, PNG, GIF</div>
    <div>The recommended file resolution is {{recommendedResolution}}</div>
    <div>Max file size 20 MB</div>
  </div>
</div>
<div style="--minh: {{dzMinHeight}}" class="img-container" *ngIf="imageUrl && selfFill">
  <img class="uploaded-image" [src]="imageUrl || ''" alt="">
</div>
<image-cropper
[imageChangedEvent]="imageChangedEvent"
format="png"
[maintainAspectRatio]="false"
[cropperMinWidth]="1400"
[cropperMinHeight]="400"
[cropperMaxHeight]="400"
(imageCropped)="imageCropped($event)"
(imageLoaded)="imageLoaded()"
(cropperReady)="cropperReady()"
(loadImageFailed)="loadImageFailed()"
></image-cropper>
