<div
  class="file-container"
  *ngIf="!imageUrl || !selfFill"
  style="--minh: {{dzMinHeight}}"
  [ngStyle]="{'border' : dzHovered ? '1px dashed #fff;' : ''}"
  (dragenter)="setHover()"
>
  <input
    (dragleave)="removeHover()"
    [ngStyle]="{'pointer-events' : dzHovered ? 'all' : 'none'}"
    class="file"
    [id]="uniqueId"
    (change)="getFile($event)"
    type="file"
    accept="images/*"
  >
  <div class="file-upload-info" fxLayout="column" fxLayoutAlign="center center">
    <mat-icon [ngStyle]="{'color' : dzHovered ? '#8A939B' : ''}" [svgIcon]="'solid:no-image'"></mat-icon>
    <div class="browse-caption mt-[18px]">Drop your image here, or
      <label [ngStyle]="{'pointer-events' : !dzHovered ? 'all' : 'none'}" class="browse-button" [for]="uniqueId">browse</label>
    </div>
    <div class="mt-[15px] gap-[10px] flex flex-col">
      <span>Supports: JPG, PNG, GIF </span>
      <span>The recommended file resolution is {{recommendedResolution}} </span>
      <span>Max file size 20 MB</span>
    </div>
  </div>
</div>
<div style="--minh: {{dzMinHeight}}" class="img-container" *ngIf="imageUrl && selfFill">
  <img class="uploaded-image" [src]="imageUrl || ''" alt="">
</div>
