
<div class="wrapper flex-wrap lg:flex-nowrap bg-dark-grey rounded">
    <div class="flex flex-col max-w-[360px] w-full justify-center mb-[30px] lg:m-0">
        <div class="font-totem text-[30px] uppercase tracking-normal">
            Try on your Item for any game!
        </div>
        <h4 class="mt-[30px]">Choose the game name in the widget & see how item appearance will change!</h4>
    </div>

    <div class="flex grow justify-center">
        <div class="my-auto lg:my-0 mr-auto lg:mr-[20px]">
            <search-dropdown [title]="'Game Name'"></search-dropdown>   
        </div> 
    </div>

    <div class="img-wrapper mt-[30px] lg:m-0">
        <div class="img-1">
            <img src="../../../../../../assets/images/widget-image-1.png" alt="">
        </div>
        <div class="img-2">
            <img src="../../../../../../assets/images/widget-image-2.png" alt="">
        </div>
    </div>
</div>