
.wrapper {
    min-height: 400px;
    display: flex;
    // flex-wrap: wrap;
    vertical-align: middle;
    // padding: 25px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

bg-circle {
    filter: blur(120px);
    // z-index: 1;
}

.font-totem {
    line-height: 110%;
}

.img-wrapper {
    height: 336px;
    max-width: 400px;
    display: flex;
    width: 100%;
    position: relative;

    img {
        width: 100%;
        margin: auto;
    }
    .img-1 {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        animation: float 6s 0.5s ease-in-out infinite;
    }

    .img-2 {
        display: flex;
        width: 65%;
        right: 0;
        top: 0;
        bottom: 0;
        // position: absolute;
        margin-left: auto;
        z-index: 11;
        animation: float 6s ease-in-out infinite;
    }

    .img-card {
      position: absolute;
      max-width: 400px;
      display: flex;
      width: 100%;
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(8px);
	}
	100% {
		transform: translatey(0px);
	}
}
