
<div class="wrapper flex-wrap lg:flex-nowrap justify-around lg:justify-between p-[25px] lg:p-[25px]">
    <bg-circle class="left-[-140px] top-[-140px]" [width]="'280px'" [background]="'#FFD011'"></bg-circle>
    <bg-circle class="left-[200px] top-[-75px]" [width]="'150px'" [background]="'#5823C9'"></bg-circle>
    <bg-circle class="left-[0px] top-[100px]" [width]="'200px'" [background]="'#5823C9'"></bg-circle>
    <bg-circle class="left-[600px] bottom-[-140px] z-11 blur-bold" [width]="'230px'" [background]="'#FFD011'"></bg-circle>

    <bg-circle class="right-[260px] top-[0px]" [width]="'260px'" [background]="'#3A23C9'"></bg-circle>
    <bg-circle class="right-[-130px] top-[-130px]" [width]="'260px'" [background]="'#2397C9'"></bg-circle>
    <bg-circle class="right-[0] bottom-[-70px]" [width]="'200px'" [background]="'#FFD011'"></bg-circle>
    <bg-circle class="left-[500px] bottom-[-30px]" [width]="'150px'" [background]="'#5823C9'"></bg-circle>
    <bg-circle class="right-[0px] bottom-[-200px]" [width]="'400px'" [background]="'#8023C9'"></bg-circle>




    <div class="flex flex-col max-w-[420px] w-full justify-center xl:m-0 z-12 pt-[20px] lg:p-0">
        <div class="font-totem uppercase text-[20px] sm:text-[32px] pl-0 lg:pl-[25px]">
            Try on your Item for any game!
        </div>
        <p class="mt-[30px] pl-0 lg:pl-[25px]">Choose the game name in the widget & see how item appearance will change!</p>
    </div>

    <div class="flex grow justify-center h-[200px] max-w-[420px] pt-[20px] lg:pt-0">
        <div class="mb-auto mt-[10px] lg:my-0 mr-auto lg:mr-[20px] z-12 min-w-[280px] lg:min-w-[auto]">
            <search-dropdown [alwaysOpen]="true" [title]="'Game Name'" (onFakeChange)="reselectGames($event)" (onChange)="selectGame($event)"></search-dropdown>
        </div>
    </div>

    <div class="img-wrapper mt-[30px] xl:m-0">
      <div [@hideFirstState]="gameChanged" class="img-card">
          <div class="img-1">
              <img [src]="testImgURL_1" alt="">
          </div>
          <div class="img-2 z-12">
              <img [src]="testImgURL_1" alt="">
          </div>
      </div>
      <div [@hideSecondState]="gameChanged" class="img-card">
          <div class="img-1">
              <img [src]="testImgURL_2" alt="">
          </div>
          <div class="img-2 z-12">
              <img [src]="testImgURL_2" alt="">
          </div>
      </div>
      <div [@hideThirdState]="gameChanged" class="img-card">
          <div class="card-1">
            <!-- <ng-container *ngTemplateOutlet="cardTemplate; context: { cardInfo: cardsToShow[0] }"></ng-container> -->
            <avatar-card [avatar]="cardsToShow[0]"></avatar-card>
          </div>
          <div class="card-2 z-12">
            <!-- <ng-container *ngTemplateOutlet="cardTemplate; context: { cardInfo: cardsToShow[1] }"></ng-container> -->
            <item-card [item]="cardsToShow[1]"></item-card>
          </div>
      </div>
    </div>

</div>

<ng-template #cardTemplate let-data="cardInfo">
  <div class="card-body h-full w-full" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="img-preview h-full w-full" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon *ngIf="!data.image" [svgIcon]="'solid:no-image'"></mat-icon>
      <img *ngIf="data.image" [src]="data.image" alt="preview">
    </div>
    <div class="info w-full px-[18px] py-[18px]" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="text-light-grey">Preview</h3>
        <div><mat-icon class="like" [svgIcon]="'line:like'"></mat-icon></div>
      </div>
      <div class="flex prev-desc">
        <p class="text-light-grey pt-1 pb-3">Preview of game card is right here, so You can see how it looks</p>
      </div>

      <div class="flex justify-between max-w-[320px]">
          <div class="flex flex-col">
              <h4 class="text-light-grey">0</h4>
              <p class="text-light-grey">Players</p>
          </div>
          <div>
              <h4 class="text-light-grey">0</h4>
              <p class="text-light-grey">Items</p>
          </div>
          <div class="mr-[34px]">
              <h4 class="text-light-grey">0</h4>
              <p class="text-light-grey">Avatars</p>
          </div>
      </div>
    </div>
  </div>
</ng-template>
