<div class="card-item gradient-border" (click)="onNavigate()">

    <!-- <div *ngIf="!item?.id?.tokenId && !item?.itemType && !item?.tokenId || item?.itemType === 'Item'" class="placeholder">
        <mat-icon class="text-grey" [svgIcon]="'line:item-place'"></mat-icon>
    </div> -->

    <div class="img-wrapper" *ngIf="_asset?.tokenId">
        <img src="{{'https://asset-renderer.totem-explorer.com/' + type + '/' + (+_asset?.tokenId)}}" alt="">
    </div>
    <div class="img-wrapper" *ngIf="asset?.id?.tokenId">
        <img src="{{'https://asset-renderer.totem-explorer.com/item/' + (+_asset?.id?.tokenId)}}" alt="">
    </div>

    <div class="attributes">

        <div class="top">
            <h3 *ngIf="!_asset?.tokenId && !_asset?.id?.tokenId">ID: 1111</h3>
            <h3 *ngIf="_asset?.tokenId">ID: {{_asset?.tokenId}}</h3>
            <h3 *ngIf="_asset?.id?.tokenId">ID: {{_asset?.id?.tokenId}}</h3>

            <mat-icon *ngIf="_asset?.isLiked === false" class="like" [svgIcon]="'line:like'"
                (click)="$event.stopPropagation(); onLike()"></mat-icon>
            <mat-icon *ngIf="_asset?.isLiked === true" class="text-yellow cursor-pointer" [svgIcon]="'solid:like'"
                (click)="$event.stopPropagation(); onLike()"></mat-icon>
        </div>

        <div class="bottom">
            <div>
                <h4 *ngIf="!_asset?.updatedAt && !_asset?.timeLastUpdated">24.24.24</h4>
                <h4 *ngIf="_asset?.updatedAt">{{_asset?.updatedAt | date:'dd.MM.yy'}}</h4>
                <h4 *ngIf="_asset?.timeLastUpdated">{{_asset?.timeLastUpdated | date:'dd.MM.yy'}}</h4>

                <p class="text-light-grey">Last used</p>
            </div>
            <div>
                <h4>{{_asset.rarity || _asset.rarity == 0 ? _asset.rarity : '--'}}</h4>
                <p class="text-light-grey">Rarity</p>
            </div>
            <div>
                <h4 *ngIf="!_asset?.games && _asset?.games != 0">--</h4>
                <h4 *ngIf="_asset?.games || _asset?.games == 0">{{_asset?.games}}</h4>

                <p class="text-light-grey">Games used</p>
            </div>
        </div>
    </div>

</div>