
@import 'styles/scss/variables';


.dropdown {
    display: inline-block;
    position: relative;

    .dropdown-menu {
        border-radius: 4px;
        background-color: $transparent-light;
        display: none;
        width: 100%;

        position: absolute;
        padding: 4px;
        z-index: 1;

        border: 1px solid transparent;
        border-image: $linear-light;

        .menu-item {
            cursor: pointer;
            justify-content: center;
            height: 50px;
            display: flex;
            align-items: center;
            
            &:hover {
                background-color: $transparent-light;
            }
        }
    }
}