<div class="flex flex-col wrapper w-full">
    <div class="flex flex-col overflow-x-auto mb-[5px]">
        <div class="p-[20px] history-grid border-b border-b-light-grey mb-[20px]">
            <p>{{'modules.date' | translate}}</p>
            <p>{{'modules.game_name' | translate}}</p>
            <p>{{'modules.description' | translate}}</p>
            <p>{{'modules.data' | translate}}</p>
        </div>
        <div *ngFor="let _ of [].constructor(5)" class="text-light-grey transaction history-grid">
            <span>30.08.22 18:16 </span>
            <span>MineMine</span>
            <span>Dropped when killing a mob</span>
            <div class="flex items-center">
                <span>13as..sad</span>
                <div class="!ml-[5px] !mb-[6px] icon line-copy_small"></div>
            </div>
        </div>
    </div>
</div>