<div class="flex flex-col wrapper w-full">
    <div class="flex flex-col overflow-x-auto mb-[5px]">
        <div class="p-[20px] history-grid border-b border-b-light-grey mb-[20px]">
            <p>Date</p>
            <p>Game Name</p>
            <p>Description</p>
            <p>Data</p>
        </div>
        <div *ngFor="let _ of [].constructor(5)" class="text-light-grey transaction history-grid">
            <span>30.08.22 18:16 </span>
            <span>MineMine</span>
            <span>Dropped when killing a mob</span>
            <div class="flex items-center">
                <span>13as..sad</span>
                <mat-icon class="ml-[5px] mb-[2px]" [svgIcon]="'line:copy_small'"></mat-icon>
                <!-- <mat-icon class="copy-icon" fontSet="material-icons-round">content_copy</mat-icon> -->
            </div>
        </div>
    </div>
</div>