<div class="flex flex-col wrapper w-full">
    <ng-container *ngIf="achievements?.length">
        <div class="flex flex-col overflow-x-auto mb-[5px]">
            <div class="p-[20px] history-grid border-b border-b-light-grey mb-[20px]">
                <p>{{'modules.date' | translate}}</p>
                <p>{{'modules.game_name' | translate}}</p>
                <p>{{'modules.description' | translate}}</p>
                <p>{{'modules.data' | translate}}</p>
            </div>
            <div *ngFor="let achievement of achievements;let i = index;" class="text-light-grey transaction history-grid">
                <span>{{achievement.timestamp  | date: 'MM.dd.yy hh:mm' }}</span>
                <span>{{achievement.gameId}}</span>
                <span>--</span>
                <div class="dataWraper flex items-center  w-[130px] justify-between">
                    
                    <span class="cursor-pointer" (click)="openTooltip($event, achievement.data)">
                        {{achievementData(achievement.data)}}
                    </span>
                    <div class="!ml-[15px] !mb-[6px] icon line-copy_small cursor-pointer"
                        [cdkCopyToClipboard]="achievement.data"
                        [cdkCopyToClipboardAttempts]="2"
                        (cdkCopyToClipboardCopied)="onCopy()">
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-row items-center justify-end my-[10px]">
          <totem-pagination [size]="tableSize" [totalValue]="total" (paginationEvent)="paginationEvent($event)"></totem-pagination>
        </div>
    </ng-container>

    <div *ngIf="achievements?.length == 0" class="flex h-[120px] justify-center items-center">
        <h1 class="text-2xl sm:text-1xl">Legacy empty</h1>
    </div>
    <div *ngIf="!achievements?.length && !achievements" class="flex h-[120px] justify-center items-center">
        <totem-spinner></totem-spinner>
    </div>

    <!-- Tooltip -->
    <div inputEvents (blur)="tooltip.active = false" class="absolute" #tooltipRef>
        <div *ngIf="tooltip?.active == true" class="tooltip-wrapper" @fade-in>
            <div class="tooltip" *ngIf="tooltip?.active">
                <span>{{tooltip?.decodedData ? tooltip?.decodedData : tooltip?.data}}</span>
            </div>
        </div>
    </div>
    
</div>
