
body splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgb(23 23 23);
    z-index: 9999;
    opacity: 1;
    visibility: visible;
  
}

body splash-screen .lds-ellipsis {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 80px;
  height: 80px;
}
body splash-screen .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffd013;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
body splash-screen .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
body splash-screen .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
body splash-screen .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
body splash-screen .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


body:not(.splash-screen-hidden) {
  overflow: hidden;
}

body.splash-screen-hidden splash-screen {
  visibility: hidden; 
  opacity: 0;
}

