
@import 'styles/scss/variables';
@import 'styles/scss/placeholders';
@import 'assets/fonts/icon-fonts/line/line.scss';


.img{
    background: $item-gradient;
}

.content {
    justify-content: center;
}

.wrapper {
    width: 100%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    max-height: 50px;
    margin-bottom: 8px;

    & .menu-filter {
        padding: 12px;
    }
}

.menu-item {
    max-height: 50px;
    padding: 8px;
    align-items: center;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: $grey;
    }
}

.point-icon {
    color: $yellow;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 21px;
    z-index: 5;
}

label {
    cursor: pointer;
    display: flex;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

input {
    margin: auto 8px auto auto;
}



