<div class="my-assets flex flex-col items-center w-full"
  [ngStyle]="(routeValue$ | async) == '/my-assets' ? {'padding-left': '48px', 'padding-right': '48px', 'padding-bottom': '48px', 'margin-top':'48px'} : {}"
  >
  <div class="flex flex-col items-start justify-start max-w-[1520px] w-full">
    <div class="flex flex-row items-center" *ngIf="currentUser$ | async as user; else userLoader">
      <p class="text-[32px] leading-[35px] font-medium">Assets for User: &nbsp;</p>
      <p class="text-[32px] leading-[35px] font-medium flex flex-row items-center address xl:hidden"
        [cdkCopyToClipboard]="user.wallet || ''"
        [cdkCopyToClipboardAttempts]="2"
        (cdkCopyToClipboardCopied)="copied()">
        {{user.slicedWallet}} <mat-icon class="!h-[24px] !w-[24px] mb-[1px] ml-1" [svgIcon]="'mat_outline:content_copy'"></mat-icon></p>
      <p class="text-[32px] leading-[35px] font-medium flex-row items-center address hidden xl:flex"
        [cdkCopyToClipboard]="user.wallet || ''"
        [cdkCopyToClipboardAttempts]="2"
        (cdkCopyToClipboardCopied)="copied()">
        {{user.wallet}} <mat-icon class="!h-[24px] !w-[24px] mb-[1px] ml-1" [svgIcon]="'mat_outline:content_copy'"></mat-icon></p>
    </div>
    <div class="flex flex-col items-start w-full">

      <ng-container *ngIf="!(assetsLoading$ | async) && assetTotal; else assetLoader">
        <ng-container *ngIf="assetTotal && assetTotal?.avatars?.all; else noAvatars">
          <div class="flex flex-row items-center mt-12">
            <p class="text-[24px] leading-[26px] font-medium">You own {{assetTotal.avatars.all || 0}} Avatars showing in &nbsp;</p>
            <totem-entity-selector class="text-[24px] leading-[26px] font-medium" *ngIf="(games$ | async)" [type]="'game'" [games]="(games$ | async)!"
            [activeGame]="selectedGame$ | async" (gameSelected)="setGame($event)"></totem-entity-selector>
          </div>
          <div class="flex flex-wrap items-start justify-start gap-4 mt-4">
            <ng-container *ngIf="avatars$ | async as avatars">
              <ng-container *ngFor="let avatar of avatars">
                <totem-asset-card [asset]="avatar"></totem-asset-card>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <div class="w-full flex items-center justify-center mt-11">
          <button class="totem-primary-button h-12 text-[20px] leading-[22px] font-semibold !px-7" (click)="goToBuy()">Purchase an Avatar</button>
        </div>
      </ng-container>

      <ng-container *ngIf="!(assetsLoading$ | async) && assetTotal; else assetLoader">
        <ng-container *ngIf="assetTotal && assetTotal?.items?.all; else noItems">
          <div class="flex flex-row items-center mt-12">
            <p class="text-[24px] leading-[26px] font-medium">You own {{assetTotal.items.all || 0}} Items showing in &nbsp;</p>
            <totem-entity-selector class="text-[24px] leading-[26px] font-medium" *ngIf="(games$ | async)" [type]="'game'" [games]="(games$ | async)!"
            [activeGame]="selectedGame$ | async" (gameSelected)="setGame($event)"></totem-entity-selector>
          </div>
          <div class="flex flex-wrap items-start justify-start gap-4 mt-4">
            <ng-container *ngIf="items$ | async as items">
              <ng-container *ngFor="let item of items">
                <totem-asset-card [asset]="item"></totem-asset-card>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <div class="w-full flex items-center justify-center mt-11">
          <button class="totem-primary-button h-12 text-[20px] leading-[22px] font-semibold !px-7" (click)="goToBuy()">Purchase an Item</button>
        </div>
      </ng-container>

    </div>
  </div>
</div>

<ng-template #noItems>
  <ng-container *ngTemplateOutlet="noAssets, context: {type: 'Item'}"></ng-container>
</ng-template>
<ng-template #noAvatars>
  <ng-container *ngTemplateOutlet="noAssets, context: {type: 'Avatar'}"></ng-container>
</ng-template>

<ng-template #noAssets let-type="type">
  <p class="text-[24px] leading-[26px] font-medium mt-12">You don't have any {{type}}s</p>
  <div class="no-assets-block h-[288px] w-full flex flex-col shrink-0 items-center justify-center rounded-[24px] mt-4">
    <div class="asset-image">
      <div *ngIf="type === 'Item'" class="!text-[90px] icon solid-buy-item flex t-col-light-grey"></div>
      <div *ngIf="type === 'Avatar'" class="!text-[90px] icon solid-buy-avatar flex t-col-light-grey"></div>
    </div>
    <p class="t-col-light-grey text-[20px] leading-[22px] font-medium mt-6">Purchase an asset that you can use across all Totem Games!</p>
  </div>
</ng-template>

<ng-template #userLoader>
  <span class="h-[35px] w-[60%] totem-skeleton"></span>
</ng-template>

<ng-template #assetLoader>
  <div class="w-full mt-12 flex flex-col">
    <span class="w-[30%] h-[26px] totem-skeleton"></span>
    <div class="flex flex-wrap w-full items-start justify-start gap-4 mt-4">
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
    </div>
    <div class="w-full flex items-center justify-center mt-11">
      <span class="w-[234px] h-12 totem-skeleton"></span>
    </div>
  </div>
</ng-template>
