<div class="w-full h-full flex flex-col mx-auto overflow-x-hidden overflow-y-hidden">

  <div class="flex items-center flex-wrap">

    <div class="flex items-center mb-7">
      <mat-icon class="min-w-4 !w-[18px] text-yellow" [svgIcon]="'solid:point'"></mat-icon>
      <h2 class="mx-6 text-2xl sm:text-4xl">{{title}}</h2>
    </div>

    <div class="mb-7" *ngIf="menuTitle">
      <search-dropdown [title]="menuTitle" [itemType]="itemType" (onChange)="selectGame($event)"></search-dropdown>
    </div>

    <div class="ml-auto mb-7 hidden lg:flex">

      <arrow-left class="pr-7" (click)="onClickLeft()"></arrow-left>
      <arrow-right (click)="onClickRight()"></arrow-right>

    </div>
  </div>
  <div *ngIf="!slides" class="w-full h-[440px] flex spinner-wrapper">
      <totem-spinner [size]="'36'"></totem-spinner>
  </div>
  <div #horizontalSwiper class="horizontal-swiper relative">

    <div class="swiper-wrapper">

      <div *ngFor="let slide of slides" class="swiper-slide">
        <item-card *ngIf="itemType === 'item'" [item]="slide"></item-card>

        <game-card *ngIf="itemType === 'game'" [game]="slide"></game-card>

        <avatar-card *ngIf="itemType === 'avatar'" [avatar]="slide"></avatar-card>
      </div>
    </div>
    <div class="swiper-pagination lg:hidden"></div>


  </div>

  <div class="flex pt-[20px] relative">
    <span class="z-10 cursor-pointer ml-auto text-light-grey" (click)="onClickViewAll()">View all</span>
  </div>
</div>
