@import 'styles/scss/variables';
.swiper {
  width: 100%;
  height: 100%;
}


  .swiper-slide {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
 
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination {
    bottom: -40px;
  }

  .slider-button-next::after, .slider-button-prev::after {
    display: none !important;
  }

  .slider-button-next, .slider-button-prev {
    position:static !important;
  }

