<div class="w-full h-full flex flex-col mx-auto overflow-x-hidden overflow-y-hidden">

  <div class="flex pb-7 items-center mx-2">
    <div class="flex items-center">
      <mat-icon class="min-w-4 !w-[18px] text-yellow" [svgIcon]="'solid:point'"></mat-icon>
      <h2 class="mx-6">{{title}}</h2>
    </div>

    <div *ngIf="menuTitle">
      <carousel-dropdown [title]="menuTitle" [itemType]="itemType"></carousel-dropdown>
    </div>

    <div class="ml-auto flex">

      <arrow-left class="pr-7" (click)="onClickLeft()"></arrow-left>
      <arrow-right (click)="onClickRight()"></arrow-right>

    </div>
  </div>

  <div #horizontalSwiper class="horizontal-swiper">
    <div class="swiper-wrapper">
      <div *ngFor="let item of items" class="swiper-slide">
        <item-card *ngIf="itemType === 'item'"></item-card>

        <game-card *ngIf="itemType === 'game'"></game-card>

        <avatar-card *ngIf="itemType === 'avatar'"></avatar-card>
      </div>
    </div>
  </div>

  <div class="flex">
    <span class="cursor-pointer ml-auto mr-3 text-light-grey" (click)="onClickViewAll()">View all</span>
  </div>
</div>