@import 'styles/scss/variables';
@import 'assets/fonts/icon-fonts/line/line.scss';
@import 'assets/fonts/icon-fonts/solid/solid.scss';

:host {
  z-index: 20;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .totem-sidebar-wrapper {
    position: fixed;
    pointer-events: none;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.33s ease-out;

    .totem-sidebar {
      pointer-events: inherit;
      position: absolute;
      right: 24%;
      top: 79px;
      width: 320px;
      box-sizing: border-box;
      background: #202225;
      border-radius: 4px;
      padding: 20px 20px 40px 20px;
      z-index: 20;
      overflow: hidden;
      transition: transform 0.33s ease-out;
      transform: translateX(320px);

      @media (max-width: 1440px) {
        right: 350px;
      }

      &-bg {
        pointer-events: none;
        z-index: 1;
        position: absolute;
        top: -120px;
        left: -10px;
        //filter: blur(50px);
        .first-circle {
          z-index: 4;
          position: absolute;
          width: 173px;
          height: 173px;
          left: 314px;
          top: 91px;
          background: #00BC58;
          filter: blur(80px);
          //animation-delay: var(--i);
          //animation: MoveUpDown 10s linear infinite;
        }
        .second-circle {
          z-index: 5;
          position: absolute;
          width: 221px;
          height: 221px;
          left: 298px;
          top: -79px;
          background: #FFD011;
          filter: blur(110px);
          //animation: MoveUpDown 10s linear infinite;
          //animation-delay: var(--i);
        }
        .third-circle {
          z-index: 3;
          position: absolute;
          width: 154px;
          height: 154px;
          left: 262px;
          top: 5px;
          background: #FFD011;
          filter: blur(50px);/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
          //animation: MoveUpDown 10s linear infinite;
          //animation-delay: var(--i);
        }
        .fourth-circle {
          z-index: 2;
          position: absolute;
          width: 119px;
          height: 119px;
          left: 155px;
          top: 74px;
          background: #5823C9;
          filter: blur(70px);
          //animation: MoveUpDown 10s linear infinite;
          //animation-delay: var(--i);
        }
        .fifth-circle {
          z-index: 1;
          position: absolute;
          width: 247px;
          height: 247px;
          left: 260px;
          top: -69px;
          background: #FF8540;
          filter: blur(70px);
          //animation: MoveUpDown 10s linear infinite;
          //animation-delay: var(--i);
          //background: #00BC58;
        }
      }

      .user-name {
        position: relative;
        z-index: 3;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        height: 32px;
        color: #fff;
        cursor: pointer;
        .copy-icon {
          margin-left: 6px;
          height: 32px;
          width: 26px;
          font-size: 24px;
          line-height: 28px;
        }
        .tooltiptext {
          pointer-events: none;
          visibility: hidden;
          background: rgba(8, 9, 10, 0.5);
          backdrop-filter: blur(20px);
          border-radius: 4px;
          color: $light-grey;
          text-align: center;
          padding: 7px 16px;
          position: absolute;
          z-index: 20;
          top: 66px;
          left: 0px;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          white-space: nowrap;
        }

        &:hover .tooltiptext {
          visibility: visible;
        }
      }
      .user-id {
        cursor: pointer;
        z-index: 2;
        margin-top: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $light-grey;
        transition: color 0.33s ease-out;
        .line-copy_small {
          margin-left: 6px;
          margin-bottom: 3px;
        }
        &:hover {
          color: #fff;
        }
      }

      .sidenav {
        z-index: 2;
        width: 100%;
        margin-top: 30px;
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $light-grey;
          transition: color 0.33s ease-out;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
          &:not(:first-child) {
            margin-top: 20px;
          }
        }
        a.active-route {
          color: #fff;
        }
      }

      .button-wrap {
        z-index: 2;
        position: absolute;
        top: 23px;
        left: 21px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
          .close-button {
            color: #fff;
          }
        }
        .close-button {
          z-index: 2;
          position: absolute;
          height: 21px;
          width: 21px;
          top: 5px;
          left: 5px;
          color: $light-grey;
        }
      }


      &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        z-index: 2;
        inset: 0;
        padding: 1px;
        border-radius: 4px;
        background: $linear-light-nav;
        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        opacity: 1;
        transition: opacity 0.33s ease-out;
      }

    }

  }
  .opened-bar {
    opacity: 1;
  }
}

