

.border-yellow {
    border-color: $yellow;
}

.border-black-2 {
    border-color: $black-2;
}

.border-b-solid {
    border-bottom-style: solid;
}

.border-l-solid {
    border-left-style: solid;
}

.border-t-solid {
    border-top-style: solid;
}

.border-r-solid {
    border-right-style: solid;
}
