
@import 'styles/scss/variables';
@import 'styles/scss/placeholders';

.menu-filter {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;

    mat-icon {
        transition: transform .3s;
    }

    & .mat-icon {
        color: $white;
        height: 7px;
    }

    & span, p {
        font-weight: 500;
        color: $white;
    }

    &:hover {
        background-color: $yellow;

        span, p {
            color: $black;
            font-weight: 700;
        }
        .mat-icon {
            color: $black;
        }
    }
}

.dropdown, .check-all-button {
    display: inline-block;
    position: relative;

    .dropdown-menu {
        @extend %gradient-border-solid;
        position: absolute !important;
        backdrop-filter: blur(24px);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        display: inline-block;
        margin-top: 9px;
        border-radius: 4px;
        background-color: $transparent-light;
        padding: 4px 0;
        padding-bottom: 0;
        z-index: 30;
        transition: opacity 0.4s, visibility 0.4s;

        .search {
            padding: 5px 5px 10px 5px;
            width: 100%;
        }

        .menu-items {
            max-height: 200px;
            overflow-y: auto;
            padding: 0 4px;
            .menu-item {
                cursor: pointer;
                border-radius: 4px;
                position:relative;
                display: flex;
                height: 50px;
                padding: 0 6px;
                transition: background-color 0.33s ease-out, color .33s;

                & input {
                    all: unset;
                    z-index: 10;
                    cursor: pointer;
                    display: flex;
                    position:absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border: 1px solid transparent;
                    transition: border 0.33s ease-out, border 0.33s ease-out;;
                }

                & .content {
                    position:absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 4px;
                    white-space: nowrap;
                    padding: 6px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    &:hover {
                        background-color: $transparent-light;
                    }
                }

                input:checked ~ .content {
                    background-color: $transparent-light;
                }

                & span {
                    line-height: 15px;
                    white-space: nowrap;
                    margin: auto auto auto 0;
                }

                &:hover {
                    color: $white;
                    background-color: $transparent-light;
                }

            }
            .script-hovered {
                background-color: $transparent-light;
            }
            .script-selected {
                input {
                    border: 1px solid $yellow;
                    border-radius: 4px;
                }
                input ~ .content {
                    background-color: $transparent-light;
                }
            }
        }
    }
}

.check-all-button {
  .dropdown-menu {
    width: 102px;
    margin: 0;
    left: 0px;
    top: 36px;
  }
}
