
@import 'styles/scss/variables';

.menu-filter {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;

    & .mat-icon {
        color: $white;
        height: 7px;
    }

    & span {
        color: $white;
    }

    & p {
        color: $white;
    }

    &:hover {
        background-color: $yellow;

        .mat-icon {
            color: $black;
        }

        span {
            color: $black;
        }

        p {
            color: $black;
        }
    }
}

.dropdown {
    display: inline-block;
    position: relative;

    .dropdown-menu {
        
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        display: inline-block;
        margin-top: 9px;
        position: absolute;
        border-radius: 4px;
        background-color: $transparent-light;
        padding: 4px;
        z-index: 30;
        transition: opacity 0.4s, visibility 0.4s;

        &::before {
            content: "";
            pointer-events: none;
            position: absolute;
            inset: 0;
            padding: 1px;
            border-radius: 4px; 
            background: $linear-light; 
            -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; 
        }

        .menu-items {
            max-height: 200px;
            overflow-y: auto;

            .menu-item {
                position: relative;
                border-radius: 4px;
                white-space: nowrap;
                padding: 0 5px;
                cursor: pointer;
                height: 50px;
                display: flex;
                align-items: center;
                
                &:hover {
                    background-color: $transparent-light;
                }

                & label {
                    cursor: pointer;
                    display: flex;
                    position:absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    & input {
                        display: none;
                    }
                }
            }  
        }  
    }
}

