
@import 'styles/scss/variables';

.menu-filter {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;

    & .mat-icon {
        color: $white;
        height: 7px;
    }

    & span {
        color: $white;
    }

    &:hover {
        background-color: $yellow;

        .mat-icon {
            color: $black;
        }

        span {
            color: $black;
        }
    }
}