@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/scss/effect-fade';
@import 'swiper/scss/effect-flip';
@import 'swiper/scss/effect-coverflow';

@import '../variables';

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $yellow;
}
/* target all bullets */
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: rgba(95, 99, 105, 0.5);

  @media (max-width: 999px) {
    width: 10px;
    height: 10px;
  }
}
