@import '../totem-variables';

.t-col-yellow {
  color: $totem-yellow;
}
.t-col-pink {
  color: $totem-pink;
}
.t-col-error {
  color: $totem-error;
}
.t-col-violet {
  color: $totem-violet;
}
.t-col-light-violet {
  color: $totem-light-violet;
}
.t-col-black {
  color: $totem-black;
}
.t-col-dark-grey {
  color: $totem-dark-grey;
}
.t-col-grey {
  color: $totem-grey;
}
.t-col-divider-grey {
  color: $totem-divider-grey;
}
.t-col-light-grey {
  color: $totem-light-grey;
}

.t-bg-yellow {
  background-color: $totem-yellow;
}
.t-bg-pink {
  background-color: $totem-pink;
}
.t-bg-violet {
  background-color: $totem-violet;
}
.t-bg-light-violet {
  background-color: $totem-light-violet;
}
.t-bg-black {
  background-color: $totem-black;
}
.t-bg-dark-grey {
  background-color: $totem-dark-grey;
}
.t-bg-grey {
  background-color: $totem-grey;
}
.t-bg-divider-grey {
  background-color: $totem-divider-grey;
}
.t-bg-light-grey {
  background-color: $totem-light-grey;
}
