@import 'styles/scss/placeholders';


.item-tag {
    height: 72px;
    min-width: 100px;
    max-width: 240px;
    padding: 15px 10px;
    background-color: $grey;
    text-align: center;
    border-radius: 4px;

    h4 {
        color: white;
    }

    p {
        color: $light-grey;
    }
}

.grid-item-list {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
}

.filters-wrapper {
    transition: width 0.4 ease-in-out;
    flex: none;
}

.nav-item {
    display: flex;
    margin: 15px 15px 15px 0;
}

.appear {
    // display: none;
    visibility: visible !important;
    pointer-events: all !important;
    opacity: 1 !important;
}

.gradient-border {
    @extend %gradient-border;
}

.gradient-border-solid {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 1;
      inset: 0;
      padding: 1px;
      border-radius: 4px 4px 4px 4px;
      background: $linear-light;
      -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
}


