
#w3a-modal {
  backdrop-filter: blur(40px) !important;
  font-family: Roboto !important;
  --text-color2: $light-grey !important;
  --text-color1: $light-grey !important;
  --tw-ring-color: $yellow !important;

  .w3a-header__title {
    font-size: 36px !important;
    margin-bottom: 10px !important;
  }
  .w3a-header__subtitle {
    font-size: 16px !important;
  }
  button, input {
    margin-bottom: 30px !important;
    border-radius: 4px !important;
  }

  input {
    background-color: $black !important;
    transition: box-shadow .3s ease-in-out !important;
    box-shadow: 0 0 2px $light-grey !important;
    &:focus {
      // outline: 1px solid $light-grey !important;
      box-shadow: 0 0 4px $yellow !important;
    }
  }

  .text-right {
    border-top: 1px solid $dark-grey;
  }
  .w3a-button-expand {
    margin-bottom: 0px !important;
  }
  .w3ajs-button-expand-text {
    color: $light-grey !important;
  }
  .w3a-button--login {
    border-radius: 9999px !important;
    &:focus {
      outline: none !important;
    }
  }
  .w3a-external-back .w3a-group__title {
    margin-bottom: 0px !important;
  }
  .w3a-external-toggle button {
    margin-bottom: 0px !important;
  }
}

.w3a-modal__header {
  margin-bottom:15px !important;
  margin-top: 20px !important;
}

.w3a-social__policy {
  display: none !important;
}

.w3a-adapter-list {
  button {
    background-color: $black !important;
  }
}
.w3a-group__title {
  font-size: 20px !important;
  margin-bottom: 15px !important;
}
.w3a-modal__inner, .w3ajs-modal-loader {
  overflow-y: scroll !important;
  border-radius: 4px !important;
  background-color: $black !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-image: url('../../../assets/images/login-popup__background.png') !important;
}
.w3a-social__policy {
  border-bottom: 1px solid $light-grey !important;
    text-align: center !important;
}

.w3a-modal__footer {
  background-color: $black !important;
  div {
    div {
      div:first-child {
        display: none !important;
      }
      div:last-child {
        margin-bottom: 15px !important;
        font-size: 16px !important;
        span {
          display: none !important;
        }
        display: flex !important;
        gap: 20px !important;
      }
    }
  }
}
.w3a-adapter-list { 
  grid-template-columns: repeat(5,minmax(0,1fr)) !important;
  li:first-child {
    grid-column: span 1/ span 1;
    button {
      p {
        display: none !important;
      }
    }
  }
  li {
    display: flex !important;
    justify-content: center !important;
    button {
      width: 46px !important;
      padding: 10px !important;
      height: 46px !important;
      img {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }

}
.w3a-adapter-list--shrink {
  max-height: 70px !important;
}

.w3ajs-email-passwordless-form button, .w3a-external-toggle button {
  background-color: $yellow !important;
  color: black !important;
  &:disabled {
    background-color: $dark-grey !important;
    color: $black !important;
  }
}
.w3a-modal__loader-app-logo {
  height: 72px !important;
  width: 72px !important;
  background-image: url('../../../assets/favicons/logo-192.png');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  img {
    display: none !important;
  }
}
.w3a-spinner-power {
  display: none !important;
}
.w3a-modal__loader-content {
  margin-bottom: 0px !important;
}
.w3a-modal__connector-beat {
  div {
    background-color: $yellow !important;
  }
}

