
.w-32rem {
    width: 32rem !important;
}

.min-w-xs {
    min-width: 20rem;
}

.min-w-4xl {
    min-width: 56rem;
}

.min-w-72 {
    min-width: 18rem;
}

.max-w-72 {
    max-width: 18rem;
}

.min-w-64 {
    min-width: 16rem;
}

.max-w-64 {
    max-width: 16rem;
}

.min-w-21rem {
    min-width: 22rem;
}