@import 'styles/scss/variables';

.snack-bar {
  height: 100%;
  width: 100%;
  padding-left: 16px;
  padding-right: 4px;

  .title-caption {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $dark;
  }

  mat-icon {
    font-size: 18px;
    font-weight: 600;
    color: $dark;
  }

}
