
$totem-yellow: #FFD011;
$totem-error: #FF5252;
$totem-white: white;
$totem-pink: #FF66F9;
$totem-violet: #5823C9;
$totem-purple: #6820A2;
$totem-black: #1D1F27;
$totem-dark-grey: #23252F;
$totem-grey: #2A2C38;
$totem-divider-grey: #323741;
$totem-light-grey: #8A93A0;
$totem-light-violet: #9A7ED7;
$totem-main-gradient: linear-gradient(148.95deg, #5823C9 10.67%, #FF66F9 180.98%);;
$totem-select-gradient: linear-gradient(95.57deg, #1D1F27 69.5%, #AD45E2 208.63%);;
