
$totem-yellow: #FFD011;
$totem-error: #FF5252;
$totem-white: white;
$totem-pink: #FF66F9;
$totem-violet: #5823C9;
$light-violet: #9A7ED7;
$totem-purple: #6820A2;
$totem-black: #1D1F27;
$totem-dark-grey: #23252F;
$totem-grey: #2A2C38;
$totem-divider-grey: #323741;
$totem-light-grey: #8A93A0;
$totem-light-violet: #9A7ED7;
$blur-black: #23252FE5;
$blur-black-darker: #23252ff5;

$totem-main-gradient: linear-gradient(148.95deg, #5823C9 10.67%, #FF66F9 180.98%);
$totem-select-gradient: linear-gradient(95.57deg, #1D1F27 69.5%, #AD45E2 208.63%);
$violet-light-gradient: linear-gradient(83.5deg, #9A7ED7 -158.87%, #2A2C38 54.04%, #2A2C38 54.04%);

$totem-favicon-gradient: radial-gradient(242.25% 242.23% at 48.94% 3.44%, #5823C9 20.04%, #FF66F9 96.86%);
$totem-profile-gradient: linear-gradient(180deg, #111216 58.97%, #1D1F27 100%);
