@import 'styles/scss/variables';

:host {
  width: 100%;
}

a, span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $light-grey;
}

.profile-nav-wrapper {
  margin-top: 60px;
  width: 100%;
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
  height: 31px;
  .profile-nav {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: inherit;
    border-bottom: 1px solid $dark-grey;
    .nav-block {
      height: inherit;
      padding-left: 30px;
      padding-right: 30px;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;

      @media (max-width: 600px) {
        display: none;
      }

      a {
        position: relative;
        transition: color 0.33s ease-out;
        &:hover {
          color: #fff;
        }
      }

      a::before {
        content: '';
        width: 0px;
        height: 4px;
        background-color: $yellow;
        position: absolute;
        border-radius: 25px 25px 0 0;
        top: 29px;
        right: 0px;
        left: -4px;
        opacity: 0;
        transition: width 0.26s ease-out, opacity 0.26s ease-out;
      }

      a.active-tab {
        color: #fff;

        &::before {
          width: calc(100% + 8px);
          opacity: 1;
        }
      }
    }

    @media (min-width: 601px) {
      row-gap: 10px;
      padding-bottom: 3px;
    }
    @media (max-width: 600px) {
      border-bottom: none !important;
      place-content: center space-between;
    }

    .nav-button {
      display: none;
      flex-direction: column;
      box-sizing: border-box;
      place-content: center;
      align-items: center;
      background-color: $grey;
      border-radius: 4px;
      width: 48%;
      height: 50px;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 17px;
      cursor: pointer;
      @media (max-width: 600px) {
        display: flex;
      }
      &.active-tab {
        color: $dark;
        background-color: $yellow;
      }
    }
  }
  @media (max-width: 600px) {
    border-bottom: none !important;
    margin-top: 30px;
    height: unset;
  }
}
