<div class="profile-nav-wrapper">
  <div class="profile-nav" fxLayout="row" fxLayoutAlign="start center">
    <div class="nav-block" fxLayout="column">
      <a routerLinkActive="active-tab" routerLink="/profile/user-items">My items</a>
    </div>
    <div class="nav-block" fxLayout="column">
      <a routerLinkActive="active-tab" routerLink="/profile/user-avatars">My avatars</a>
    </div>
    <div class="nav-block" fxLayout="column">
      <a routerLinkActive="active-tab" routerLink="/profile/user-games">My games</a>
    </div>
  </div>
</div>

