@import 'styles/scss/totem-variables';
@import 'styles/scss/variables';

:host {
  justify-content: center;
}

.space-card {
  background-color: #2A2C38;
}

.col-grey {
  color: $light-grey;
}

.space-id, .proposal-state {
  padding: 4px 10px;
  border-radius: 12px;
  background-color: $totem-violet;
  color: $totem-white;
}

.proposal-state {
  background-color: $totem-pink;
  &.active {
    background: #13ad63;
  }
  &.pending {
    background-color: $totem-light-grey;
  }
  &.closed {
    background-color: $light-violet;
  }
}

.option-item {
  background-color: $totem-dark-grey;
  border: 1px solid $white;
  transition: background 0.11s ease-out;
  &:hover {
    background-color: $totem-light-violet;
  }
  &.selected {
    background: $totem-main-gradient;
  }
}

.vp-s {
  background-color: $totem-violet;
  padding: 4px 10px;
  border-radius: 12px;
}

.divider {
  width: 100%;
  border-top: 1px solid $totem-divider-grey;
}

.link-to-snapshot {
  text-decoration: underline;
}

.vp-by-strategie {
  background-color: $totem-violet;
}
