<!-- Wrapper -->
<div class="relative flex flex-col h-full overflow-y-auto w-full">

    <!-- Arrow Back -->
    <div class="fixed z-30 flex items-center p-3 pr-6 cursor-pointer" (click)="onClickBack()">
        <mat-icon class="text-white p-1 w-12 h-12 ml-auto sm:my-auto" [svgIcon]="'arrow_back'"></mat-icon>
    </div>

    <!-- Item data in table  -->
    <div class="w-full bg-space flex flex-col text-yellow justify-center">

        <div class="bg-indigo-100 rounded-2xl w-48 sm:w-72 mt-10 m-auto">
            <div class="m-auto p-4">
                <item-spear [shaftColor]="currentItem?.item.shaftColor"></item-spear>
            </div>
        </div>

        <div class="w-full flex flex-col text-yellow py-4 mt-3 overflow-x-auto whitespace-nowrap scroll-x-yellow  max-w-7xl mx-auto">
    
            <div class="text-center grid w-full grid-cols-6 font-bold py-2 border-b border-b-solid border-yellow min-w-4xl">
    
                <h4>Item Type</h4>
                <h4>Damage</h4>
                <h4>Range</h4>
                <h4>Element</h4>
                <h4>Shaft Color</h4>
                <h4>Tip Material</h4>
    
            </div>

            <div class="text-center grid w-full grid-cols-6 my-row my-2 cursor-pointer min-w-4xl">
    
                <h4 class="font-totem uppercase">{{ currentItem.itemType }}</h4>
                <h4>{{ currentItem.item.damage }}</h4>
                <h4>{{ currentItem.item.range }}</h4>
                <h4>{{ currentItem.item.element }}</h4>
                <h4>{{ currentItem.item.shaftColor }}</h4>
                <h4>{{ currentItem.item.tipMaterial }}</h4>
    
            </div>
        </div>
    

        <h3 class="text-5xl p-4 text-center text-yellow">Achievements</h3>

    </div>

    <!-- Legacies Wrapper -->
    <div class="w-full h-full bg-yellow">

        <div class="flex h-full justify-center">
            <div *ngIf="legacyRecords && legacyRecords.length > 0" class="relative">
    
                <div class="py-2 sm:overflow-y-auto w-full">
    
                    <div class="mx-auto p-4 text-black-2 border-black-2 border-b-solid border-b my-3 truncate w-72 sm:w-96"
                        *ngFor="let legacy of legacyRecords; let i = index">
    
                        <!-- Show popup with legacy data -->
                        <div class="ellipsis-center cursor-pointer flex" [matMenuTriggerFor]="itemData"
                            (click)="onClickData(legacy.data)">
                            <h4 class="ellipsis"><span class="font-bold">Data: </span>{{legacy.data}}</h4>
                        </div>
    
                        <mat-menu #itemData="matMenu">
                            <h4 class="p-3 text-black-2 z-15 break-words" *ngIf="currentData">{{ currentData }}</h4>
                        </mat-menu>
    
                        <h4><span class="font-bold">Game Id: </span>{{legacy.gameId}}</h4>
                        <h4><span class="font-bold">Timestamp: </span>{{legacy.timestamp}}</h4>
    
                    </div>
    
                </div>
    
    
            </div>
    
            <h3 class="py-6 text-center rounded-2xl" *ngIf="legacyRecords?.length === 0">
                There is no Achievements
            </h3>
    
            <!-- Spinner -->
            <div *ngIf="!legacyRecords" class="text-center">
                <loading-spinner [color]="'white'"></loading-spinner>
            </div>
        </div>

    </div>



</div>