<div class="flex flex-col item gradient-border" (click)="onNavigate()">


    <!-- <img *ngIf="item?.itemType === 'sword'" class="grow h-60 object-cover" src="assets/images/item-test.jpg" alt=""> -->
    <!-- <img *ngIf="nft?.metadata?.image" class="grow h-60 object-cover" [src]="nft?.metadata?.image" alt=""> -->
    <!-- <img *ngIf="item?.itemType === 'spear'" class="grow h-60 object-cover" src="assets/images/item-test.jpg" alt=""> -->
    <!-- <div class="placeholder">
        <mat-icon [svgIcon]="'line:item-place'"></mat-icon>
    </div> -->
    <div *ngIf="!item?.itemType && !item?.image || item?.itemType === 'Item'" class="placeholder">
        <mat-icon [svgIcon]="'line:item-place'"></mat-icon>
    </div>

    <div class="h-full" *ngIf="item?.image">
        <img class="grow object-cover h-full" [src]="item?.image" alt="">
    </div>

    <svg-sword 
    class="background grow h-60 svg-icon" *ngIf="item?.itemType === 'sword' || item?.itemType === 'spear'"
    [element]="item?.item?.element" [tip]="item?.item?.tipMaterial" [shaftColor]="item?.item?.shaftColor"></svg-sword>



    <div class="p-4 flex flex-col">

        <div class="flex justify-between pb-[15px] relative">
            <h3 *ngIf="!item?.itemType">ID: 1111</h3>
            <h3 *ngIf="item?.itemType">{{item?.itemType}}</h3>

            <mat-icon *ngIf="isLiked === false" class="like" [svgIcon]="'line:like'"
                (click)="$event.stopPropagation(); onClickLike()"></mat-icon>
            <mat-icon *ngIf="isLiked === true" class="text-yellow" [svgIcon]="'solid:like'"
                (click)="$event.stopPropagation(); onClickLike()"></mat-icon>
        </div>

        <div class="flex justify-between items-center whitespace-nowrap max-w-[320px]">
            <div>
                <h4 *ngIf="!item?.updatedAt">24.24.24</h4>
                <h4 *ngIf="item?.updatedAt">{{item?.updatedAt}}</h4>

                <p class="text-light-grey">Last used</p>
            </div>
            <div>
                <h4>100</h4>
                <p class="text-light-grey">Rarity</p>
            </div>
            <div>
                <h4>566</h4>
                <p class="text-light-grey">Games used</p>
            </div>
        </div>
    </div>

</div>