@import 'styles/scss/variables';

.item {
    margin:auto;
    flex-grow: 1;
    width: 100%;
    min-width: 280px;
    max-width: 440px;
    height: 440px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    background: $grey;
    text-align: start;
    transition: all 0.33s ease-in;

    & img {
        transition: all 0.22s ease-out;
        border-radius: 0;
    }

    &:hover {
        background: linear-gradient(359.71deg, rgba(255, 255, 255, 0.15) 0.38%, rgba(255, 255, 255, 0) 46.66%);
        & img {
          transform: scale(1.02);
        }
    }
}


.like {
    color: $light-grey;

    &:hover {
        color: $yellow;
    }
}

