@import 'styles/scss/variables';

.svg-icon {
    display: flex;
  align-items: center;
//   background-color: red;
//   height: 100%;
}
.placeholder {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #353840;
    .mat-icon {
        margin:auto;
        width: 130px !important;
        height: auto !important;
    }
}
.background {
    background-color: #000405;
}

.item {
    margin:auto;
    flex-grow: 1;
    width: 100%;
    min-width: 280px;
    max-width: 440px;
    height: 440px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    background: $grey;
    text-align: start;
    transition: all 0.33s ease-in;

    & img {
        transition: all 0.22s ease-out;
        border-radius: 0;
    }

    &:hover {
        background: linear-gradient(359.71deg, rgba(255, 255, 255, 0.15) 0.38%, rgba(255, 255, 255, 0) 46.66%);
        & img {
          transform: scale(1.02);
        }
    }
}

.mat-icon {
    position: relative;
    overflow: visible;
    &::after {
        content: '';
        position: absolute;
         top: -50%;
        left: -50%;
         width: 200%;
        height: 200%;
    }
}

.like {
    color: $light-grey;

    &:hover {
        color: $yellow;
    }
}

