@import 'styles/scss/variables';

.item {
    max-width: 440px;
    height: 440px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    background: $grey;
    text-align: start;
    margin: auto;
    transition: all 0.33s ease-in;

    & img {
        border-radius: 0;
    }

    &:hover {
        background: linear-gradient(359.71deg, rgba(255, 255, 255, 0.15) 0.38%, rgba(255, 255, 255, 0) 46.66%);
    }
}


.like {
    color: $light-grey;

    &:hover {
        color: $yellow;
    }
}

