

<div #layout class="w-full h-full totem-layout flex flex-col relative">
    <!-- Header -->
    <div class="totem-nav-wrapper h-20 min-h-[5rem] w-full z-90">
        <totem-header></totem-header>
    </div>

    <div class="flex flex-row flex-auto w-full h-fit">
      <totem-sidenav></totem-sidenav>
      <div class="flex-grow min-w-[0px]">
        <router-outlet *ngIf="true"></router-outlet>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <totem-footer></totem-footer>
    </div>
</div>
