@import 'styles/scss/totem-variables';

:host {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;

    router-outlet {
      + * {
          position: relative;
          display: flex;
          flex: 0;
          width: 100%;
      }
    }
}

.totem-layout {
  background-color: $totem-black;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  totem-sidenav {
    display: flex;
    flex-shrink: 0;
    width: 256px;
    min-width: 256px;
    max-width: 256px;
    transition: 0.33s ease-in-out;
    transition-property: min-width, width, max-width, transform;
    @media (max-width: 999px) {
      transform: translateX(-256px);
      width: 0px;
      min-width: 0px;
      max-width: 0px;
    }
  }

  .totem-nav-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

}
