@import 'styles/scss/totem-variables';

:host {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;

    router-outlet {
      + * {
          position: relative;
          display: flex;
          flex: 0;
          width: 100%;
      }
    }
}

.totem-layout {
  background-color: $totem-black;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  .totem-nav-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

}
