<!-- <div class="main-block-wrapper"> -->
    <h3 class="mb-[10px]">Payment details</h3>
    <p class="mb-[15px] text-light-grey">Complete your purchase by providing your payment information.</p>

    <div class="payment-methods">
        <label class="payment-method disabled">
            <div class="flex">
                <div [ngClass]="{'text-yellow': paymentMethod == paymentType.CARD}" class="icon line-creditcard"></div>
                <p class="text-dark-grey">Credit or debit card</p>
            </div>
            <input (change)="onChangeInput($event)" name="payment-method" [value]="paymentType.CARD"
                    class="w-6 h-6 bg-transparent" type="radio">
        </label>
        <label class="payment-method">
            <div class="flex">
                <div [ngClass]="{'!text-yellow': paymentMethod == paymentType.WALLET}" class="icon line-usdc-token"></div>
                <p>USDC Wallet</p>
            </div>
            <input (change)="onChangeInput($event)" name="payment-method" [value]="paymentType.WALLET"
                    class="w-6 h-6 bg-transparent" type="radio">
        </label>
    </div>
<!-- </div> -->