<div class="totem-event">
  <div class="totem-event-wrapper" fxLayout="row" fxLayoutAlign="space-between center">


    <div class="image-container">
      <img src="assets/images/legacy-jam.png" alt="jam">
    </div>
    <div class="timer-container" fxLayout="column" fxLayoutAlign="space-between start">
      <div class="title">Comming soon:</div>
      <div class="timer-block" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{days | number: '2.0-0'}}</span>
          <div class="timer-caption">DAY</div>
        </div>
        <span class="font-totem totem-color timer-dots">:</span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{hours | number: '2.0-0'}}</span>
          <div class="timer-caption">HR`S</div>
        </div>
        <span class="font-totem totem-color timer-dots">:</span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{minutes | number: '2.0-0'}}</span>
          <div class="timer-caption">MIN`S</div>
        </div>
        <span class="font-totem totem-color timer-dots">:</span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="grey-back font-totem totem-color">{{seconds | number: '2.0-0'}}</span>
          <div class="timer-caption">SEC</div>
        </div>
      </div>
      <div class="description">The Totem platform was built to empower indie developers
        to create amazing interconnected games, and also be able
        to monetize off of them using a fair and transparent model.
        We are a community of 200+ tribe members, the majority of
        which are indie game creators, collaborating to bring a new
        type of gaming to life.</div>
      <div><button class="join-button" mat-raised-button>Join community</button></div>
    </div>
  </div>
</div>
