<div class="wrapper" *ngIf="(_assets?.length || games?.length); else loader">
    <div class="header">
        <div class="flex flex-row items-center flex-wrap w-full">
            <p class="text-[26px] leading-[28px] md:text-[32px] font-medium md:leading-[35px] w-full md:w-max md:mr-3">{{title}}</p>
            <totem-entity-selector class="w-full md:w-min text-[26px] leading-[28px] md:text-[32px] font-medium md:leading-[35px]" *ngIf="type != 'game' && _assets?.length" [type]="'game'" [games]="games"
                [activeGame]="selectedGame | async" (gameSelected)="setGame($event)"></totem-entity-selector>
        </div>
        <ng-container *ngIf="type != 'game'">
          <totem-sort-button (sortSelected)="loadAssets(type, page, $event, 'set')"></totem-sort-button>
        </ng-container>
        <ng-container *ngIf="type == 'game'">
          <totem-sort-button (sortSelected)="loadGames(page, $event, 'set')"></totem-sort-button>
        </ng-container>
    </div>

    <div class="list grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-5 xxml:grid-cols-6 gap-4" *ngIf="type != 'game'">
        <totem-asset-card *ngFor="let asset of _assets" [asset]="asset"></totem-asset-card>
    </div>
    <div class="list grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-5 xxml:grid-cols-6 gap-4 justify-items-center" *ngIf="type == 'game'">
        <totem-game-card *ngFor="let game of games" [game]="game"></totem-game-card>
    </div>

    <div *ngIf="(_assets?.length && _assets != null || games?.length && games != null) && loadMoreActive"
        class="flex justify-center mt-[30px]">
        <button @fade-in-out class="totem-primary-button" (click)="loadMore()">Load More</button>
    </div>
</div>

<ng-template #loader>
  <div class="wrapper flex flex-col">
    <div class="flex flex-row w-full mb-[30px]">
      <span class="h-[35px] w-[40%] totem-skeleton"></span>
    </div>
    <div class="w-full list" *ngIf="type != 'game'">
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
      <span class="w-[240px] h-[288px] totem-skeleton"></span>
    </div>
    <div class="w-full list" *ngIf="type == 'game'">
      <span class="w-[368px] h-[336px] totem-skeleton"></span>
      <span class="w-[368px] h-[336px] totem-skeleton"></span>
      <span class="w-[368px] h-[336px] totem-skeleton"></span>
      <span class="w-[368px] h-[336px] totem-skeleton"></span>
    </div>
  </div>
</ng-template>
