
<div class="w-full h-auto flex flex-col items-start justify-center relative mt-12">
<div class="flex md:hidden flex-wrap xl:flex-nowrap flex-row items-center justify-start px-6">
  <p class="whitespace-nowrap w-full xl:w-min text-[16px] md:text-[20px] lg:text-[24px] font-medium leading-[17px] md:leading-[35px]">Showing on several games </p>
  <totem-entity-selector class="whitespace-nowrap mb-6 mt-2 text-[32px] sm:text-[28px] font-semibold leading-[35px]" [assets]="(avatars$ | async)!" [activeAsset]="selectedAsset$ | async" (assetSelected)="setAsset($event)"></totem-entity-selector>
</div>
<div class="w-full h-auto flex flex-row items-end justify-between relative px-6 xmd:px-10 pb-6" *ngIf="(selectedGame$ | async) && (selectedAsset$ | async)">

  <div class="selected-card-wrapper relative flex flex-col items-end justify-between z-1 min-w-[236px] lg:min-w-[290px] xxml:max-w-[360px] md:max-w-[328px] max-w-full w-full">
    <totem-selected-asset-card class="w-full" *ngIf="selectedAsset$ | async" [asset]="selectedAsset$ | async"></totem-selected-asset-card>
    <div class="w-full" [ngStyle]="numberOfDisplayedCards == 0 ? {'padding-left': '40px', 'padding-right': '40px'} : {}">
      <ng-container *ngTemplateOutlet="largeGameBar, context: {selectedGame: selectedGame$ | async}"></ng-container>
    </div>
    <div class="rounded-full card-bg-glow absolute -top-[10px] -left-[10px] -right-[10px] w-full h-[313px] lg:h-[390px] xxml:h-[472px] -z-1"></div>
  </div>

  <div class="flex flex-col items-start justify-start w-full max-w-[1032px] z-1" *ngIf="numberOfDisplayedCards != 0">

    <div class="hidden md:flex flex-wrap xl:flex-nowrap flex-row items-center justify-start">
      <p class="whitespace-nowrap w-full xl:w-min text-[32px] sm:text-[20px] lg:text-[24px] xxml:text-[40px] font-medium leading-[35px] lg:leading-[26px] xxml:leading-[44px] xl:mr-5">Showing on several games </p>
      <totem-entity-selector class="whitespace-nowrap text-[32px] sm:text-[28px] xxml:text-[40px] font-semibold leading-[35px] sm:leading-[30px] xxml:leading-[44px]" [assets]="(avatars$ | async)!" [activeAsset]="selectedAsset$ | async" (assetSelected)="setAsset($event)"></totem-entity-selector>
    </div>

    <ng-container *ngIf="(selectedGames$ | async)?.length && (selectedAssets$ | async)?.length">
      <div class="w-full flex flex-row items-end justify-between mt-[22px] xxl:mt-[26px] xxml:mt-[34px] gap-4">
        <ng-container *ngFor="let asset of (selectedAssets$ | async) | slice: 0:numberOfDisplayedCards; let i = index">
          <div class="flex flex-col items-start justify-start min-w-[208px] max-w-[324px] w-full">
            <totem-start-screen-asset-card class="w-full" *ngIf="selectedAsset$ | async" [asset]="asset"></totem-start-screen-asset-card>
            <ng-container *ngTemplateOutlet="smallGameBar, context: {game: (selectedGames$ | async)![i]}"></ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>

  </div>

  <div class="absolute z-0 bg-block h-[280px] w-full bottom-0 left-0 right-0"></div>
</div>
</div>




<ng-template #largeGameBar let-game="selectedGame">
  <ng-container *ngIf="game">
    <a
      class="mt-4 xxml:mt-6 w-full h-[66px] px-2 large-game-bar flex flex-row items-center justify-start cursor-pointer relative"
      routerLink="/game/{{game?.id}}">
      <div class="w-[50px] h-[50px] rounded-[12px] overflow-hidden shrink-0">
        <img class="w-full h-full object-cover" [src]="game.images?.smallThumbnail" alt="Thumb">
      </div>
      <div class="flex flex-col h-full items-start justify-center ml-2">
        <p class="text-[16px] font-normal leading-[17px]">{{game.general?.name}}</p>
        <p class="text-[14px] font-medium leading-[15px] mt-1 t-col-light-grey">{{game.general?.genre![0]}}</p>
      </div>
      <div *ngIf="numberOfDisplayedCards == 0" @toggleSmallGameSelector (click)="selectPrevGame(); $event.stopPropagation()" class="absolute -left-[52px] top-[10] change-game-button rounded-full flex items-center justify-center cursor-pointer z-2">
        <mat-icon class="transform !h-8 !w-8" [svgIcon]="'line:arrow_right'"></mat-icon>
      </div>
      <div *ngIf="numberOfDisplayedCards == 0" @toggleSmallGameSelector (click)="selectNextGame(); $event.stopPropagation()" class="absolute -right-[52px] top-[10] change-game-button rounded-full flex items-center justify-center cursor-pointer z-2">
        <mat-icon class="!h-8 !w-8" [svgIcon]="'line:arrow_right'"></mat-icon>
      </div>
    </a>
  </ng-container>
</ng-template>

<ng-template #smallGameBar let-game="game">
  <ng-container *ngIf="game">
    <a class="mt-4 xxml:mt-6 max-w-[324px] w-full h-[66px] px-2 small-game-bar flex flex-row items-center justify-start cursor-pointer" routerLink="/game/{{game?.id}}">
      <div class="w-[50px] h-[50px] rounded-[12px] overflow-hidden shrink-0">
        <img class="w-full h-full object-cover" [src]="game.images?.smallThumbnail" alt="Thumb">
      </div>
      <div class="flex flex-col h-full items-start justify-center ml-2">
        <p class="text-[16px] font-normal leading-[17px]">{{game.general?.name}}</p>
        <p class="text-[14px] font-medium leading-[15px] mt-1 t-col-light-grey">{{game.general?.genre![0]}}</p>
      </div>
    </a>
  </ng-container>
</ng-template>
