
@import 'styles/scss/variables';

.tag {
    height: 40px;
    white-space: nowrap;
    cursor: pointer;
    background-color: $grey;
    padding: 10px;
    color: $light-grey;
    margin-right: 12px;
    border-radius: 4px;

    span {
        margin-right: 15px;
    }

    .mat-icon {
        width: 8px;
        height: 8px;
    }
}