
<div class="profile-wrapper mt-[30px] lg:mt-[64px]">
  <div class="profile-info">
    <div class="banner-image">
      <img loading="lazy" [src]="imageUrl || user?.image || 'assets/icons/profile/banner.svg'" alt="banner">
      <div class="edit-button">
        <totem-file-input (fileSelected)="setImageUrl($event)"></totem-file-input>
      </div>
    </div>
    <div class="user-info">
      <div class="user-info-icon">
        <img loading="lazy" *ngIf="!user?.avatar" src="assets/icons/nav/account_circle.svg" alt="profile-icon">
        <img loading="lazy" *ngIf="user?.avatar" [src]="user.avatar" alt="profile-icon" class="rounded-full">
      </div>
      <div class="user-info-data">
        <ng-container *ngIf="user?.name?.length">
          <div class="user-data">
            <div class="user-name">
              {{user?.name}}
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="center center"
              [cdkCopyToClipboard]="user?.fullWallet"
              [cdkCopyToClipboardAttempts]="2"
              (cdkCopyToClipboardCopied)="notify()"
              class="user-id"
              >
              <span fxHide.lt-md>{{user?.fullWallet}}</span>
              <span fxHide.gt-sm>{{user?.wallet}}</span>
              <div class="line-copy_small"></div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!user?.name?.length">
          <div class="user-data">
            <div
              fxLayout="row"
              fxLayoutAlign="center center"
              [cdkCopyToClipboard]="user?.fullWallet"
              [cdkCopyToClipboardAttempts]="2"
              (cdkCopyToClipboardCopied)="notify()"
              class="user-name"
              >
              <span fxHide.lt-lg>{{user?.fullWallet}}</span>
              <span fxHide.gt-md>{{user?.wallet}}</span>
              <div class="line-copy_small copy-lg"></div>
            </div>
          </div>

        </ng-container>
        <div class="button-wrapper">
          <button matRipple class="fav-button" (click)="goToFavourites()">
            <div class="icon-font-favourite"></div>
            Favorites
          </button>
          <button matRipple class="msg-button" (click)="goToMessages()">
            <mat-icon>mail_outline</mat-icon>
            Messages
          </button>
        </div>
        <div class="plate-button-wrapper">
          <div matRipple class="msg-button" (click)="goToMessages()">
            <mat-icon>mail_outline</mat-icon>
          </div>
          <div matRipple class="fav-button" (click)="goToFavourites()">
            <div class="icon-font-favourite"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
