
@import 'styles/scss/variables';


.img{
    background: $item-gradient;
}

.container {
    transition: all 0.2s ease-out;
    overflow: hidden;
    max-width: 440px;
    position: relative;
    max-height: 50px;
    margin-bottom: 8px;

    & .menu-filter {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.point-icon {
    color: $yellow;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -10px;
    top: 21px;
}

label {
    cursor: pointer;
    display: flex;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

input {
    margin: auto 8px auto auto;
}



