<form class="form-section" [formGroup]="gameDetails">
    <h3>Game details preview</h3>

    <div class="info-block">
      <div class="info-block-wrapper">

        <div class="block-section pt-[10px] sm:pt-[40px]">
          <h4>Status</h4>
          <div class="input-section">
            <input type="text" formControlName="status" (blur)="saveValue()">
            <span @showMessage class="error-message" *ngIf="statusErrors">Required field</span>
            <span>Write a current status of game development</span>
          </div>
        </div>

        <div class="block-section">
          <h4>Platforms</h4>
          <div class="tags-section">
            <form-dropdown 
            (selectedTag)="onSelectTag($event)" 
            (removeTag)="onRemoveTag($event)"
            (touched)="onTouchDropdown()" 
            [setItems]="setItems"
            [title]="'Add platforms'" 
            [items]="dropdownPlatforms"
            class="outline-light-grey" 
            [ngClass]="dropdownTouched && platformTags.length === 0 ? 'outline-error':''"></form-dropdown>
            <span @fade-in class="error-message" *ngIf="dropdownTouched && platformTags.length === 0">Required field</span>
            <div class="tags">
              <div @fade-in class="tag" *ngFor="let platform of platformsForm.controls" (click)="onRemovePlatform(platform)">
                <span>{{platform.value}}</span>
                <!-- <mat-icon [svgIcon]="'line:close'"></mat-icon> -->
                <div class="line-close"></div>
              </div>
            </div>
            <span>Choose the platforms the game supports</span>
          </div>
        </div>

        <div class="block-section pt-[10px] sm:pt-[40px]">
          <h4>Made with<span class="pl-[10px]">(Optional)</span></h4>
          <div class="input-section">
            <input type="text" formControlName="madeWith" (blur)="saveValue()">
            <span>List programs and tools that were used to create a game</span>
          </div>
        </div>

        <div class="block-section pt-[10px] sm:pt-[40px]">
          <h4>Session<span class="pl-[10px]">(Optional)</span></h4>
          <div class="input-section">
            <input type="text" formControlName="avarageSession" (blur)="saveValue()">
            <span>Write time of average session</span>
          </div>
        </div>

        <div class="block-section pt-[40px]">
          <h4>Languages<span class="pl-[10px]">(Optional)</span></h4>
          <div class="input-section">
            <input type="text" formControlName="languages" (blur)="saveValue()">
            <span>Write the languages ​​the game supports</span>
          </div>
        </div>

        <div class="block-section pt-[10px] sm:pt-[40px]">
          <h4>Inputs<span class="pl-[10px]">(Optional)</span></h4>
          <div class="input-section">
            <input type="text" formControlName="inputs" (blur)="saveValue()">
            <span>List the types of inputs that the game supports</span>
          </div>
        </div>

      </div>
    </div>
</form>
