<div
    class="w-full flex flex-col text-yellow py-4 mt-3 overflow-x-auto whitespace-nowrap scroll-x-yellow  max-w-7xl mx-auto"
    *ngIf="transactions">

    <div class="text-center grid w-full grid-cols-6 font-bold py-2 border-b border-b-solid border-yellow min-w-4xl">
        <h4>Order</h4>
        <h4>Hash</h4>
        <h4>From</h4>
        <h4>To</h4>
        <h4>Value</h4>
        <h4>Token Id</h4>

    </div>

    <div *ngFor="let transaction of transactions; let i = index"
        class="text-center grid w-full grid-cols-6 my-row my-2 min-w-4xl truncate">

        <h4 class="truncate px-1">{{ i + 1 }}</h4>
        <h4 class="truncate px-1"><a class="a-hov-black"
                href="{{'https://mumbai.polygonscan.com/tx/' + transaction.hash}}" target="_blank">{{
                transaction.hash }}</a></h4>
        <h4 class="truncate px-1"><a class="a-hov-black"
                href="{{'https://mumbai.polygonscan.com/address/' + transaction.from}}" target="_blank">{{
                transaction.from }}</a></h4>
        <h4 class="truncate px-1"><a class="a-hov-black"
                href="{{'https://mumbai.polygonscan.com/address/' + transaction.to}}" target="_blank">{{
                transaction.to }}</a></h4>
        <h4 class="truncate px-1">{{ transaction.rawContract.value }}</h4>
        <h4 class="truncate px-1">{{ transaction.tokenId }}</h4>

    </div>
</div>

<div *ngIf="transactions && transactions.length === 0" class="flex">
    <h3 class="m-auto">No Transactions</h3>
</div>

<div *ngIf="transactions === undefined" class="flex">
    <loading-spinner class="m-auto"></loading-spinner>
</div>