<div class="flex flex-col justify-center flex-wrap w-full">
    <!-- <filter-slider></filter-slider> -->

    <div class="flex flex-col">
        <div class="flex justify-between py-[15px]">
            <search-dropdown [title]="'Game name'"></search-dropdown>
            <sort-by></sort-by>
        </div>
    
        <div class="flex w-full py-[15px]">
            <filter-tags></filter-tags>
        </div>
    </div>

    <div class="flex flex-wrap">
        <item-card class="m-[10px] flex grow" *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0,0]"></item-card> 
    </div>

</div>